@font-face {
  font-family: "QANELAS";
  src: url("../fonts/QANELAS-BLACK.OTF");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "QANELAS";
  src: url("../fonts/QANELAS-BOLD.OTF");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "QANELAS";
  src: url("../fonts/QANELAS-SEMIBOLD.OTF");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "QANELAS";
  src: url("../fonts/QANELAS-MEDIUM.OTF");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "QANELAS";
  src: url("../fonts/QANELAS-REGULAR.OTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "QANELAS";
  src: url("../fonts/QANELAS-LIGHT.OTF");
  font-weight: 300;
  font-style: normal;
}
.hidden{
  display: none !important;
}
.moto_item_block source:focus {
  outline: none;
}

.tarifs .table thead th:nth-child(2) {
  border-radius: 0px;
}

.tarifs {
  padding-top: 80px;
  padding-bottom: 60px;
}

.tarifs table thead th {
  background-color: #e5f3f8;
  color: #333333;
  font-weight: bold;
  border: 1px solid #fff !important;
}

.tarifs table thead td {
  border: 1px solid #fff !important;
}

.tarifs table thead th:first-child {
  font-weight: normal;
  color: #333333;
}

.tarifs .table td {
  font-weight: bold;
}

.tarifs .table td:first-child {
  font-weight: normal;
}

.tarifs .table thead th:nth-child(1) {
  background-color: #e5f3f8;
}

.tarifs .table thead th:nth-child(2) {
  background-color: #e5f3f8;
}

.tarifs .table td,
.table th {
  padding: 11px 27px;
}

.tarifs .table td:last-child,
.tarifs .table th:last-child {
  padding-right: 80px;
}

.tarifs .table {
  margin-bottom: 25px;
}

.tarifs h2 {
  margin-bottom: 60px;
}

.char-moto h2 {
  margin-bottom: 45px;
}

.char-moto {
  padding-top: 40px;
}

.char-moto .char-moto-table {
  width: 100%;
  max-width: 680px;
  margin: auto auto 40px auto;
}

.slider-nav .slick-prev,
.slider-nav .slick-next {
  background-color: #dde3e6;
  max-height: 135px;
  border-radius: 5px;
  width: 25px;
  margin-top: 4px;
  height: 100%;
}

.moto_item_block picture:focus {
  outline: none;
}

.slider-nav .slick-prev:before {
  content: "\2039";
  width: 10px;
  height: 17px;
  font-weight: bold;
  font-size: 27px;
  color: #333333;
}

.slider-for .slick-prev:before {
  content: "\2039";
  width: 30px;
  height: 57px;
  font-weight: bold;
  font-size: 45px;
  color: #fff;
}

.char-moto .moto-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.char-moto .moto-text-item {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.char-moto .moto-text-item .moto-text {
  margin-bottom: 20px;
}

.char-moto table thead th {
  border: 1px solid #fff !important;
}

.slick-slider-moto:hover .slick-prev:before:hover {
  color: #fff;
}

.slider-nav .slick-next:before {
  content: "\203A";
  width: 10px;
  height: 17px;
  font-weight: bold;
  font-size: 27px;
  color: #333333;
}

.slider-for .slick-next:before {
  content: "\203A";
  width: 30px;
  height: 57px;
  font-weight: bold;
  font-size: 45px;
  color: #fff;
}

.slick-slider-moto .slider-for img {
  border-radius: 10px;
}

.slick-slider-moto .slick-next:before:hover {
  color: #fff;
}

.slider-nav .slick-prev:hover,
.slider-nav .slick-prev:focus,
.slider-nav .slick-next:hover,
.slider-nav .slick-next:focus {
  background-color: #dde3e6;
}

.slick-slider-moto .slick-prev {
  left: 0px;
  z-index: 5;
}

.slider-for .slick-prev {
  width: 30px;
  height: 57px;
}

.slick-slider-moto .slick-next {
  right: 0px;
  z-index: 5;
}

.slider-for .slick-next {
  right: 10px;
  width: 30px;
  height: 57px;
}

.slick-slider-moto .slick-dots {
  display: none !important;
}

.slider-nav img {
  margin: 8px 4px 0px 4px;
  min-height: 90px;
  border-radius: 5px;
  max-width: 170px;
}

.menu__item-dropdown {
  display: none;
  width: 75px;
  position: absolute;
  top: 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 8px 20px 8px rgba(95, 153, 188, 0.16);
  box-shadow: 0 8px 20px 8px rgba(95, 153, 188, 0.16);
  z-index: 10;
  flex-direction: column;
  text-align: center;
}

.menu__item-dropdown,
.menu__item-dropdown:after {
  background-color: #fff;
  left: 50%;
  border-radius: 8px;
}

.menu__item-dropdown .dropdown__item {
  position: relative;
  z-index: 3;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 8px;
}

.menu__item-dropdown {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.main .menu__item-dropdown a {
  padding: 16px 13px;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.menu__item {
  position: relative;
}

.menu__item.with-dropdown.active {
  display: inline-block;
  margin-right: 65px;
  right: 0;
  top: 24px;
  position: absolute;
  z-index: 2;
}

.menu__item-dropdown:before {
  position: absolute;
  width: 100%;
  height: 50px;
  top: -27px;
  content: "";
}

.menu__item-dropdown,
.menu__item-dropdown:after {
  left: 50%;
  content: "";
  background-color: #fff;
  border-radius: 3px;
}

.menu__item-dropdown:after {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -10px;
  box-shadow: 0 8px 20px 8px rgba(95, 153, 188, 0.16);
  z-index: -1;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.main .menu__item-dropdown.active a {
  color: rgb(4, 138, 191);
}

.menu__item:hover .menu__item-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item.with-dropdown.active:focus {
  outline: none;
}

.language {
  text-align: right;
  position: relative;
}

.language a {
  font-size: 16px;
  font-weight: 600;
  color: #048abf;
  letter-spacing: normal;
}

.main.moto .language a {
  color: #fff;
}

.moto_item_block {
  padding-top: 55px;
}

.moto_item_block .characteristics {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.moto_item_block .characteristics_item {
  padding-top: 37px;
  padding-bottom: 43px;
}

.moto_item_block .money {
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.moto_item_block .booking.moto_order {
  margin-left: 0px;
  margin-top: 38px;
}

.moto_item_block_name {
  font-family: "QANELAS";
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000;
}

.char-moto .char-moto-table td {
  padding: 18px 35px;
  border: 1px solid #fff !important;
  border-radius: 4px;
}

.char-moto .char-moto-table td.span {
  font-weight: bold;
}

.char-moto table.char-moto-table tbody tr {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.char-moto .char-moto-table tr:nth-child(1n) {
  background-color: rgb(229, 243, 248);
}

.char-moto .char-moto-table tr:nth-child(even) {
  background-color: #fff;
}

.char-moto .char-moto-table {
  max-width: 870px;
}

.main.moto .menu__item-dropdown a {
  color: #048abf;
}

.language .menu__item > a span {
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #048abf;
  border-radius: 2px;
  margin-left: 4px;
  display: inline-flex;
}

.footer a {
  color: rgb(51, 51, 51);
}

.footer.moto {
  background: #0490c2;
}

.footer a:hover {
  color: rgb(51, 51, 51);
}

.navbar-brand {
  white-space: normal !important;
}

.logo__image {
  fill: #fff;
}

.logo {
  max-width: 182px;
  width: 100%;
}

.logo a {
  display: flex;
  align-items: center;
}

p.logo-text {
  font-size: 14px;
  line-height: 1.429;
  color: #fff;
  max-width: 130px;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 10px;
}

.col-lg-2 .contacts_item a {
  display: flex;
  text-align: left;
}

#raketa_callback .raketa_btn {
  text-align: center;
  position: fixed;
  right: 10vw;
  bottom: 10vh;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  z-index: 9;
}

#raketa_callback .raketa_btn:hover {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

#raketa_callback .raketa_btn:hover .raketa_pulse {
  -webkit-box-shadow: 0 2px 5px rgb(246, 176, 2);
  box-shadow: 0 2px 5px rgb(246, 176, 2);
}

#raketa_callback .raketa_btn-wrap {
  text-align: center;
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
}

#raketa_callback .raketa_phone {
  fill: rgb(246, 176, 2);
  position: relative;
  z-index: 2;
}

#raketa_callback .raketa_pulse {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: visible;
  -webkit-box-shadow: 0 5px 10px rgb(246, 176, 2);
  box-shadow: 0 5px 10px rgb(246, 176, 2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.15s ease;
  transition: -webkit-box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

#raketa_callback .raketa_pulse .raketa_pulse-bg {
  fill: rgb(246, 176, 2);
}

#raketa_callback .raketa_pulse .raketa_pulse-icon {
  fill: #fff;
}

#raketa_callback .raketa_pulse circle.raketa_pulse-wave {
  -webkit-animation: raketa_pulse-me 4s linear infinite;
  animation: raketa_pulse-me 4s linear infinite;
  fill: rgb(246, 176, 2);
}

#raketa_callback .raketa_pulse circle.raketa_pulse-wave:nth-child(2) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

#raketa_callback .raketa_pulse circle.raketa_pulse-wave:nth-child(3) {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

@-webkit-keyframes raketa_pulse-me {
  0% {
    r: 0;
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.09;
  }
  100% {
    r: 100;
    opacity: 0;
  }
}

@keyframes raketa_pulse-me {
  0% {
    r: 0;
    opacity: 0;
  }
  30% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.09;
  }
  100% {
    r: 100;
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  #raketa_callback .raketa_btn {
    bottom: 6vh;
  }
  #raketa_callback .raketa_btn-wrap,
  #raketa_callback .raketa_btn-wrap svg {
    width: 56px;
    height: 56px;
  }
}

body {
  font-family: "QANELAS";
}

.main {
  background: url("../img/motobike.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main.moto {
  background: #048abf;
}

.rent {
  padding-bottom: 170px;
  padding-top: 30px;
}

.rent .description {
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
}

.help-block {
  display: none;
}

.form-control:focus {
  box-shadow: none;
}

form.col-lg-6 {
  align-items: stretch;
}

button {
  border: none;
}

.rent h1 {
  font-size: 42.429px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 20px;
  font-size: 60px;
}

.rent a {
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.167;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 252px;
  font-size: 24px;
}

.btn_main {
  background-color: rgb(246, 176, 2);
  max-width: 266px;
  width: 100%;
  height: 63px;
  display: inline-flex;
  border-radius: 40px;
  /* border: none;
    text-shadow: 0 -1px 0 rgb(230, 165, 1);
    -webkit-box-shadow: 0 10px 10px rgba(63, 68, 1, 0.3);
    box-shadow: 0 10px 10px rgba(63, 68, 1, 0.3);
    background-size: 100% 200%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe8d05), color-stop(50%, #ff8333), to(#e54d2f));
    background: -webkit-linear-gradient(top, #fe8d05 0, #ff8333 50%, #e54d2f 100%);
    background: linear-gradient(to bottom, #fe8d05 0, #ff8333 50%, ##e54d2f 100%);
    transition: box-shadow .25s ease, background-position .5s ease, -webkit-box-shadow .25s ease; */
}

.btn_main:hover {
  background-position: 0 100%;
  -webkit-box-shadow: 0 4px 4px rgba(156, 167, 9, 0.3);
  box-shadow: 0 4px 4px rgba(156, 167, 9, 0.3);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 30px 0px;
}

.nav__menu-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav__menu-items a {
  text-decoration: none;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.15s ease;
}

.nav__menu-items a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  opacity: 0;
  bottom: -12px;
  left: 0;
}

.nav__menu-items a:hover {
  color: rgba(255, 255, 255, 1);
}

.nav__menu-items a:hover::after {
  opacity: 0.35;
}

.nav__menu li {
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.556;
  text-align: center;
  padding-left: 20px;
  padding-right: 10px;
}

.nav__menu {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
}

.callback {
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
}

.callback a {
  color: #f6b002 !important;
  font-size: 18px;
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 180px;
  height: 48px;
  border: #f6b002 2px solid;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
}

.main.moto .callback a {
  color: #fff !important;
  border: #fff 2px solid;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

a:focus {
  text-decoration: none !important;
  cursor: pointer;
}

.rent_moto {
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  font-size: 48px;
  color: rgb(4, 138, 191);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

p.h2 {
  margin-top: 50px;
  font-size: 48px;
  color: rgb(4, 138, 191);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0px;
}

.description {
  font-size: 24px;
  color: rgb(54, 54, 54);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.rent_moto .col-lg-4 .moto_item {
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 12px 35px 0px rgba(195, 195, 195, 0.38);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.moto_item img {
  width: 100%;
  object-fit: contain;
  height: 260px;
  position: relative;
  z-index: 3;
}

.rent_moto .moto_item:hover .moto_item-overlay::before {
  background-image: -moz-linear-gradient(
    90deg,
    rgb(246, 163, 2) 0%,
    rgb(254, 191, 0) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(246, 163, 2) 0%,
    rgb(254, 191, 0) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgb(246, 163, 2) 0%,
    rgb(254, 191, 0) 100%
  );
}

.rent_moto .moto_item:hover a.booking {
  color: rgb(7, 113, 178) !important;
  background-color: rgb(187, 236, 255);
}

.rent_moto .moto_item-overlay::before {
  transition: 0.3s ease-in-out;
  content: "";
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 2;
  left: -115px;
  top: -140px;
  background-image: -moz-linear-gradient(
    90deg,
    rgb(4, 98, 168) 0%,
    rgb(3, 194, 222) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgb(4, 98, 168) 0%,
    rgb(3, 194, 222) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgb(4, 98, 168) 0%,
    rgb(3, 194, 222) 100%
  );
  transform: rotate(45deg);
}

.tours {
  background: url("../img/fon_moto.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 300px;
  background-position: bottom;
}

.booking {
  background-color: rgb(246, 176, 2);
  display: inline-flex;
  border-radius: 40px;
  color: #fff !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 203px;
  min-height: 55px;
  display: flex;
  margin: 15px auto 0px auto;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
}

p {
  margin-bottom: 0px;
}

.rent_moto .col-lg-4 {
  margin-bottom: 25px;
}

.moto_item .name {
  font-size: 23px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.167;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 83px;
  z-index: 3;
}

.characteristics {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-align: left;
}

.char__items {
  position: relative;
  padding-bottom: 15px;
}

.characteristics span {
  font-weight: bold;
}

/* .char__items::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgb(227, 227, 227);
    bottom: -1px;
    left: 0;
} */

.addition {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 15px;
  min-height: 69px;
  border: 1px solid rgb(227, 227, 227);
  border-left: 0;
  border-right: 0;
  position: relative;
}

.addition.not {
  border: none;
}

/* .addition::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgb(227, 227, 227);
    bottom: -1px;
    left: 0;
} */

.addition span {
  font-weight: bold;
}

.rent_moto .money {
  font-size: 23px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 2.144;
  text-align: left;
}

.more {
  text-align: right;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.more.moto-item a.moto-item-href {
  text-align: right;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.more.moto-item p {
  color: rgb(33, 37, 41);
}

.more.moto-item a.moto-item-href:hover {
  background: #fff;
}

.more img {
  width: 27px;
  height: 30px;
  padding: 5px;
}

a.requirements {
  font-size: 24px;
  color: rgb(246, 176, 2) !important;
  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 30px;
  border-color: rgb(246, 176, 2);
  border-style: solid;
  max-width: 370px;
  margin: auto;
  margin-top: 20px;
}

a.requirements:focus {
  outline: none;
  box-shadow: none;
}

.tours .description {
  margin-bottom: 3px;
  line-height: 1.3;
}

.tours__wrapper {
  min-height: calc(100% - 30px);
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.tours__wrapper .align-items-center{
  padding-bottom: 5px;
}
.tours__wrapper .col-lg-4 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tours__wrapper .col-lg-4 img {
  height: 35px;
  padding: 5px;
}

.tours__wrapper .col-lg-4 .bike {
  fill: rgb(4, 144, 194);
  height: 50px;
}

.tours__wrapper .city {
  font-size: 30px;
  color: rgb(4, 138, 191);
  font-weight: bold;
  line-height: 0.773;
}

.road_tour {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-bottom: 30px;
  position: relative;
}
.road_tour .data{
  display: none;
  position: absolute;
  bottom: -6px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);
  padding: 2px 20px;
  font-size: 20px;
  color: rgb(4, 138, 191);
  background: #fff;
}

.road_tour::after {
  content: "";
  background: url(../img/line.png) no-repeat center/cover;
  width: calc(100% + 60px);
  left: -30px;
  position: absolute;
  height: 10px;
  bottom: -15px;
  bottom: 5px;
}

.road_tours img {
  width: auto;
}

.tours .title {
  margin-bottom: 30px;
}

.img__city img {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.char_road {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  padding-bottom: 20px;
}
.char_road .col{
  width: auto;
  padding: 0 5px;
  flex-basis: auto;
}

.char_road span {
  font-weight: bold;
}

.prices-blue::after {
  background: #d5ebf4;
  width: calc(100% + 30px);
  left: -30px;
  position: absolute;
  height: 100%;
  bottom: 5px;
  content: "";
}
.prices {
  position: relative;
}
.prices .text{
  position: relative;
  z-index: 1;
  line-height: 1.2;
  padding: 10px 0;
  color: #000;
}
.prices p {
  font-size: 16px;
  color: rgb(4, 138, 191);
  font-weight: bold;
  line-height: 1.5;
}

p.length_road {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
}

p.length_road {
  font-weight: bold;
}

.tours__wrapper ul {
  padding-left: 20px;
}

.prices .row {
  z-index: 2;
  position: relative;
}

.equipment {
  padding-top: 60px;
}

.equipment ol {
  counter-reset: list;
}

.equipment li {
  padding: 0 0 50px 35px;
  list-style-type: none;
  position: relative;
}

.equipment li:last-child::after {
  display: none;
}

.equipment li:last-child {
  padding-bottom: 0px;
}

.equipment li::before {
  counter-increment: list;
  content: counter(list);
  display: flex;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  justify-content: center;
  align-items: center;
  background-color: #f6b002;
  width: 51px;
  height: 51px;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  z-index: 3;
}

.equipment li::after {
  height: 100%;
  width: 8px;
  color: #f6b002;
  content: "";
  position: absolute;
  top: 0;
  left: -27px;
  background: #f6b002;
}

.equipment li span {
  font-size: 24px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 0.967;
}

.equipment h2 {
  margin-bottom: 50px;
}

.table {
  width: auto;
  margin: auto;
  border: none;
}

table thead {
  background-color: rgb(4, 138, 191);
  color: #fff;
}

tr {
  background-color: #fff;
}

.table thead th:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(4, 138, 191);
  color: #fff;
}

.table thead th {
  background-color: rgb(4, 138, 191);
}

.table thead th:nth-child(2) {
  border-radius: 0 10px 10px 0;
  background-color: rgb(4, 138, 191);
}

td,
th {
  border: none !important;
}

td span {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgb(229, 243, 248);
}

.equipment {
  background: url("../img/bg_moto_test.png");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.received_after {
  background: url("../img/moto_background.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.received_after .row {
  padding-bottom: 50px;
}

.received_after .row:last-child {
  padding-bottom: 30px;
}

.received_after li::before {
  background-image: url("../img/shape.svg");
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  left: -20px;
  text-align: center;
  content: "";
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
}

.received_after .booking {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.167;
  text-align: center;
  max-width: 280px;
  width: 100%;
  min-height: 60px;
  cursor: pointer;
}

.contacts {
  background-color: rgb(4, 144, 194);
  padding: 30px 0;
}

.contacts_item {
  text-align: center;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts_item img {
  margin: auto;
  height: 30px;
}

.contacts_item ul li {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin: auto;
}

.contacts_item a {
  margin: 0 10px;
}

.components {
  padding-bottom: 50px;
  padding-top: 50px;
}

.components_item img {
  fill: rgb(4, 144, 194);
  height: 68px;
}

.components_item {
  text-align: center;
  padding: 20px;
}

.components_item .bold {
  font-size: 24px;
  color: rgb(4, 138, 191);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 18px;
}

.components_item p {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}

.received_after li {
  padding: 0 0 60px 35px;
  list-style-type: none;
  position: relative;
}

.received_after li span {
  font-size: 24px;
  color: rgb(54, 54, 54);
  font-weight: bold;
  line-height: 1;
  text-align: right;
  width: 204px;
  height: 70px;
  position: relative;
}

.prepayment {
  max-width: 314px;
}

.left {
  text-align: left;
  margin: auto;
}

.right {
  margin: auto;
}

.benefits {
  padding-top: 80px;
  padding-bottom: 80px;
}

.benefits h2 {
  margin-bottom: 50px;
}

.benefits p {
  font-size: 16px;
  color: rgb(54, 54, 54);
  line-height: 1.2;
  margin-bottom: 20px;
}

.benefits span {
  font-weight: bold;
  font-size: 26px;
}

.benefits ul {
  padding-inline-start: 25px;
}

.benefits li {
  line-height: 25px;
  font-size: 16px;
}

.moto_item-overlay {
  overflow: hidden;
  margin: -25px -25px 0 -25px;
  height: 100%;
  position: relative;
}

.moto_item-overlay-not {
  overflow: hidden;
  margin: -25px -25px 0 -25px;
  height: 100%;
}

.moto_item {
  max-width: 500px;
  padding: 25px 35px;
  margin: 0;
}

.moto__item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gift {
  background: url("../img/sertificate_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  padding-top: 80px;
}

.gift .text_bold {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.801;
}

.gift p span {
  font-size: 85px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.201;
}

.gift p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.certificate {
  max-width: 250px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.167;
  text-align: center;
}

.footer {
  background: url("../img/background_footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}
.partners{
  padding: 50px 0;
}
@media(max-width: 767px) {
  .partners{
    padding: 30px 0;
  }
}
.partners-row{
  align-items: center;
}
.partners-row img{
  max-width: 100%;
}
.main.moto .language .menu__item > a span {
  border-left: 6px solid #fff;
}

.footer .description {
  padding-bottom: 40px;
}

.footer.moto.text {
  background: #fff;
  padding-bottom: 0px;
}

.footer.moto.text .description {
  padding-bottom: 40px;
}

.carousel_section {
  padding-top: 155px;
  padding-bottom: 40px;
}

.footer a.nav__phone {
  position: relative;
  font-size: 16px;
  color: rgb(54, 54, 54);
  line-height: 1.875;
}

a.first__modal {
  font-weight: bold;
  font-size: 18px;
  color: rgb(54, 54, 54);
  padding-top: 5px;
  padding-bottom: 10px;
}

.footer .nav__phone.first::before {
  background-image: url(../img/call-answer.svg);
  position: absolute;
  left: -30px;
  background-repeat: no-repeat;
  height: 25px;
  content: "";
  width: 25px;
}

.footer.moto .nav__phone.first::before {
  background-image: url(../img/call-answer-white.svg);
}

.footer .call {
  margin-bottom: 30px;
  margin-top: 10px;
  max-width: 180px;
}

.footer .adress p::before {
  background-image: url(../img/locate.svg);
  position: absolute;
  left: -17px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 34px;
  content: "";
}

.footer.moto .adress p::before {
  background-image: url(../img/locate-white.svg);
}

.footer .adress {
  position: relative;
}

.footer input {
  background-color: rgb(255, 255, 255);
  max-width: 264px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 20px;
  padding-left: 25px;
}

button:focus {
  outline: none;
}

.navbar-collapse {
  width: 100vw;
  position: fixed;
  left: -15px;
  top: 0;
  z-index: 5;
  height: 100vh;
  transition: transform 0.15s ease-in-out;
  background: rgba(4, 138, 191, 0.95);
}

.collapse-overlay {
  opacity: 0;
  background: rgba(4, 138, 191, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 0.15s ease-in-out;
}

.collapse-overlay.show {
  z-index: 4;
  opacity: 1;
}

.collapsing {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.15s ease-in-out;
  transform: translateX(100%);
}

.navbar-collapse.collapse {
  transform: translateX(100%);
}

.navbar-collapse.collapse.show {
  transform: translateX(50%);
}

.navbar-nav {
  padding: 80px 20px 20px;
}

.navbar-nav.mr-auto {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.navbar-toggler {
  z-index: 3;
  fill: rgb(246, 176, 2);
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 32px;
}

.navbar-toggler:not(.collapsed) {
  position: fixed;
}

.footer .booking {
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 1.167;
  max-width: 280px;
  height: 50px;
  cursor: pointer;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgb(31, 134, 203);
  opacity: 1;
}

.field_for_info {
  display: none;
}

.carousel-indicators li.active {
  opacity: 0.3;
}

.active.carousel-item-left,
.carousel-item-prev:not(.carousel-item-right) {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.active.carousel-item-right,
.carousel-item-next:not(.carousel-item-left) {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.carousel.slide {
  padding: 40px;
}

.footer {
  overflow: hidden;
}

.footer .carousel-item {
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(195, 195, 195, 0.38);
  position: relative;
  width: 100%;
  height: 412px;
  text-align: center;
  padding: 30px;
  position: relative;
  background-color: #fff;
}

.footer .carousel-item:nth-child(2)::before {
  background-image: url("../img/review.png");
}

.footer .carousel-item:before {
  position: absolute;
  top: -155px;
  left: 0;
  right: 0;
  width: 194px;
  height: 194px;
  border-radius: 50%;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.footer .carousel-item:nth-child(1)::before {
  background-image: url("../img/photo_anton.jpg");
}

.footer .carousel-item:nth-child(3)::before {
  background-image: url("../img/vladimir.jpg");
}

.footer .carousel-item:nth-child(4)::before {
  background-image: url("../img/elizaveta.jpg");
}

.footer .carousel-item:nth-child(5)::before {
  background-image: url("../img/alexey.jpg");
}

.footer .carousel-item:nth-child(6)::before {
  background-image: url("../img/andrey.jpg");
}

.footer .carousel-item:nth-child(7)::before {
  background-image: url("../img/alina.jpg");
}

.footer .carousel-item:nth-child(8)::before {
  background-image: url("../img/feedback-man.jpg");
}

.footer .carousel-item p {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-align: center;
}

.footer .carousel-item .name {
  font-size: 24px;
  color: rgb(4, 138, 191);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
}

.carousel-inner {
  overflow: visible;
  justify-content: center;
}

.modal-backdrop.show {
  opacity: 0.5;
  background: #048dc0;
}

.modal-body {
  padding: 15px;
}

#callback-modal .modal-dialog .modal-body {
  background: url("../img/modal__bike.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

#callback-modal form {
  padding: 40px 0 0 0;
}

.modal_requirements {
  background: url("../img/bg_requirements.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

#callback-modal .modal-dialog .modal-content {
  width: 100%;
  margin: auto;
  max-width: 420px;
  min-height: 540px;
  border-radius: 20px;
}

.tarif-modal .modal-content {
  padding: 20px 25px;
  border-radius: 20px;
}

#callback-modal .modal-body img {
  padding: 15px;
}

#callback-modal .modal-body img:focus {
  outline: none;
}

#callback-modal .modal-body input {
  background-color: rgb(255, 255, 255);
  max-width: 320px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-bottom: 20px;
  padding-left: 25px;
}

#callback-modal .modal-body button.booking {
  max-width: 320px;
  margin-top: 0px;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

h2.requirements_item {
  font-size: 24px;
  color: rgb(4, 138, 191);
  font-weight: 500;
  line-height: 1.167;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 20px;
}

.tariffs_item p {
  font-size: 24px;
  color: rgb(4, 138, 191);
  font-weight: 500;
  line-height: 1.167;
  text-align: left;
  margin-bottom: 20px;
}

.modal_requirements li {
  padding: 0 0 20px 40px;
  list-style-type: none;
  position: relative;
}

.modal_requirements ol {
  padding: 0;
}

#requirements-modal .modal-dialog {
  max-width: 850px;
}

.modal-content {
  border: none;
  box-shadow: 0px 6px 32px 0px rgba(25, 25, 25, 0.27);
}

.close {
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.close:hover,
.close:focus {
  outline: none;
  box-shadow: none;
}

.modal_requirements .moto_item {
  max-width: 430px;
  margin-left: 0;
}

.modal_requirements li::before {
  content: "";
  background: url(../img/shape.svg) no-repeat center/cover;
  width: 23px;
  height: 23px;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  left: 0;
  text-align: center;
}

.modal_requirements p.text {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: left;
  padding-right: 40px;
}

.table thead th:nth-child(8) {
  border-radius: 0 10px 10px 0;
}

.tariffs .table thead th:nth-child(2) {
  border-radius: 0px;
}

.tarif-modal .modal-dialog {
  max-width: 775px;
}

.tarif-modal .table {
  width: 100%;
}

.navbar {
  display: none;
}

.navbar-toggler {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  right: 15px;
  top: 38px;
  width: 35px;
  height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navbar-toggler span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-top: 3px;
  background: #f6b002;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform-origin: 4px 0;
  -ms-transform-origin: 4px 0;
  transform-origin: 4px 0;
  z-index: -1;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navbar-toggler span:first-child {
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.navbar-toggler span:nth-last-child(2) {
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.navbar-toggler:not(.collapsed) span:nth-last-child(3) {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-1px, -3px);
  -ms-transform: rotate(45deg) translate(-1px, -3px);
  transform: rotate(45deg) translate(-1px, -3px);
}

.navbar-toggler:not(.collapsed) span {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-1px, -2px);
  -ms-transform: rotate(-45deg) translate(-1px, -2px);
  transform: rotate(-45deg) translate(-1px, -2px);
  background: #f6b002;
}

.navbar-toggler:not(.collapsed) span:nth-last-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0) scale(0.2, 0.2);
  -ms-transform: rotate(0) scale(0.2, 0.2);
  transform: rotate(0) scale(0.2, 0.2);
}

.navbar-toggler:not(.collapsed) span {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-1px, -2px);
  -ms-transform: rotate(-45deg) translate(-1px, -2px);
  transform: rotate(-45deg) translate(-1px, -2px);
  background: #f6b002;
}

.navbar-toggler:not(.collapsed) span {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-1px, -2px);
  -ms-transform: rotate(-45deg) translate(-1px, -2px);
  transform: rotate(-45deg) translate(-1px, -2px);
  background: #f6b002;
}

.nav-link {
  color: #fff !important;
}

.nav-link .nav__cal {
  width: 150px;
  height: 45px;
}

.deleted {
  display: none;
}

.slick-slider {
  display: none !important;
}

.slick-slider.slick-initialized {
  display: block !important;
}

.footer.moto .call a {
  color: #fff;
}

.footer.moto .adress a {
  color: #fff;
}

.btn.nav__cal {
  background-color: #f6b002;
  color: #fff !important;
}

.main-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  max-width: 510px;
  width: 100%;
  margin-left: auto;
  margin-right: 0px;
}

.modal-moto {
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-socials a {
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main-socials__tel {
  margin-left: 10px;
}

.menu__item-dropdown {
  display: none;
  width: 75px;
  position: absolute;
  top: 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 8px 20px 8px rgba(95, 153, 188, 0.16);
  box-shadow: 0 8px 20px 8px rgba(95, 153, 188, 0.16);
  z-index: 10;
  flex-direction: column;
  text-align: center;
}

.menu__item-dropdown a {
  color: #048abf;
}

.main-socials a:hover,
.main-socials a:focus {
  color: #fff;
  text-decoration: none;
}

.main-socials__tel {
  margin-left: 10px;
}

.contacts_item p {
  font-size: 14px;
}

.modal-moto {
  margin-top: 40px;
  margin-bottom: 20px;
}

.mobile_version {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-form {
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}
.footer-form input {
  max-width: 280px;
}

.footer-form .booking {
  margin-top: 0px;
  margin-left: 0px;
}

/* p.money {
  padding-top: 10px;
} */

.btn.nav__cal {
  background-color: #f6b002;
  color: #fff !important;
}

.map-center {
  display: flex;
  justify-content: center;
}

.map-center iframe {
  box-shadow: 0 5px 20px rgba(1, 7, 27, 0.2);
  border-radius: 20px 5px;
}

.mobile_version {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/************ filter home *****************/
.filter-nav{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  padding: 0;
  list-style-type: none;
}
.filter-nav li{
  width: 200px;
  margin-right: 27px;
  margin-bottom: 37px;
}
.filter-nav li:nth-child(5),
.filter-nav li:nth-child(10){
  margin-right: 0;
}
.filter-nav li a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  background: #FFFFFF;
  border: 2px solid #03BFDC;
  box-sizing: border-box;
  border-radius: 35px;
  color: #000;
}
.filter-nav li a:hover,
.filter-nav li a.active{
  background: #F6B002;
  border-color: #F6B002;
  color: #fff;
}
#filter-content .hide{
  display: none !important;
}
@media (min-width: 1738px) {
  .received_after {
    background-size: 100% 100%;
  }
  .prepayment.left {
    margin-left: 0px;
  }
  .prepayment.right {
    margin-right: 0px;
  }
}

@media (max-width: 1930px) {
  .received_after .row {
    padding-bottom: 125px;
  }
  .left {
    margin: 0px;
  }
  .right {
    margin-right: 0px;
  }
}

@media (max-width: 1400px) {
  .received_after .row {
    padding-bottom: 40px;
  }
  .gift p span {
    font-size: 60px;
  }
  .prepayment.left {
    margin: auto;
  }
  .prepayment.right {
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .menu__item.with-dropdown.active a {
    color: #fff;
  }
  .language .menu__item > a span {
    border-left: 6px solid #fff;
  }
  .menu__item.with-dropdown.active {
    top: 24px;
    margin-right: 88px;
  }
  .menu__item-dropdown .dropdown__item a {
    color: #048abf !important;
  }
  .nav__menu-items a {
    font-size: 14px;
  }
  .rent_moto .money {
    font-size: 20px;
    line-height: 1.2;
  }
  .addition {
    min-height: 75px;
  }
  .addition_line {
    padding-top: 10px;
  }
  .contacts .col-lg-2 .contacts_item img:nth-child(1) {
    margin-right: 10px;
  }
  .contacts .col-lg-2 .contacts_item img:nth-child(2) {
    margin-left: 10px;
  }
  .footer .carousel-item .name {
    padding-bottom: 40px;
  }
  .footer .carousel-item p {
    font-size: 14px;
  }
  .footer .call {
    max-width: 200px;
  }
  .footer a.nav__phone {
    padding-left: 30px;
  }
  .footer .nav__phone.first::before {
    left: 0px;
  }
  .footer .adress p::before {
    left: 0px;
  }
  .footer .adress {
    padding-left: 45px;
  }
  .footer .adress p::before {
    left: 12px;
  }
  .filter-nav li,
  .filter-nav li:nth-child(5),
  .filter-nav li:nth-child(10){
    margin-right: 40px;
  }
  .filter-nav li:nth-child(4),
  .filter-nav li:nth-child(8){
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .footer .call {
    margin-bottom: 5px;
    max-width: 100%;
  }
  .footer .adress p::before {
    left: 14px;
  }
}

@media (max-width: 992px) {
  .contacts .col-lg-8 {
    display: none;
  }
  .language {
    display: none;
  }
  .main-socials {
    margin-right: auto;
  }
  .footer-form .booking {
    margin: 20px auto;
  }
  .rent_moto .col-lg-4 .moto_item {
    margin: auto;
  }
  .footer-form .booking {
    margin: 20px auto;
  }
  .main .col-lg-12.language {
    display: none;
  }
  .slick-slider-moto .slider-for picture img {
    max-width: none;
    width: 100%;
  }
  .main.moto .language {
    display: none;
  }
  .moto_item_block .booking.moto_order {
    margin-bottom: 38px;
  }
  .tarifs .table td:last-child,
  .tarifs .table th:last-child {
    padding-right: 40px;
  }
  .tarifs .table td,
  .table th {
    padding: 5px 10px;
  }
  .char-moto .char-moto-table td {
    padding: 5px 10px;
  }
  .footer.moto {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .rent_moto .col-lg-4 .moto_item {
    margin: auto;
  }
  .moto__item__text {
    order: -1;
  }
  .rent_moto .moto_item .col-lg-6 {
    width: 50%;
  }
  .road_tour .row {
    flex-wrap: nowrap;
  }
  .char_road .row {
    flex-wrap: nowrap;
  }
  .rent h1 {
    font-size: 50px;
    max-width: 325px;
    width: 100%;
  }
  .tours__wrapper {
    margin-bottom: 30px;
  }
  .tours {
    padding-bottom: 550px;
  }
  .equipment ol {
    max-width: 350px;
    width: 100%;
  }
  .prepayment {
    max-width: 100%;
  }
  .received_after li {
    padding: 0 0 25px 35px;
  }
  .received_after {
    background: url(../img/moto_background_mobile.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .benefits .col-lg-12:nth-child(2) {
    margin-bottom: 30px;
  }
  .benefits .col-lg-12 .col-lg-6:nth-child(1) {
    margin-bottom: 20px;
  }
  .gift {
    background-position: right;
  }
  .gift .col-lg-5 {
    text-align: center;
  }
  .footer input {
    margin: 20px auto 0px auto;
  }
  .footer .mobile_version {
    max-width: 55%;
    margin: auto;
  }
  .contacts .col-lg-2 .contacts_item img:nth-child(1) {
    margin-right: 10px;
  }
  .contacts .col-lg-2 .contacts_item img:nth-child(2) {
    margin-left: 10px;
  }
  .contacts .col-lg-2 .contacts_item p {
    margin: 10px auto 0px auto;
  }
  .navbar {
    display: flex;
    padding: 15px 0;
  }
  .header {
    display: none;
  }
  .contacts_item {
    padding-bottom: 10px;
  }
  .filter-nav li,
  .filter-nav li:nth-child(4),
  .filter-nav li:nth-child(8){
    margin-right: 40px;
  }
  .filter-nav li:nth-child(3),
  .filter-nav li:nth-child(6),
  .filter-nav li:nth-child(9),
  .filter-nav li:nth-child(12){
    margin-right: 0;
  }
}

@media (max-width: 810px) {
  .main .language {
    display: none;
  }
  .carousel.slide {
    padding: 0 0 40px 0;
  }
  .main .logo img {
    width: 70px;
  }
  .rent h1 {
    font-size: 30px;
  }
  .btn_main {
    width: 200px;
    height: 50px;
  }
  .table thead th {
    vertical-align: middle;
  }
  .equipment ol {
    max-width: 320px;
    width: 100%;
  }
  .prepayment {
    max-width: 64%;
    margin-left: 0px !important;
  }
  .gift {
    background-position: center;
    background-image: url(../img/sertificate_bg_mobile.png);
  }
  .gift .col-lg-5 {
    text-align: right;
  }
  .booking.certificate {
    margin-right: 0;
  }
  .footer .carousel-item p {
    font-size: 13px;
  }
  .footer .call {
    text-align: center;
    margin: 0 auto;
  }
  .footer .adress {
    text-align: center;
  }
  .footer .adress p::before {
    left: 5px;
    top: -6px;
  }
  .footer .booking {
    max-width: 250px;
  }
  .contacts .contacts_item img {
    display: none;
  }
  .footer .adress p::before {
    left: 18px;
    top: 0px;
  }
}

@media (max-width: 768px) {
  .slider-nav img {
    max-width: 120px;
  }
  .slick-slider-moto .slick-prev,
  .slick-slider-moto .slick-next {
    height: 95px;
  }
  .tarifs {
    padding-top: 45px;
    padding-bottom: 35px;
  }
  .tarifs .table td,
  .table th {
    font-size: 12px;
  }
  .char-moto .char-moto-table td,
  .char-moto .char-moto-table th {
    font-size: 12px;
  }
  .char-moto .char-moto-table td {
    padding: 5px 5px;
  }
}

@media (max-width: 767px) {
  .modal_requirements {
    background: none;
  }
  .modal_requirements .moto_item {
    max-width: 100%;
  }
  .modal_requirements p.text {
    padding-right: 0px;
  }
  .filter-nav {
    justify-content: space-around;
  }
  .filter-nav li{
    margin-right: 0px !important;
    margin-bottom: 20px;
  }
}

@media (max-width: 612px) {
  .tours {
    padding-bottom: 200px;
    background-size: 200%;
  }
  .deleted {
    display: block;
  }
  .non-deleted {
    display: none;
  }
  .footer .carousel-item {
    padding: 15px;
  }
  .footer .adress p::before {
    left: 23px;
  }
  .main-socials {
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .tarif-modal .modal-body {
    padding: 0px;
  }
  .table td,
  .table th {
    padding: 10px 5px !important;
  }
  .rent .description {
    font-size: 18px;
  }
  .slider-nav img {
    max-width: 105px;
    min-height: 70px;
  }
  .tarifs .table td,
  .tarifs .table th {
    padding: 7px !important;
  }
  .slick-slider-moto .slick-prev,
  .slick-slider-moto .slick-next {
    height: 80px;
  }
}

@media (max-width: 470px) {
  .rent_moto .moto_item .col-lg-6:nth-child(1) {
    padding-right: 0px;
    align-items: center;
    display: flex;
  }
  p.logo-text {
    display: none;
  }
  .contacts .nav__menu-items {
    display: none;
  }
  .main-socials {
    flex-direction: column;
  }
  .main-socials__tel {
    margin-left: 0px;
  }
  .footer .carousel-item {
    min-height: 490px;
    height: auto;
  }
  .tarifs .table td,
  .tarifs .table th {
    padding: 5px !important;
  }
  .tarifs {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .tarifs h2 {
    margin-bottom: 30px;
  }
  .benefits .col-lg-12:nth-child(2) {
    margin-bottom: 25px;
  }
  .footer .adress p::before {
    left: 15px;
  }
  p.h2,
  h2 {
    font-size: 40px;
  }
  .footer .carousel-item .name {
    padding-bottom: 20px;
  }
  .benefits {
    padding-bottom: 0px;
  }
  .tariffs .table th,
  td {
    font-size: 10px;
  }
  .benefits .col-lg-12 .col-lg-6:nth-child(2) {
    margin-bottom: 20px;
  }
  .equipment {
    background: #fff;
  }
  .rent {
    padding-bottom: 85px;
    padding-top: 39px;
  }
  .btn_main {
    width: 189px;
    height: 40px;
  }
  .rent_moto .moto_item .col-lg-6 {
    width: 50%;
  }
  .slider-nav img {
    max-width: 85px;
    min-height: 70px;
  }
  .prepayment ul {
    padding-left: 15px;
  }
  .filter-nav{
    justify-content: space-between;
  }
  .filter-nav li{
    width: 48%;
  }
  .filter-nav li a{
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .received_after li {
    padding: 0 0 20px 24px;
  }
  .footer .carousel-item {
    min-height: 400px;
    height: auto;
  }
  .rent h1 {
    max-width: 220px;
    width: 100%;
  }
  .rent a {
    font-size: 17px;
  }
  .btn_main {
    width: 166px;
    height: 38px;
  }
  p.h2,
  h2 {
    font-size: 35px;
  }
  .description {
    font-size: 20px;
  }
  .booking {
    max-width: 180px;
    min-height: 43px;
  }
  .tarif-modal .modal-body {
    padding-left: 0px;
  }
  .tarif-modal .modal-content {
    padding: 20px 10px;
  }
  .addition {
    min-height: 72px;
  }
  .moto_item {
    padding: 25px 10px;
  }
  .tours__wrapper .city {
    font-size: 18px;
  }
  .tours__wrapper .col-lg-4 img {
    height: 27px;
    padding: 3px;
  }
  .equipment li {
    padding: 0 0 30px 20px;
  }
  .equipment li::after {
    left: -18px;
  }
  .equipment li::before {
    left: -40px;
  }
  .components {
    padding-top: 0px;
  }
  .received_after .booking {
    max-width: 180px;
    min-height: 43px;
    font-size: 16px;
  }
  .received_after {
    background-size: 128%;
  }
  .gift {
    background-size: 120%;
    padding-top: 48px;
  }
  .gift .text_bold {
    font-size: 22px;
  }
  .gift p span {
    font-size: 35px;
  }
  .gift p {
    font-size: 14px;
  }
  .certificate {
    font-size: 14px;
    min-height: 37px;
  }
  .footer {
    padding-top: 0px;
  }
  .tariffs .table th,
  td {
    font-size: 10px;
  }
  .footer .booking {
    font-size: 20px;
  }
  .nav__menu-items {
    line-height: 1;
  }
  .contacts_item ul li {
    padding: 5px;
  }
  .tours {
    padding-bottom: 110px;
  }
  .contacts_item ul li {
    font-size: 13px;
  }
  .slider-nav img {
    max-width: 70px;
    min-height: 60px;
  }
  .slick-slider-moto .slick-prev,
  .slick-slider-moto .slick-next {
    height: 66px;
  }
  .tarifs .table td,
  .tarifs .table th {
    font-size: 10px;
  }
  a.requirements {
    max-width: 270px;
    font-size: 18px;
  }
  .char-moto .char-moto-table td {
    font-size: 10px;
  }
  .char-moto .char-moto-table td {
    padding: 2px 2px;
  }
  .contacts .col-lg-6 {
    display: none;
  }
}

@media (max-width: 375px) {
  .footer .carousel-item {
    min-height: 490px;
    height: auto;
  }
  .moto_item .name {
    min-height: 110px;
  }
  .footer .nav__menu-items {
    display: none;
  }
  .footer .carousel-item {
    padding: 10px;
  }
  p.h2,
  h2 {
    font-size: 30px;
  }
  .tours .description {
    font-size: 18px;
  }
  a.requirements {
    font-size: 16px;
  }
  .tours {
    padding-top: 0px;
  }
  .nav__menu-items {
    display: none;
  }
  .mobile_version p {
    font-size: 14px;
  }
  .footer .call a {
    font-size: 14px;
  }
  .footer .adress p::before {
    left: 20px;
  }
  .contacts {
    padding: 10px 0px;
  }
  .contacts .col-lg-2 .contacts_item p {
    margin-top: 0px;
  }
  .gift .text_bold {
    font-size: 18px;
  }
  .gift {
    padding-bottom: 49px;
  }
}

@media (max-width: 340px) {
  .slider-nav img {
    max-width: 60px;
    min-height: 50px;
  }
  .slick-slider-moto .slick-prev,
  .slick-slider-moto .slick-next {
    height: 57px;
  }
  .tarifs .table td,
  .tarifs .table th {
    font-size: 9px;
  }
  .char-moto .char-moto-table td {
    font-size: 9px;
  }
}
