/* --------------------------------1300------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 1550px) {

}
@media (max-width: 1300px) {

}
@media (max-width: 1250px) {

}
/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 1000px) {
	
}
/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 992px) {
	
}
@media (max-width: 950px) {
	.social__container {
		margin-left: 10%;
	}
}
/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */

@media (max-width: 900px) {

}
/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 850px)  {
	
}
@media (max-width: 815px) {
	
}
@media (max-width: 800px) {
	
}
/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 750px) {
	
}
@media (max-width: 700px) {
	
}
/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 675px) {
	.social__container {
		float: right;
		margin-left: 0;
	}
	.lsg {
		text-align: center;
		float: none;
		display: block;
	}
}
@media (max-width: 600px) {
	
}
/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 520px) {
	.footer__bottom-line {
		min-height: 173px;
		position: relative;
	}
	.policy__container {
		position: absolute;
		bottom: 13px;
		width: 250px;
		text-align: center;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.social__container {
		display: block;
		text-align: center;
		float: none;
	}
	.lsg {
		position: absolute;
		bottom: 88px;
		left: 50%;
		transform:translate(-50%, 0);
	}
}
@media (max-width: 500px) {
	.main-header {
		.header__title {
			font-size: 32px;
			line-height: 38px;		
		}
		.header__subtitle {
			font-size: 24px;
			line-height: 30px;
		}
		.header__circles {
			.circle__1 {
				width: 250px;
				height: 250px;
			}
			.circle__2 {
				width: 230px;
				height: 230px;
			}
			.circle__3 {
				width: 210px;
				height: 210px;
			}
			.circle__4 {
				width: 190px;
				height: 190px;
			}
		}
	}
	.first-section__container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 450px) {
	
}
@media (max-width: 420px) {
	
}
@media (max-width: 400px) {
	.first-section__container .container__title {
		font-size: 26px;
		line-height: 34px;
	}
}