/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
.main-header {
	padding-top: 67px;
	padding-bottom: 59px;
	text-align: center;
	font-family: $slab;
	color: #fff;
	text-shadow: 0 -1px 0 #115765;
	font-weight: 400;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to top, #4eb6c2, #3492a4 );
	.site-wrapper {
		position: relative;
		z-index: 2;
	}
	.header__title {
		font-size: 42px;
		line-height: 56px;
		margin-bottom: 25px;
	}
	.header__subtitle {
		font-size: 30px;
		line-height: 42px;
	}
	.header__circles {
		position: absolute;
		z-index: 1;
		width: 450px;
		height: 450px;
		top: -240px;
		left: 50%;
		transform: translate(-50%, 0);
		.header__circle {
			margin: 0 auto;
			border-radius: 50%;
			border: 2px dotted #4db5c1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation-duration: 5s;
			animation-iteration-count: infinite;
			animation-direction: normal;
			animation-timing-function: linear;
			animation-fill-mode: forwards;
			animation-name: echolocator;
		}
		.circle__1 {
			width: 450px;
			height: 450px;
		}
		.circle__2 {
			width: 430px;
			height: 430px;
			animation-duration: 4.5s;
		}
		.circle__3 {
			width: 410px;
			height: 410px;
			border: 3px solid  #4db5c1;
			animation-duration: 4s;
		}
		.circle__4 {
			width: 388px;
			height: 388px;
			animation-duration: 3.5s;
		}
	}
}
@keyframes echolocator {
	60% {
		opacity: 0;
	}
	100% {
		width: 1000px;
		height: 1000px;
		opacity: 0;
	}
}
/************************************************************************
// 2. FIRST SEREN
*************************************************************************/
.first-section	 {
	padding-top: 71px;
	padding-bottom: 10px;
	font-family: $roboto;
	text-align: center;
	font-weight: 400;
}
.first-section__container {
	border:3px dotted #4eb6c2;
	border-radius: 5px;
	padding: 35px 30px 50px 30px;
	.container__title {
		color: #333;
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 33px;
	}
	.container__button {
		color: #fff;
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		background: #ff5722;
		border-radius: 28px;
		box-shadow: 0 4px 0 #c2380c;
		height: 56px;
		max-width: 336px;
		width: 100%;
		line-height: 56px;
		vertical-align: middle;
		transition: transform 0.2s linear, box-shadow 0.2s linear;
		&:hover {
			transform:translate(0, 2px);
			box-shadow: 0 2px 0 #c2380c;
		}
	}
}