/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-section {
	padding-top: 44px;
	padding-bottom: 72px;
	font-family: $roboto;
	text-align: center;
	color: #333;
	font-weight: 400;
}
.second-section__title {
	font-size: 28px;
	line-height: 36px;
	margin-bottom: -2px;
}
.second-section__subtitle {
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 21px;
}
.second-section__container {
	margin-top: 24px;
	.container__item {
		display: inline-block;
		margin: 0px 8px;
		svg {
			fill:#3492a4;
			width: 65px;
			height: 65px;
			transition:fill 0.2s linear;
		}
		&:hover {
			svg {
				fill:#64b3bf;
			}
		}
	}
}
/************************************************************************
// 4. FOOTER SECTION
*************************************************************************/	
.footer__bottom-line {
	padding: 15px;
	position: relative;
	z-index: 2;
	background: #016f80;
}
.policy__container {
	display: inline-block;
	vertical-align: middle;
	.footer__logo {
		display: inline-block;
		vertical-align: middle;
		font-family: $roboto;
		margin-right: 5px;
		svg {
			width: 50px;
			height: 50px;
			fill:#64b3bf;
			transition: transform 1s ease-out;
			&:hover {
				transform:rotate(360deg);
			}
		}
	}
	.policy {
		display: inline-block;
		vertical-align: middle;
		font-family: $roboto;
		font-size: 16px;
		color: #64b3bf;
		text-decoration: underline;
	}
}
.social__container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 270px;
	a {
		display: inline-block;
		width: 45px;
		height: 45px;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
		margin-left: 5px;
		svg {
			fill:#64b3bf;
			width: 25px;
			height: 25px;
			margin-top: 8px;
		}
	}
}
.lsg {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: 10px;
	svg {
		width: 90px;
		height: 29px;
		vertical-align: middle;
	}
}