/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
.main-header {
	padding-top: 52px;
	padding-bottom: 62px;
	color: #fff;
	text-align: center;
	background:linear-gradient(to top, #4eb6c2, #3492a4) ;
	position: relative;
	z-index: 1;
	text-shadow: 0 -1px 0 #115765;
	overflow: hidden;
}
.header__col {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 2;
	&.book_col {
		margin-left: -145px;
		transform: translate(-1000px, 0);
		opacity: 0;
		transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), 
		opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21);
		&.visible {
			transform: translate(0px);
			opacity: 1;
			transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), 
			opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21);
		}
	}
	&.right__col {
		text-align: left;
		max-width: 560px;
		width: 100%;
		margin-left: 60px;
		padding-top: 15px;
	}
}
.header__title  {
	font-family: $slab;
	margin-bottom: 48px;
	transform: translate(1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.header__list {
	font-family: $roboto;
	margin-bottom: 53px;
	li {
		padding-left: 44px;
		position: relative;
		margin-bottom: 28px;
		&:nth-child(1) {
			transform: translate(1000px, 0);
			opacity: 0;
			transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
			opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
			&.visible {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		&:nth-child(2) {
			transform: translate(1000px, 0);
			opacity: 0;
			transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
			opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
			&.visible {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		&:nth-child(3) {
			transform: translate(1000px, 0);
			opacity: 0;
			transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
			opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
			&.visible {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}	
	.list__icon {
		display: block;
		position: absolute;
		left: -2px;
		top: -3px;
		svg {
			width: 33px;
			height: 33px;
			fill:#00657e;
		}
	}
}
.header__description {
	font-family: $roboto;
	margin-bottom: 40px;
	transform: translate(1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.button {
	display: inline-block;
	background: #ff5722;
	border: none;
	border-radius: 28px;
	height: 55px;
	color: #fff;
	font-size: 18px;
	font-family: $roboto;
	text-shadow: 0 -1px 0 #a92900;
	text-transform: uppercase;
	padding-bottom: 4px;
	box-shadow: 0 4px 0 #c2380c;
	cursor: pointer;
	transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0 2px 0 #c2380c;
		transform: translate(0, 2px);
		transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	}
	&:active {
		box-shadow: 0 0 0 #c2380c;
		transform: translate(0, 4px);
		transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	}
}
.header__button {
	max-width: 336px;
	width: 100%;
	transform: scale(4);
	opacity: 0;
	animation-duration: 0.3s;
	animation-iteration-count: initial;
	animation-direction: normal;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
	&.visible {
		opacity: 1;
		animation-name: btn_animate;
		transition: opacity 0.4s cubic-bezier(0.42, 0, 0.55, 1.21);
	}
}
@keyframes btn_animate {
	70% {
		transform: scale(0.9);	
	}
	90% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
} 
.header__overlay {
	/* background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1; */
}
.button__container {
	position: relative;
	display: inline-block;
	max-width: 336px;
	width: 100%;
}
.icon-zmi {
	position: absolute;
	top: -8px;
	right: -160px;
	transform: rotate(-11deg);
	width: 130px;
	height: 50px;
	transform: scale(0);
	transition: transform 1s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
}
.icon-header_arrow {
	width: 80px;
	height: 43px;
	position: absolute;
	top: 44px;
	right: -84px;
	transform: rotate(1deg);
	animation-name: rotate_arrow;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	transform-origin: 50% -210%; 
}
.button__container {
	 .icon {
		opacity: 0;
		transition: transform 0.6s cubic-bezier(0.42, 0, 0.55, 1.21),
		opacity 0.8s cubic-bezier(0.42, 0, 0.55, 1.21);
	}
	&.visible {
		.icon {
			opacity: 1;
		}
		.icon-zmi {
			transform: scale(1);
		}
	} 
}
@keyframes rotate_arrow {
	100% {
		transform: rotate(6deg);
	}
}
@keyframes rotate_arrow_adaptive {
	100% {
		transform: rotate(45deg);
	}
}

/************************************************************************
// 2. FIRST SEREN
*************************************************************************/
.first-screen {
	padding-top: 87px;
	padding-bottom: 36px;
	position: relative;
	color: #333;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}
.first-screen__text {
	font-family: $slab;
	line-height: 28px;
	text-align: center;
	margin-bottom: 15px;
	transform: translate(1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
	span {
		font-weight: 400;
		color: #2C95AB;
	}
}
.first-screen__container {
	background: url('../img/first-screen_icons.png') no-repeat 50% 50%;
	-webkit-background-size: 920px 450px;
	background-size: 920px 450px;
	padding-top: 167px;
	position: relative;
	.container__figure  {
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 161px;
		transform: translate(-50%, 0);
		.figure__arrows {
			display: inline-block;
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			svg {
				&:nth-child(1) {
					position: absolute;
					top: 26px;
					left: -30px;
				}
				&:nth-child(2) {
					position: absolute;
					top:36px;
					right: -289px;
					transform: rotate(134deg);
				}
				&:nth-child(3) {
					position: absolute;
					top:156px;
					left: 85px;
					transform: rotate(-89deg);
				}
			}
		}
	}
	.figure__circle {
		position: absolute;
		display: block;
		top: -153px;
		left: -84px;
		z-index: 1;
		svg {
			width: 412px;
			height: 500px;
		}
	}
	.figure__book {
		display: block;
		position: relative;
		z-index: 2;
	}
}
.container__row {
	.row__col {
		max-width: 320px;
		width: 100%;
		display: inline-block;
		.col__header {
			font-family: $roboto;
			text-transform: uppercase;
			padding-bottom: 29px;
		}
		.col__text {
			font-family: $slab;
			line-height: 28px;
		}
	}
	&:nth-child(1) {
		.row__col {
			&:nth-child(1){
				text-align:right;
			}
			&:nth-child(2){
				float: right;
			}
		}
	}
	&:nth-child(2) {
		text-align: center;
		padding-top: 80px;
		.row__col {
			text-align: left;
		}
	}
}
.container__row:nth-child(1) .row__col:nth-child(1) {
	transform: translate(-1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.container__row:nth-child(1) .row__col:nth-child(2) {
	transform: translate(1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier( 0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.container__row:nth-child(2) .row__col {
	transform: scale(0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: scale(1);
		opacity: 1;
	}
}
