/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-screen {
	padding-bottom: 48px;
	text-align: center;
	color:#333333;
	overflow: hidden;
}
.second-screen__title {
	font-family: $roboto;
	transform: translate(0, -1000px);
	opacity: 0;
	transition: transform 1s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.second-screen__container {
	margin-top: 31px;
	.container__item {
		float: left;
		width: 33.3333%;
		.item__wrapper {

		}
		.item__icon {
			display: inline-block;
			width: 185px;
			height: 200px;
			text-align: center;
			margin-bottom: 10px;
		}
		.icon_boat {
			svg {
				width: 175px;
				height: 190px;
			}
		}
		.icon_wood {
			padding-top: 22px;
		}
		.icon_bigben {
			svg {
				width: 160px;
				margin-top: -5px;
			}
		}
		.item__header {
			font-family: $roboto;
		}
		.item__text {
			font-family: $slab;
			margin-top: 29px;
			line-height: 28px;
		}
	}
}
.second-screen__container .container__item {
	&:nth-child(1) {
		transform: translate(1000px, 0);
		opacity: 0;
		transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
		opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
		&.visible {
			transform: translate(0, 0);
			opacity: 1;
		}
	}
	&:nth-child(2) {
		transform: translate(1000px, 0);
		opacity: 0;
		transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
		opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
		&.visible {
			transform: translate(0, 0);
			opacity: 1;
		}
	}
	&:nth-child(3) {
		transform: translate(1000px, 0);
		opacity: 0;
		transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
		opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
		&.visible {
			transform: translate(0, 0);
			opacity: 1;
		}
	}
}
/************************************************************************
// 4. FOOTER
*************************************************************************/
.main-footer {
	padding-top: 77px;
	background: url('../img/svg/footer_bg.svg') no-repeat 50% 100%;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.thankyou-page .main-footer {
	background: #016f80;
	padding-top: 0;
}
.footer__container {
	margin-bottom: 93px;
	position: relative;
	min-height: 355px;
	z-index: 2;
}
.foote-col {
	float: left;
	width: 50%;
	.footer__title {
		font-size: 38px;
		font-weight: 400;
		color: #fff;
		font-family: $slab;
		text-shadow: 0 -1px 0 #0085a3;
	}
	.footer__text {
		font-family: $slab;
		font-size: 24px;
		line-height: 28px;
		font-weight: 300;
		text-shadow: 0 -1px 0 #0085a3;
		color: #fff;
		max-width: 389px;
		width: 100%;
		margin-top: 56px;
		margin-bottom: 16px;
	}
}
.footer__form {
	display: block;
	margin-top: -38px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 5px;
	float: right;
	max-width: 390px;
	width: 100%;
	background: #dbf1ec;
	box-shadow: 0 0  5px #2e7f9d;
	padding: 40px 25px;
	.form__container {
		text-align: right;
		position: relative;
		margin-bottom: 14px;
		height: 44px;
		transition: height 0.2s ease;
		&.has-error {
			height: 84px;
			transition: height 0.2s ease;
			font-family: $roboto;
			.form__icon svg {
				fill:#d67252;
			}
		}
		.help-block {
			width: 252px;
			text-align: left;
			color: red;
			margin-top: 5px;
			font-weight: 300;
			font-size: 15px;
		}
		input {
			display: inline-block;
			background: #eef7f5;
			border: 1px solid #96b9b9;
			height: 44px;
			width: 250px;
			border-radius: 5px;
			box-shadow: inset 0 2px 2px 0px #a1c3bb;
			font-size: 18px;
			font-family: $roboto;
			font-weight: 300;
			padding-left: 45px;
			box-sizing: border-box;
		}
		label {
			font-family: $roboto;
			font-size: 18px;
			font-weight: 300;
			position: absolute;
			left: 0;
			top: 9px;
		}
		.form__icon {
			display: block;
			position: absolute;
			top: 13px;
			left: 102px;
			svg {
				fill:#8daeae;
				width: 20px;
				height: 20px;
			}
		}
	}
	.form__text {
		text-align: left;
		width: 249px;
		font-size: 14px;
		line-height: 18px;
		font-family: $roboto;
		font-weight: 300;
	}
	.form__button {
		margin-top: 5px;
		width: 100%;
	}
}
.footer__bottom-line {
	padding: 10px;
	padding-top: 10px;
	position: relative;
	z-index: 2;
}
.policy__container {
	display: inline-block;
	vertical-align: middle;
	.policy {
		display: inline-block;
		vertical-align: middle;
		font-family: $roboto;
		font-size: 16px;
		color:#64b3bf;
		text-decoration: underline;
	}
}
.footer__logo {
	display: inline-block;
	vertical-align: middle;
	font-family: $roboto;
	margin-right: 5px;
	svg {
		width: 50px;
		height: 50px;
		fill:#64b3bf;
		transition: transform 1s ease-out;
		&:hover {
			transform:rotate(360deg);
			transition: transform 1s ease-out;
		}
	}
}
.social__container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 270px;
	a {
		display: inline-block;
		width: 45px;
		height: 45px;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
		margin-left: 5px;
		svg {
			fill:#64b3bf;
			width: 25px;
			height: 25px;
			margin-top: 8px;
		}
	}
}
.lsg {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: 10px;
	svg {
		vertical-align: middle;
		width: 90px;
		height: 29px;
	}
}
#boat_animatiton {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 200px;
	animation-duration: 15s;
	animation-iteration-count: initial;
	animation-direction: normal;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
}
@keyframes boat_to_right_xl {
	100% {
		transform: translate(850px, 0);
	}
}
@keyframes boat_to_right_lg {
	100% {
		transform: translate(680px, 0);
	}
}
 @keyframes boat_to_right_md {
	100% {
		transform: translate(540px, 0);
	}
}
@keyframes boat_to_right_sm {
	100% {
		transform: translate(410px, 0);
	}
} 
@keyframes boat_to_right_xs {
	100% {
		transform: translate(210px, 0);
	}
} 
.boat {
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
@keyframes down_top {
	20% {
		transform: translateY(-10px) rotate(-2deg);
	}
	40% {
		transform: translateY(10px) rotate(2deg);
	}
	60% {
		transform: translateY(-10px) rotate(-2deg);
	}
	80% {
		transform: translateY(10px) rotate(2deg);
	}
	100% {
		transform: translateY(-10px) rotate(-2deg);
	}
}
.main-footer.visible {
	.boat {
		animation-name: down_top;
	}
	#boat_animatiton {
		animation-name: boat_to_right_xl;
	}
}
/************************************************************************
// 5. HEADER THX
*************************************************************************/
.header_thx {
	color: #fff;
	text-shadow: 0 -1px 0 #115765;
	background: linear-gradient(to top, #4eb6c2, #3492a4);
	text-align: center;
	overflow: hidden;
	padding-top: 135px;
	padding-bottom: 60px;
	font-family: $slab;
	position: relative;

}
.header_thx__title {
	margin-bottom: 30px;
	position: relative;
	z-index: 2;
}
.header_thx__description {
	margin-bottom: 15px;
	position: relative;
	z-index: 2;
}
.thx_book {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -48%);
	width: 257px;
	z-index: 1;
	&:after {
		content:"";
		display: block;
		width: 250px;
		height: 250px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border:1px dashed #4db5c1;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-timing-function: linear;
		animation-fill-mode:forwards;
		animation-name: echolocator;
		}
	&:before {
		content:"";
		display: block;
		width: 215px;
		height: 215px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border:3px solid #4db5c1;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-timing-function: linear;
		animation-fill-mode:forwards;
		animation-name: echolocator;
	}
	span {
		display: block;
		width: 190px;
		height: 190px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border:1px dashed #4db5c1;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-timing-function: linear;
		animation-fill-mode:forwards;
		animation-name: echolocator;
	}
}

@keyframes echolocator {
	60% {
		opacity: 0;
	}
	100% {
		width: 1000px;
		height: 1000px;
		opacity: 0;
	}
}
/************************************************************************
// 6. FIRST SCREEN THX
*************************************************************************/
.first-screen_thx {
	padding-top: 70px;
}
.first-screen_thx__item {
	position: relative;
	padding-left: 85px;
	margin-bottom: 35px;
	max-width: 870px;
	margin: 0 auto 35px;
	width: 100%;
	.item__text {
		color: #333;
		font-family: $slab;
		line-height: 26px;
		span {
			font-weight: 400;
			color: #009999;
		}
	}
	.item__icon {
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		border: 3px solid #4cb3c0;
		border-radius: 50%;
		top: 5px;
		left: 0;
		&:after {
			content:"";
			display: block;
			width: 11px;
			height: 9px;
			background: #fff;
			position: absolute;
			right:-2px;
			top: 2px;
			transform: rotate(40deg);
		}
		span {
			position: absolute;
			top: 18px;
			left:6px;
			z-index: 2;
			&:before, &:after {
				content:"";
				display: block;
				background: #4cb3c0;
				height: 3px;
			}
			&:before {
				width: 35px;
				transform: rotate(-50deg) translate(8.5px, 4px);
			}
			&:after {
				width: 19px;
				transform: rotate(42deg);
			}
		}
	}
}
.first-screen_thx__banner {
	max-width: 980px;
	width: 100%;
	box-shadow: 0 4px #c2380c;
	border-radius: 3px;
	background: url('../img/banner_bg.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	padding: 30px 20px;
	margin: 80px auto 0;
	.banner__text {
		font-family: $slab;
		color: #fff;
		text-shadow: 0 -1px 0 #b03c17;
	}	
}
/************************************************************************
// 7. SECOND SCREEN THX
*************************************************************************/
.second-screen_thx {
	padding-top: 100px;
	overflow: hidden;
}
.second-screen_thx__item {
	position: relative;
	border-bottom: 1px dashed #4cb3c0;
	padding-bottom: 30px;
	padding-top: 30px;
	&:last-child {
		border-bottom:none;
	}
	.item__left-col {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		.left-col__icon {
			display: block;
			width: 60px;
			height: 60px;
			background: #4cb3c0;
			overflow: hidden;
			position: relative;
			border-radius:50%; 
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			margin-bottom: 7px;
			svg {
				fill:#276e7b;
				width: 60px;
				height: 65px;
				transform: translate(0, 8px);
				vertical-align: middle;
			}
		}
		.left-col__text {
			font-family: $roboto;
			font-size: 20px;	
			font-weight: 400;
			color: #333;
		}
		.left-col__arrow {
			transform: rotate(180deg) ;
			display: inline-block;
		}
	}
	.item__right-col {
		float: right;
		max-width: 672px;
		width: 100%;
		.right-col_-wrapper {
			padding-left: 250px;
			position: relative;
			min-height: 152px;
		}
		.right-col__container {
			position: absolute;
			top: 0;
			left: 0;
		}
		.container__picture {

		}
		.container__x2 {
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 3px solid #3cb3c0; 
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -30px;
			text-align: right;
			line-height: 40px;
			padding-right: 5px;
			vertical-align: middle;
			span {
				font-size: 34px;
				color: #4cb3c0;
				font-family: $roboto;
				text-align: right;
				position: relative;
				&:after, &:before {
					content:"";
					display: block;
					background: #4cb3c0;
					height: 3px;
					width: 16px;
					position: absolute;
					top: 22px;
					right: 19px;
				}
				&:after{
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}

		}
		.right-col__text {
			color: #333333;
			line-height: 26px;
			font-family: $slab;
			display: table-cell;
			height: 152px;
			vertical-align: middle;
			box-sizing: border-box;
			p {
				
			}
		}
	}	
}
/************************************************************************
// 8. THIRD SCREEN THX
*************************************************************************/
.share-section {
	padding-top: 20px;
	padding-bottom: 70px;
	padding-left: 20px;
	padding-right: 20px;
}
.share__container {
	max-width: 980px;
	width: 100%;
	padding: 40px 30px;
	border:3px solid #4cb3c0;
	margin: 0 auto;
	border-radius: 3px;
}	
.share__social {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	ul {
		li {
			display: inline-block;
			margin-right: 15px;
			cursor: pointer;
			position: relative;
			a {
				position: absolute;
				top: 4px;
				left: 5px;
				opacity: 0;
				width: 42px;
				height: 42px;	
			}
			svg {
				fill:#4cb3c0;
				width: 42px;
				height: 42px;
			}
			#fb_btn {
				top: 0;
				left: 0;
			}
		}
	}
}
.social__title,
.link__title {
	font-family: $slab;
	font-size: 20px;
	font-weight: 300;
	color: #333333;
	margin-bottom: 10px;

}
.share__link {
	float: right;
	max-width: 68%;
	width: 100%;
	.link__body{
		width: 100%;
		height: 42px;
		background: #efefef;
		box-shadow: inset 1px 1px 2px #999999;
		border-radius: 3px;
		line-height: 42px;
		padding-left: 11px;
		.body__icon {
			display: inline-block;
			margin-right: 6px;
			svg {
				vertical-align: middle;
				fill:#666666;
				width: 20px;
				height: 20px;
			}
		}
		.body__text {
			vertical-align: middle;
			font-weight: 300;
			font-size: 16px;
			font-family: $slab;
			color: #333333;
		}
	}
}

#twitter-widget-0 {
	width: 42px !important;
	height: 42px !important;
	position: absolute !important;
	top: 6px !important;
	left: 0 !important;
	opacity: 0 !important;
}