.container__picture {
    background-image: url('../img/thx_sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-thx_icon_sprt1 {
    width: 176px;
    height: 152px;
    background-position: -5px -5px;
}

.sprite-thx_icon_sprt2 {
    width: 176px;
    height: 152px;
    background-position: -191px -5px;
}

.sprite-thx_icon_sprt3 {
    width: 176px;
    height: 152px;
    background-position: -377px -5px;
}
