html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  line-height: 1; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
  box-sizing: border-box; }

:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.cf:before, .cf:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.cf:after {
  clear: both; }

span {
  display: inline-block; }

/*@font-face {
	font-family: "bebasneue";
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot");
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.woff") format("woff"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

*/
body {
  overflow-x: hidden;
  min-width: 320px; }

.fz_title {
  font-size: 42px;
  line-height: 56px;
  font-weight: 400; }

.fz_title_40 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px; }

.fz_mid {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px; }

.fz_mid_reg {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px; }

.fz_sm {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px; }

.fz_sm_reg {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; }

.fz_xs {
  font-size: 18px;
  font-weight: 300; }

.pp {
  width: 100%;
  position: absolute;
  top: 0px;
  opacity: 0.6;
  display: none;
  z-index: 55; }
  .pp img {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%; }
  .pp.visible {
    display: block; }

.site-wrapper {
  max-width: 1008px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

.container__picture {
  background-image: url("../img/thx_sprite.png");
  background-repeat: no-repeat;
  display: block; }

.sprite-thx_icon_sprt1 {
  width: 176px;
  height: 152px;
  background-position: -5px -5px; }

.sprite-thx_icon_sprt2 {
  width: 176px;
  height: 152px;
  background-position: -191px -5px; }

.sprite-thx_icon_sprt3 {
  width: 176px;
  height: 152px;
  background-position: -377px -5px; }

/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
.main-header {
  padding-top: 25px;
  padding-bottom: 79px;
  background: #41a4b3;
  color: #fff;
  text-align: center;
  font-family: "Roboto Slab", serif;
  text-shadow: 0 -1px 0 #115765;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .main-header .site-wrapper {
    position: relative;
    z-index: 4; }

.main-header__banner {
  position: relative;
  text-align: left;
  margin: 0 auto;
  background-color: #318899;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(102, 239, 255, 0.25);
  margin-bottom: 70px;
  padding-right: 20px; }
  .main-header__banner .banner__img {
    display: block;
    float: left;
    margin-right: 20px;
    padding-top: 20px; }
  .main-header__banner .banner__header {
    font-size: 48px;
    margin-top: 28px;
    margin-bottom: 25px; }
  .main-header__banner .banner__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-top: 15px; }
    .main-header__banner .banner__text:nth-child(4) {
      margin-bottom: 20px; }

.main-header__subtitle {
  font-size: 30px;
  line-height: 42px; }

.main-header__title {
  font-size: 54px;
  line-height: 64px;
  margin-bottom: 12px; }

.main-header__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 42px;
  margin-top: 71px;
  margin-bottom: 70px; }

.main-header__container {
  position: relative;
  margin-top: 50px;
  display: inline-block;
  max-width: 336px;
  width: 100%; }
  .main-header__container .icon-header_arrow {
    position: absolute;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    right: -83px;
    top: 5px; }
  .main-header__container .icon-header_text {
    position: absolute;
    -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
            transform: rotate(-12deg);
    bottom: -100px;
    right: -78px; }

.btn {
  display: inline-block;
  background: #ff5722;
  border: none;
  border-radius: 28px;
  height: 55px;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 -1 0 #a92900;
  text-transform: uppercase;
  padding-bottom: 4px;
  box-shadow: 0 4px 0 #c2380c;
  cursor: pointer;
  transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease; }
  .btn:hover {
    box-shadow: 0 2px 0 #c2380c;
    -webkit-transform: translate(0, 2px);
        -ms-transform: translate(0, 2px);
            transform: translate(0, 2px); }
  .btn:active {
    box-shadow: 0 0 0 #c2380c;
    -webkit-transform: translate(0, 4px);
        -ms-transform: translate(0, 4px);
            transform: translate(0, 4px); }

.header__button {
  max-width: 336px;
  width: 100%; }

.icon-header_arrow {
  fill: #59d6e4;
  width: 74px;
  height: 46px; }

.icon-header_text {
  fill: #59d6e4;
  width: 170px; }

.header__wave1 {
  position: absolute;
  z-index: 3;
  bottom: -11px;
  left: -12px;
  width: 2000px;
  -webkit-animation-name: header_wave_anim;
          animation-name: header_wave_anim;
  -webkit-animation-duration: 3400ms;
          animation-duration: 3400ms;
  -webkit-animation-delay: -1200ms;
          animation-delay: -1200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.header__wave2 {
  position: absolute;
  z-index: 2;
  bottom: -15px;
  left: -12px;
  width: 2000px;
  -webkit-animation-name: header_wave2_anim;
          animation-name: header_wave2_anim;
  -webkit-animation-duration: 3400ms;
          animation-duration: 3400ms;
  -webkit-animation-delay: -1200ms;
          animation-delay: -1200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes header_wave_anim {
  from {
    -webkit-transform: rotate(0deg) translateY(-6px) rotate(0deg);
            transform: rotate(0deg) translateY(-6px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateY(-6px) rotate(-360deg);
            transform: rotate(360deg) translateY(-6px) rotate(-360deg); } }

@keyframes header_wave_anim {
  from {
    -webkit-transform: rotate(0deg) translateY(-6px) rotate(0deg);
            transform: rotate(0deg) translateY(-6px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateY(-6px) rotate(-360deg);
            transform: rotate(360deg) translateY(-6px) rotate(-360deg); } }

@-webkit-keyframes header_wave2_anim {
  from {
    -webkit-transform: rotate(0deg) translateY(-3px) rotate(0deg);
            transform: rotate(0deg) translateY(-3px) rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg) translateY(-3px) rotate(360deg);
            transform: rotate(-360deg) translateY(-3px) rotate(360deg); } }

@keyframes header_wave2_anim {
  from {
    -webkit-transform: rotate(0deg) translateY(-3px) rotate(0deg);
            transform: rotate(0deg) translateY(-3px) rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg) translateY(-3px) rotate(360deg);
            transform: rotate(-360deg) translateY(-3px) rotate(360deg); } }

.header__boat {
  width: 180px;
  height: 170px;
  position: absolute;
  bottom: 85px;
  left: 13%;
  -webkit-animation-name: header_boat_anim;
          animation-name: header_boat_anim;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%; }

@-webkit-keyframes header_boat_anim {
  0% {
    -webkit-transform: translateY(8px) rotate(5deg);
            transform: translateY(8px) rotate(5deg); }
  100% {
    -webkit-transform: translateY(-8px) rotate(-5deg);
            transform: translateY(-8px) rotate(-5deg); } }

@keyframes header_boat_anim {
  0% {
    -webkit-transform: translateY(8px) rotate(5deg);
            transform: translateY(8px) rotate(5deg); }
  100% {
    -webkit-transform: translateY(-8px) rotate(-5deg);
            transform: translateY(-8px) rotate(-5deg); } }

.header__rocks {
  position: absolute;
  width: 463px;
  height: 335px;
  right: 2.5%;
  bottom: 86px; }

.header__cloud1 {
  width: 80px;
  height: 42px;
  position: absolute;
  top: 360px;
  left: 17.5%;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear; }

.header__cloud2 {
  width: 114px;
  height: 60px;
  position: absolute;
  top: 593px;
  left: 7%;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear; }

.header__cloud3 {
  width: 74px;
  height: 42px;
  position: absolute;
  top: 553px;
  right: 17%;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear; }

.header__cloud4 {
  width: 68px;
  height: 42px;
  position: absolute;
  bottom: 345px;
  right: 5%;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear; }

/************************************************************************
// 2. FIRST SEREN
*************************************************************************/
.first-screen {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 10px;
  color: #333;
  font-family: "Roboto", sans-serif; }

.first-screen__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px; }

.first-screen__container {
  margin-top: 72px; }
  .first-screen__container .container__item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin-left: -2px;
    margin-bottom: 48px; }
    .first-screen__container .container__item .item__icon {
      display: block;
      margin: 0 auto;
      width: 114px;
      height: 114px;
      border-radius: 50%;
      background: #63b3c0;
      position: relative;
      margin-bottom: 30px; }
      .first-screen__container .container__item .item__icon svg {
        position: absolute;
        left: 0;
        top: 5px;
        height: 95px;
        width: 114px; }
    .first-screen__container .container__item .item__header {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .first-screen__container .container__item .item__text {
      font-family: "Roboto Slab", serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 28px; }

/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-screen {
  padding-top: 56px;
  padding-bottom: 10px; }

.second-screen__container {
  border-radius: 5px;
  border: 3px dotted #4eb6c2;
  padding: 46px;
  padding-left: 26px;
  padding-right: 18px;
  position: relative; }
  .second-screen__container .container__row .row__col .row__text {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #333;
    display: inline; }
  .second-screen__container .container__row .row__col .bold__text {
    font-weight: 400;
    display: inline; }
  .second-screen__container .container__row .row__col .cyan__text {
    color: #009999;
    display: inline;
    font-weight: 400; }
  .second-screen__container .container__row:nth-child(1) {
    text-align: center; }
  .second-screen__container .container__row:nth-child(2) {
    margin-top: 55px; }
    .second-screen__container .container__row:nth-child(2) .row__col:nth-child(1) {
      width: 315px;
      text-align: right;
      float: left; }
    .second-screen__container .container__row:nth-child(2) .row__col:nth-child(2) {
      width: 315px;
      text-align: left;
      float: right; }
  .second-screen__container .container__row:nth-child(3) {
    text-align: center;
    margin-top: 99px; }
  .second-screen__container .container__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -39%);
        -ms-transform: translate(-50%, -39%);
            transform: translate(-50%, -39%);
    background: #63b3c0;
    border-radius: 50%;
    width: 140px;
    height: 140px; }
    .second-screen__container .container__figure .icon-arrow {
      position: absolute;
      width: 84px;
      height: 19px;
      z-index: 4;
      top: 0;
      left: 0; }
      .second-screen__container .container__figure .icon-arrow:nth-child(1) {
        -webkit-transform: translate(-62px, 32px) rotate(27deg);
            -ms-transform: translate(-62px, 32px) rotate(27deg);
                transform: translate(-62px, 32px) rotate(27deg); }
      .second-screen__container .container__figure .icon-arrow:nth-child(2) {
        -webkit-transform: translate(51px, -22px) rotate(109deg);
            -ms-transform: translate(51px, -22px) rotate(109deg);
                transform: translate(51px, -22px) rotate(109deg); }
      .second-screen__container .container__figure .icon-arrow:nth-child(3) {
        -webkit-transform: translate(122px, 48px) rotate(173deg);
            -ms-transform: translate(122px, 48px) rotate(173deg);
                transform: translate(122px, 48px) rotate(173deg); }
    .second-screen__container .container__figure .icon-mono_icon7 {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 111px;
      height: 93px; }

/************************************************************************
// 4. THIRD SECTION
*************************************************************************/
.third-section {
  padding-top: 102px;
  padding-bottom: 45px;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.third-section__title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400; }
  .third-section__title span {
    white-space: nowrap; }

.third-section__container {
  text-align: left;
  margin-top: 84px; }
  .third-section__container .container__item {
    text-align: left;
    position: relative;
    padding-left: 255px;
    display: inline-block;
    margin-bottom: 58px;
    padding-right: 24px; }
    .third-section__container .container__item .item__icon {
      display: block;
      position: absolute;
      left: 5px;
      top: 5px; }
      .third-section__container .container__item .item__icon svg {
        width: 138px;
        height: 138px;
        position: relative;
        z-index: 2; }
      .third-section__container .container__item .item__icon .dashed__lines {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 174px;
        height: 174px;
        z-index: 1;
        -webkit-transform: translate(95px, 146px) rotate(19deg);
            -ms-transform: translate(95px, 146px) rotate(19deg);
                transform: translate(95px, 146px) rotate(19deg); }
        .third-section__container .container__item .item__icon .dashed__lines svg {
          width: 174px;
          height: 174px; }
    .third-section__container .container__item .item__header {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 32px;
      text-transform: uppercase; }
    .third-section__container .container__item .item__text {
      font-family: "Roboto Slab", serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 28px; }
  .third-section__container .container__wrapper .container__item {
    margin-left: 83px; }
    .third-section__container .container__wrapper .container__item .dashed__lines {
      -webkit-transform: translate(-28px, 76px) rotate(-53deg);
          -ms-transform: translate(-28px, 76px) rotate(-53deg);
              transform: translate(-28px, 76px) rotate(-53deg); }
      .third-section__container .container__wrapper .container__item .dashed__lines svg {
        width: 145px;
        height: 174px; }

/************************************************************************
// 5. FOOTER
*************************************************************************/
.main-footer {
  padding-top: 58px;
  background: #41a4b3;
  position: relative;
  overflow: hidden;
  padding-bottom: 41px; }
  .main-footer .site-wrapper {
    position: relative;
    z-index: 10; }

.thankyou-page .main-footer {
  background: #016f80;
  padding-top: 0; }

.footer__container {
  margin-bottom: 3px;
  position: relative;
  z-index: 2; }

.foote-col {
  float: left;
  width: 50%; }
  .foote-col .footer__title {
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    color: #fff;
    font-family: "Roboto Slab", serif;
    text-shadow: 0 -1px 0 #0085a3; }
    .foote-col .footer__title span {
      font-weight: 400;
      display: inline; }
  .foote-col .footer__text {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    text-shadow: 0 -1px 0 #0085a3;
    color: #fff;
    margin-top: 13px;
    margin-bottom: 45px; }

.footer__form {
  display: block;
  margin-top: -19px;
  margin-right: 5px;
  float: right;
  max-width: 390px;
  width: 100%;
  background: #dbf1ec;
  box-shadow: 0 0  5px #2e7f9d;
  padding: 40px 25px;
  border-radius: 3px; }
  .footer__form .form__container {
    text-align: right;
    position: relative;
    margin-bottom: 14px;
    height: 44px;
    transition: height 0.2s ease; }
    .footer__form .form__container.has-error {
      height: 84px;
      transition: height 0.2s ease;
      font-family: "Roboto", sans-serif; }
      .footer__form .form__container.has-error .form__icon svg {
        fill: #d67252; }
    .footer__form .form__container .help-block {
      width: 252px;
      text-align: left;
      color: red;
      margin-top: 5px;
      font-weight: 300;
      font-size: 15px; }
    .footer__form .form__container input {
      display: inline-block;
      background: #eef7f5;
      border: 1px solid #96b9b9;
      height: 44px;
      width: 250px;
      border-radius: 5px;
      box-shadow: inset 0 2px 2px 0px #a1c3bb;
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      padding-left: 45px;
      box-sizing: border-box; }
    .footer__form .form__container label {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 300;
      position: absolute;
      left: 0;
      top: 9px; }
    .footer__form .form__container .form__icon {
      display: block;
      position: absolute;
      top: 13px;
      left: 102px; }
      .footer__form .form__container .form__icon svg {
        fill: #8daeae;
        width: 20px;
        height: 20px; }
  .footer__form .form__text {
    text-align: left;
    width: 249px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300; }
  .footer__form .form__button {
    margin-top: 25px;
    width: 100%;
    overflow: hidden; }
    .footer__form .form__button svg {
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-400px, -50%);
          -ms-transform: translate(-400px, -50%);
              transform: translate(-400px, -50%);
      transition: width 0.6s linear, -webkit-transform 0.6s ease;
      transition: transform 0.6s ease, width 0.6s linear;
      transition: transform 0.6s ease, width 0.6s linear, -webkit-transform 0.6s ease; }
    .footer__form .form__button p {
      transition: opacity 0.3s linear, -webkit-transform 0.5s linear;
      transition: transform 0.5s linear, opacity 0.3s linear;
      transition: transform 0.5s linear, opacity 0.3s linear, -webkit-transform 0.5s linear; }
    .footer__form .form__button.disabled {
      -webkit-transform: translate(0, 4px);
          -ms-transform: translate(0, 4px);
              transform: translate(0, 4px);
      box-shadow: 0 0px #c2380c;
      transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease; }
      .footer__form .form__button.disabled svg {
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 42px;
        height: 42px; }
      .footer__form .form__button.disabled p {
        -webkit-transform: translate(400px, 0);
            -ms-transform: translate(400px, 0);
                transform: translate(400px, 0);
        opacity: 0; }

.footer__bottom-line {
  padding: 15px;
  padding-top: 15px;
  position: relative;
  z-index: 2;
  background: #3492a4; }

.policy__container {
  display: inline-block;
  vertical-align: middle; }
  .policy__container .policy {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #64b3bf;
    text-decoration: underline; }

.footer__logo {
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  margin-right: 5px; }
  .footer__logo svg {
    width: 50px;
    height: 50px;
    fill: #64b3bf;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out; }
    .footer__logo svg:hover {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg);
      transition: -webkit-transform 1s ease-out;
      transition: transform 1s ease-out;
      transition: transform 1s ease-out, -webkit-transform 1s ease-out; }

.social__container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 270px; }
  .social__container a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 5px; }
    .social__container a svg {
      fill: #64b3bf;
      width: 25px;
      height: 25px;
      margin-top: 8px; }

.lsg {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 10px; }
  .lsg svg {
    vertical-align: middle;
    width: 90px;
    height: 29px; }

.footer__parallax {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .footer__parallax .parallax__sun {
    position: relative;
    bottom: -23px;
    z-index: 1;
    width: 485px;
    height: 485px;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    margin: 0 auto; }
  .footer__parallax .parallax_rock1 {
    position: absolute;
    left: 0;
    bottom: 62px;
    z-index: 2;
    min-width: 1920px;
    width: 105%;
    margin-left: -60px;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear; }
  .footer__parallax .parallax_rock2 {
    position: absolute;
    left: 0;
    bottom: 63px;
    z-index: 3;
    min-width: 1920px;
    margin-left: -60px;
    width: 105%;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear; }
  .footer__parallax .parallax_water_bottom {
    position: absolute;
    bottom: -85px;
    left: 0;
    z-index: 4;
    height: 175px;
    width: 100%;
    -webkit-animation-name: footer_wave2_anim;
            animation-name: footer_wave2_anim;
    -webkit-animation-duration: 3400ms;
            animation-duration: 3400ms;
    -webkit-animation-delay: -1200ms;
            animation-delay: -1200ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .footer__parallax .parallax_water_top {
    position: absolute;
    bottom: -85px;
    left: 0;
    z-index: 5;
    height: 175px;
    width: 100%;
    /* animation-name: footer_wave2_anim; */
    -webkit-animation-duration: 3400ms;
            animation-duration: 3400ms;
    -webkit-animation-delay: -1200ms;
            animation-delay: -1200ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .footer__parallax .parallax_boat {
    position: absolute;
    bottom: 56px;
    left: 42%;
    z-index: 6;
    width: 232px;
    height: 282px;
    -webkit-animation-name: footer_wave2_anim;
            animation-name: footer_wave2_anim;
    -webkit-animation-duration: 3400ms;
            animation-duration: 3400ms;
    -webkit-animation-delay: -1200ms;
            animation-delay: -1200ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
    .footer__parallax .parallax_boat img {
      -webkit-animation-name: footer_wave1_anim;
              animation-name: footer_wave1_anim;
      -webkit-animation-duration: 2500ms;
              animation-duration: 2500ms;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-transform-origin: 50% 100%;
          -ms-transform-origin: 50% 100%;
              transform-origin: 50% 100%; }

@-webkit-keyframes footer_wave2_anim {
  from {
    -webkit-transform: rotate(0deg) translateY(-2px) rotate(0deg);
            transform: rotate(0deg) translateY(-2px) rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg) translateY(-2px) rotate(360deg);
            transform: rotate(-360deg) translateY(-2px) rotate(360deg); } }

@keyframes footer_wave2_anim {
  from {
    -webkit-transform: rotate(0deg) translateY(-2px) rotate(0deg);
            transform: rotate(0deg) translateY(-2px) rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg) translateY(-2px) rotate(360deg);
            transform: rotate(-360deg) translateY(-2px) rotate(360deg); } }

@-webkit-keyframes footer_wave1_anim {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg); }
  100% {
    -webkit-transform: t rotate(-2deg);
            transform: t rotate(-2deg); } }

@keyframes footer_wave1_anim {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg); }
  100% {
    -webkit-transform: t rotate(-2deg);
            transform: t rotate(-2deg); } }

/************************************************************************
// 5.  THX - PAGE
*************************************************************************/
.thx-page {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #308798;
  padding-top: 125px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px; }
  .thx-page .footer__bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

.thx-page__title {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 35px; }

.thx-page__subtitle {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 45px; }

.thx-page__text {
  color: #333;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 60px; }

/************************************************************************
// 6. FIRST SCREEN THX
*************************************************************************/
/************************************************************************
// 7. SECOND SCREEN THX
*************************************************************************/
/************************************************************************
// 8. THIRD SCREEN THX
*************************************************************************/
/************************************************************************
// 9. TP 1-ST SCREEN
*************************************************************************/
/************************************************************************
// 10. TP 2-ND SCREEN
*************************************************************************/
/************************************************************************
// 11. TP 3-RD SCREEN
*************************************************************************/
/************************************************************************
// 12. TP 4-TH SCREEN
*************************************************************************/
/************************************************************************
// 12. TP 5-TH SCREEN
*************************************************************************/
/************************************************************************
// 13. TP 6-TH SCREEN
*************************************************************************/
/************************************************************************
// 14. TP FOOTER SCREEN
*************************************************************************/
/* --------------------------------1300------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 1550px) {
  .header__boat {
    left: 5%; }
  .header__rocks {
    right: -3.5%; } }

@media (max-width: 1300px) {
  .header__rocks {
    display: none; }
  .header__cloud2 {
    top: 517px; }
  .header__cloud4 {
    bottom: 290px; } }

@media (max-width: 1250px) {
  .header__boat {
    left: 1%;
    bottom: 34px; }
  .header__wave2 {
    z-index: 0; } }

/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 992px) {
  .first-screen__container .container__item {
    width: 50%;
    padding-left: 17px;
    padding-right: 17px; }
    .first-screen__container .container__item .item__text br {
      display: none; }
  .second-screen__container {
    text-align: center; }
  .second-screen__container .container__row:nth-child(1) {
    display: inline-block;
    width: 365px;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: top;
    text-align: left; }
  .second-screen__container .container__row:nth-child(2) {
    width: 365px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 0; }
    .second-screen__container .container__row:nth-child(2) .row__col:nth-child(1) {
      float: none;
      text-align: left;
      margin-bottom: 30px; }
    .second-screen__container .container__row:nth-child(2) .row__col:nth-child(2) {
      float: none;
      text-align: left;
      margin-bottom: 30px; }
  .second-screen__container .container__row:nth-child(3) {
    margin-top: 35px; }
  .second-screen__container .container__figure {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    left: 15%;
    top: 140px; }
  .icon-arrow {
    display: none; } }

@media (max-width: 950px) {
  .social__container {
    margin-left: 20%; } }

/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 910px) {
  .header__cloud2 {
    top: 271px; }
  .header__cloud3 {
    top: 27px;
    right: 14%; }
  .header__cloud4 {
    bottom: auto;
    top: 465px; }
  .main-header__text {
    line-height: 32px; } }

@media (max-width: 900px) {
  .third-section__container .container__item .dashed__lines {
    display: none; } }

/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 815px) {
  .second-screen__container .container__row:nth-child(1) {
    padding-left: 20px;
    padding-right: 20px;
    width: 320px; }
  .second-screen__container .container__row:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
    width: 320px; }
  .second-screen__container {
    padding-left: 10px;
    padding-right: 10px; }
  .foote-col {
    width: 100%;
    float: none; }
    .foote-col:nth-child(1) {
      margin: 0 auto;
      margin-bottom: 30px;
      max-width: 390px;
      width: 100%; }
  .footer__form {
    margin: 0 auto;
    float: none; } }

@media (max-width: 800px) {
  .social__container {
    margin-left: 5%; } }

/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 720px) {
  .main-header__banner .banner__header {
    margin-top: 14px; } }

@media (max-width: 700px) {
  .header__cloud2,
  .header__cloud4 {
    display: none; }
  .second-screen__container .container__row:nth-child(1) {
    width: 100%;
    max-width: 320px;
    padding: 0;
    text-align: center;
    margin-bottom: 20px; }
    .second-screen__container .container__row:nth-child(1) .row__col {
      text-align: left; }
  .second-screen__container .container__row:nth-child(2) {
    padding: 0;
    max-width: 320px;
    width: 100%; }
    .second-screen__container .container__row:nth-child(2) .row__col:nth-child(1) {
      margin-bottom: 20px; }
  .second-screen__container .container__row:nth-child(3) {
    margin-top: 170px; }
  .second-screen__container .container__figure {
    top: auto;
    bottom: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .third-section__container .container__wrapper .container__item {
    margin-left: 0; }
  .third-section__container .container__item {
    margin-left: 0;
    padding-left: 175px; } }

/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 680px) {
  .main-header__banner {
    padding-left: 20px;
    text-align: center;
    padding-top: 40px; }
  .main-header__banner .banner__img {
    float: none;
    text-align: center;
    margin-right: 0; } }

@media (max-width: 650px) {
  .first-screen__container .container__item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 55px; }
    .first-screen__container .container__item .item__icon {
      margin-bottom: 20px; }
    .first-screen__container .container__item .item__header {
      margin-bottom: 10px; }
  .social__container {
    float: right;
    margin-left: 0; }
  .lsg {
    display: block;
    width: 100%;
    text-align: center; } }

@media (max-width: 600px) {
  .third-section__container .container__item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 175px;
    text-align: center; }
  .third-section__container .container__item .item__header {
    margin-bottom: 15px; }
  .third-section__container .container__item .item__text {
    text-align: left; }
  .third-section__container .container__item .item__icon {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .second-screen {
    padding-top: 20px; }
  .third-section {
    padding-top: 60px;
    padding-bottom: 20px; }
  .third-section__container {
    margin-top: 60px; }
  .main-footer {
    padding-top: 40px; } }

/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 520px) {
  .main-header {
    padding-bottom: 100px; }
  .main-header__container .icon-header_text {
    right: 63px;
    bottom: -122px;
    -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
            transform: rotate(-8deg); }
  .main-header__container .icon-header_arrow {
    right: 20px;
    top: 70px;
    -webkit-transform: rotateX(180deg) rotate(-125deg);
            transform: rotateX(180deg) rotate(-125deg); }
  .main-header__text {
    margin-top: 43px;
    margin-bottom: 40px; }
  .footer__bottom-line {
    height: 196px;
    padding-top: 60px; }
  .policy__container {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-align: center;
    bottom: 13px;
    width: 250px; }
  .social__container {
    position: absolute;
    top: 13px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 450px) {
  .main-header__title {
    font-size: 38px;
    line-height: 46px; }
  .second-screen__container .container__figure {
    bottom: 28%; } }

@media (max-width: 420px) {
  .footer__form .form__container {
    margin-bottom: 45px; }
  .footer__form .form__container input {
    width: 100%; }
  .footer__form .form__container label {
    top: -25px;
    left: 0; }
  .footer__form .form__container .form__icon {
    left: 13px; } }

@media (max-width: 400px) {
  .second-screen__container .container__row:nth-child(2) .row__col:nth-child(1) {
    width: 100%; }
  .second-screen__container .container__row:nth-child(2) .row__col:nth-child(2) {
    width: 100%; }
  .header__button {
    max-width: 300px; } }
