/* --------------------------------1700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 1700px) {
	.teach__col {
		padding-right: 40px;
		min-height: auto;
		
	}
	.teach__col:nth-child(2) {
		padding-left: 40px;
		min-height: auto;
		padding-bottom: 100px;
		background-position: 0 100%;
	}
	.doubts {
		background:url("../img/doubts_left.jpg") no-repeat 0 70px;
		.site-wrapper {
			max-width: 700px;
		}
	}
}
@media (max-width: 1600px) {
	.teach__col {
		width: 100%;
		background:#edf4f7 url('../img/teach_left.jpg') no-repeat 0 100%;
		
		.col__wrapper {
			margin-right: 15%;
		}
	}
	.teach__col:nth-child(2) {
		width: 100%;
		background:#edf4f7 url('../img/teach_right.jpg') no-repeat 100% 100%;
		
		.col__wrapper {
			margin-left: 15%;
		}
	}
	.choice__col .col__overlay .overlay__header {
		br {
			display: none;
		}
	}
	.doubts {
		background:url("../img/doubts_left.jpg") no-repeat -6% 70px, 
		url("../img/doubts_right.jpg") no-repeat 125% 100%;
	}
}
@media (max-width: 1530px) {
	.whymonkey__container .container__item .item__wrapper {
		min-height: 630px;
	}
}
@media (max-width: 1375px) {
	.choice__col .col__overlay .overlay__header {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.choice__col .col__overlay {
		padding-top: 0;
		height: 100px;
		padding: 30px 20px;
	}
	.choice__col:hover .col__overlay  {
		height: 100%;
	}
	.doubts__description  {
		max-width: 500px;
		margin: 0 auto;
	}
}
@media (max-width: 1280px) {
	.whymonkey__container {
		text-align: center;
	}
	.whymonkey__container .container__item {
		width: 100%;
		max-width: 445px;
		float: none;
		display: inline-block;
		text-align: left;
		margin-bottom: 40px;
		.item__wrapper {
			min-height: 550px;
		}
	}
}
@media (max-width: 1250px) {
	.doubts {
		background:url("../img/doubts_left.jpg") no-repeat -160px 30px;
		.site-wrapper {
			max-width: 600px;
		}
	}
	.doubts__overlay {
		right: -230px;
	}
}
@media (max-width: 1200px) {
	.owl-carousel .owl-item{
		.item {
			max-width: 490px;
			margin: 0 auto;
		}
	}
	.owl-instructors .owl-next{
		right: 60px;
	}
	.owl-instructors .owl-prev {
		left: 60px;
	}
}
@media (max-width: 1100px) {
	.teach__col {
		.col__wrapper {
			margin-right: 20px;
		}
	}
	.teach__col:nth-child(2) {

		.col__wrapper {
			margin-left:20px;
		}
	}
	.choice {
		padding-top: 60px;
	}
	.choice__col {
		float: none;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.doubts {
		background:url("../img/doubts_left.jpg") no-repeat -160px 30px;
	}
}
@media (max-width: 1050px) {
	.icons-sections__container .container__item:nth-child(1),
	.icons-sections__container .container__item:nth-child(2),
	.icons-sections__container .container__item:nth-child(3),
	.icons-sections__container .container__item:nth-child(4) {
		width: 298px;
		margin-bottom: 60px;
		.item_wrapper {
			width: 207px;
			margin: 0 auto;
		}
	}
	.icons-sections {
		padding-bottom: 30px;
	}
}
/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 1010px) {
	.doyoutry__container {
		text-align: center;
	}
	.doyoutry__container .container__item .item__wrapper {
    background-image: url('../img/doyotry_sprite_responsive.png');
	    background-repeat: no-repeat;
	}

	.doyoutry__container .container__item:nth-child(1)  {
		margin-bottom: 40px;
		.item__wrapper {
		    width: 500px;
		    height: 420px;
		    background-position: -5px -5px;
		}
	}

	.doyoutry__container .container__item:nth-child(2)   {
		margin-bottom: 40px;
		.item__wrapper {
		    width: 500px;
		    height: 420px;
		    background-position: -5px -435px;
		}
	}

	.doyoutry__container .container__item:nth-child(3)  .item__wrapper {
	    width: 500px;
	    height: 420px;
	    background-position: -5px -865px;
	}

}
/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 992px) {
	.numbers__container .container__item {
		width: 260px;
		margin: 0px 30px 50px;
	}
	.numbers__container .container__item:first-child {
		margin-left: 30px;
	}
	.numbers__container .container__item:last-child {
		margin-right: 30px;
	}
}
/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 950px) {
	.doubts__overlay {
		max-width: 700px;
		width: 100%;
		right: -200px;
	}
	.doubts {
		background:url("../img/doubts_left.jpg") no-repeat -130px 30px;
		-webkit-background-size: 250px auto;
		background-size: 250px auto;
	}
	.whatyouget__row .whatyouget__col .wrapper_left {
		padding-right: 0;
		display: inline-block;
		width: auto;
		padding-top: 110px;
	}
	.whatyouget__row .whatyouget__col .wrapper_right {
		padding-left: 0;
		display: inline-block;
		width: auto;
		padding-top: 110px;
	}
	.whatyouget__row .whatyouget__col .wrapper_left .col__icon {
		right: auto;
		top: 0;
		left:50px;
	}
	.whatyouget__row .whatyouget__col .wrapper_right .col__icon {
		left: auto;
		top: 0;
		right:50px;
	}
	.social__container {
		margin-left:20%;
	}
	.teach__col {
		background-position: -250px 100%;
	}
	.teach__col:nth-child(2) {
		background-position:  0%;
	}
}
/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 800px)  {
	.feedbacks__container .container__item:nth-child(2),
	.feedbacks__container .container__item:nth-child(1).hovered {
		width: 350px;
		height: 200px;
	}
	.feedbacks__container {
		height: 200px;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
	.feedbacks__container .container__item:nth-child(3),
	.feedbacks__container .container__item:nth-child(2).smalledR,
	.feedbacks__container .container__item:nth-child(2).smalledL {
		width: 350px;
		height: 150px;
	}
	.feedbacks__container .container__item:nth-child(1) {
		width: 350px;
		height: 150px;
	}
	.feedbacks__container .container__item:nth-child(3).hovered {
		width: 350px;
		height: 200px;
	}
	.feedbacks {
		padding-bottom: 10px;
	}
	.social__container {
		margin-left: 5%;
	}
}
/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 700px) {
	.videoscreen__question {
		font-size: 36px;
	}
	.videoscreen__text {
		font-size: 18px;
		line-height: 28px;
	}
	.icons-sections__title {
		br {
			display: none;
		}
	}
	.adventure__title, 
	.whymonkey__title {
		font-size: 42px;
	}
	.whatyouget {
		background: none;
		padding-top: 70px;
	}
	.whatyouget__row:nth-child(3) .whatyouget__col {
		width: auto;
		text-align: left;
	}
	.whatyouget__row .whatyouget__col, {
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}
	.whatyouget__row .whatyouget__col .wrapper_left,
	.whatyouget__row .whatyouget__col .wrapper_right,
	.whatyouget__row .whatyouget__col .wrapper_midle {
		text-align: left;
		width: 300px;
		float: none;
	}
	.whatyouget__row:nth-child(1) {
		margin-bottom: 0;
	}
	.whatyouget__row .whatyouget__col .wrapper_right .col__icon,
	.whatyouget__row .whatyouget__col .wrapper_midle .col__icon {
		right: auto;
		left: 50px;
		transform: translateX(0);
	}
	.owl-instructors .owl-prev {
		left: 0;
	}
	.owl-instructors .owl-next {
		right: 0;
	}
}
/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 650px) {
	.numbers__container .container__item {
		width: 260px;
		margin: 0px 10px 20px;
	}
	.numbers__container .container__item:first-child {
		margin-left: 10px;
	}
	.numbers__container .container__item:last-child {
		margin-right: 10px;
	}
	.numbers__title {
		font-size: 36px;
	}
	.lsg {
		display: block;
		width: 100%;
		text-align: center;
	}
	.social__container {
		float: right;
		margin-left: 0;
	}
}
@media (max-width: 600px) {
	.doyoutry__container {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	.doyoutry__container .container__item .item__wrapper {
   		background-image: url('../img/doyotry_sprite.png');
	    background-repeat: no-repeat;
	    padding: 50px 25px;
	}

	.doyoutry__container .container__item:nth-child(1)  {
		margin-bottom: 40px;
		.item__wrapper {
		    width: 307px;
			height: 420px;
		    background-position: -5px -5px;
		}
	}

	.doyoutry__container .container__item:nth-child(2)   {
		margin-bottom: 40px;
		margin-left: 0;
		margin-right: 0;
		.item__wrapper {
		    width: 307px;
		    height: 420px;
		    background-position: -322px -5px;
		}
	}

	.doyoutry__container .container__item:nth-child(3)  .item__wrapper {
	    width: 307px;
	    height: 420px;
	    background-position: -639px -5px;
	}
	.doyoutry__header {
		font-size: 38px;
	}
	.choice {
		padding-left: 15px;
		padding-right: 15px;
	}
	.doubts__overlay {
		display: none;
	}
	.doubts {
		background: none;
		text-align: left;
		padding-top: 30px;
		padding-left: 10px;
	}
	.doubts__title {
		font-size: 32px; 
		text-align: center;
		display: block;
		width: 320px;
		padding-right: 30px;
		white-space: nowrap;
		margin-left: auto;
		margin-right: auto;
	}
	.doubts__title:before {
		transform: rotate(-45deg) translate(8px, 8px);
	}
	.doubts__title.opened:before {
		transform: rotate(45deg) translate(7px, -8px)
	}
	.doubts__title span {
		top: 30px;
		right: 153px;
	}
	.doubts__container {
		margin-right: 0;
		margin-left: 0;
	}
	.icons-sections__title {
		font-size: 26px;
	}
	.issa__item  {
		padding-right: 0;
		padding-top: 200px;
		.item__icon {
			top: 0;
			transform: translate(50%, 0);
			right: 50%;
			text-align: center;
		}
	}

	.issa__item:nth-child(3), .issa__item:nth-child(5) {
		padding-left: 0;
	}
	.issa__item:nth-child(3) {
		padding-top: 130px;
	}
	.issa__title {
		font-size: 36px;
	}
	.issa__item:nth-child(3) .item__icon, .issa__item:nth-child(5) .item__icon {
		left: auto;
	}
	.dreams__title,
	.form__header {
		font-size: 36px;
	}
	.teach__col,
	.teach__col:nth-child(2) {
		background: #edf4f7 ;
		min-height: auto;
		padding-left: 40px;
		padding-right: 40px;
	}
	.teach__col:nth-child(2) {
		padding-bottom: 100px;
		padding-top: 0;
	}
	.teach__col .col__wrapper {
		max-width: 450px;
		margin: 0 auto;
		float: none;
	}
	.teach__button {
		bottom: 60px;
	}
	.teach__col:nth-child(2) .col__wrapper {
		margin: 0 auto;
	}

	.insctructors .owl-carousel .owl-item {
		overflow: visible;
	}
	.owl-instructors .item .item__body .body__picture {
		position: absolute;
		z-index: 2;
		top: -100px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.item__body,
	.owl-instructors .item .item__foter {
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
	}
	.owl-instructors .item.left_pic .body__text,
	.owl-instructors .item.right_pic .body__text {
		float: none;
		max-width: 400px;
		width: 100%;
		z-index: 1;
		margin-left: 0;
		background-color: #0089d6;
		padding-top: 110px;
		min-height: auto;
	}
	.owl-instructors .item .item__foter {
		background-color: #0089d6;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 20px;
		color: #fff;
		padding-top: 0;
	}
	.owl-carousel .owl-stage-outer {
		padding-top: 100px;
	}
	.owl-prev, .owl-next {
		top: 20px;
	}
	.thanks_header {
		padding-bottom: 230px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.thanks_header .header__title {
		font-size: 42px;
		line-height: 50px;
	}
	.privacy_page .thanks_header .header__title {
		font-size: 24px;
		line-height: 32px;
	}
}
/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 500px) {
	.videoscreen__title {
		margin-bottom: 40px;
	}
	.whymonkey__container .container__item .item__wrapper {
		min-height: 590px;
	}
	.whymonkey__container .container__item {
		padding: 0;
	}
	.whymonkey__container .container__item .item__text {
		padding-right: 15px;
		padding-left: 15px;
	}
	.whymonkey__container .container__item .item__header {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 20px;
	}


	.feedbacks__container .container__item:nth-child(2),
	.feedbacks__container .container__item:nth-child(1).hovered {
		width: 240px;
		height: 150px;
	}
	.feedbacks__container {
		height: 150px;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
	.feedbacks__container .container__item:nth-child(3),
	.feedbacks__container .container__item:nth-child(2).smalledR,
	.feedbacks__container .container__item:nth-child(2).smalledL {
		width: 240px;
		height: 120px;
	}
	.feedbacks__container .container__item:nth-child(1) {
		width: 240px;
		height: 120px;
	}
	.feedbacks__container .container__item:nth-child(3).hovered {
		width: 240px;
		height: 150px;
	}
	.feedbacks {
		padding-bottom: 10px;
	}
	.feedbacks__title {
		font-size: 36px;
	}
	.social__container {
		position: absolute;
		top: 13px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.main-footer {
		height: 196px;
		padding-top: 60px;
	}
	.policy__container {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		bottom: 13px;
		width: 250px;
	}
	.teach__col, .teach__col:nth-child(2) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.teach__col .col__text {
		margin-bottom: 30px;
	}
	.price_popup .popup__close {
		transform: translate(0);
	}
}
/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 400px) {
	.choice__col .col__overlay {
		padding: 15px 15px;
		height: 75px;
	}
	.choice__col .col__overlay .overlay__header {
		margin-bottom: 0;
		font-size: 26px;
	}
	.choice__col .col__overlay .overlay__text {
		font-size: 18px;
		line-height: 24px;
	}
	.doubts__title {
		padding: 0;
		display: inherit;
		width: auto;	
	}
	.icons-sections__container .container__item:nth-child(1),
	.icons-sections__container .container__item:nth-child(2),
	.icons-sections__container .container__item:nth-child(3),
	.icons-sections__container .container__item:nth-child(4) {
		width: 250px;
		margin-bottom: 60px;
		.item_wrapper {
			width: 207px;
			margin: 0 auto;
		}
	}
	.form__button {
		max-width: 270px;
	}
	.owl-instructors .item.left_pic .body__text, 
	.owl-instructors .item.right_pic .body__text {
		padding-left: 15px;
		padding-right: 15px;
	}
	.owl-instructors .item .item__foter {
		padding-left: 15px;
		padding-right: 15px;
	}
}