/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
.hero-header {
	position: relative;
	border-bottom: 5px solid #bfd7e3;
	overflow: hidden;
	.site-wrapper {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0 );
		text-align: right;
		padding-top: 33px;
	}
}
.video-wrapper {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	video {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
	}
}
/* .header__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(17, 19, 38, 0.4);
	z-index: 2;
} */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/snapshot.jpg') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.text-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	color: #fff;
	font-family: $slab;
	text-align: center;
	text-shadow: 0 -1px 0 #000;
}
.header__title {
	font-weight: 400;
	font-size: 48px;
}
.header__subtitle {
	font-size: 72px;
	font-weight: 400;
	margin-bottom: 40px;
	white-space: nowrap;
}
.header__description {
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 70px;
}
.header__button {
	max-width: 336px;
	width: 100%;
	height: 56px;
	background-color: #fff;
	border:none;
	border-radius: 28px;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	box-shadow: 0 4px 0 #999999;
	color: #ff5722;
	text-shadow: 0px -1px 0 #c02e00;	
	transform: translate(0);
	transition: transform 0.4s ease, box-shadow 0.4s ease; 				 
	&:hover {
		transform: translate(0, 2px);
		box-shadow: 0 2px 0 #999999;
		transition: transform 0.4s ease, box-shadow 0.4s ease;
	}
	&:active {
		transform: translate(0, 4px);
		box-shadow: 0 0px 0 #999999;
		transition: transform 0.4s ease, box-shadow 0.4s ease;
	}
}
.buttons__container {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index:6;
}
.menu__buton {
	background-color: transparent;
	border:2px solid #b3e5fc;
	border-radius: 50%;
	vertical-align: top;
	width: 48px;
	height: 48px;
	position: relative;
	cursor: pointer;
	/* span {
		height: 2px;
		width: 27px;
		background: #b3e5fc;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&:after, &:before {
			content:"";
			display: block;
			height: 2px;
			width: 27px;
			background: #b3e5fc;
			position: absolute;
			left: 0;
		}
		&:after {
			top: -7px;
		}
		&:before {
			bottom: -7px;
		}
	} */
	svg {
	  width: 60px;
	  height: 60px;
	  cursor: pointer;
	  position: absolute;
	  top: -10px;
	  left: -9.5px;
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	path {
	  fill: none;
	  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	  stroke-width: 40px;
	  stroke-linecap: round;
	  stroke: #b3e5fc;
	  stroke-dashoffset: 0px;
	 
	}
	path#top,
	path#bottom {
	  stroke-dasharray: 240px 950px;
	}
	path#middle {
	  stroke-dasharray: 240px 240px;
	}
	&.cross path#top,
	&.cross path#bottom {
	  stroke-dashoffset: -650px;
	  stroke-dashoffset: -650px;
	}
	&.cross path#middle {
	  stroke-dashoffset: -115px;
	  stroke-dasharray: 1px 220px;
	}
	 &:hover {
		background: #fff;
		border:2px solid #fff;
		transition: border 0.4s ease, background 0.4s ease;	
		svg path{
			stroke:#00355b;
			
		}
	} 
}
.callback__button {
	background-color: transparent;
	border:2px solid #b3e5fc;
	border-radius: 23px;
	height: 48px;
	text-align: right;
	padding-right: 15px;
	width: 48px;
	font-family: $roboto;
	font-size: 18px;
	font-weight: 300;
	color:#b3e5fc;
	position: relative;
	cursor: pointer;
	margin-right: 20px;
	transition: color 0.4s ease, background 0.4s ease;
	z-index: 999;
	overflow: hidden;
	.contacts_container {
		 color: #333;
	}
	&.opened {
		width: 300px;
		height: 300px;
	}

}
.callback__icon {
	display: block;
	width: 27px;
	height: 27px;
	position: absolute;
	top: 11px;
	right: 11px;
	svg {
		width: 22px;
		height: 22px;
		fill:#b3e5fc;
		transition: fill 0.3s ease;
	}
}
.callback__button:hover {
	background: #fff;
	border: 2px solid #fff;
	color: #00355b;
	transition: color 0.4s ease, background 0.4s ease;
	.callback__icon {
		svg {
			fill:#00355b;
			transition: fill 0.3s ease;
		}
	}
}
.main-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	text-align: center;
	background-color: transparent;
	transition: background 0.4s ease-out;
	&.opened {
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		transition: background 0.4s ease-out;
	}
	 nav {
	 	position: absolute;
	 	top: 110px;
	 	right: -35px;
	 	z-index: 2;
	 	max-width: 320px;
	 	text-align: left;
	 	transform: translate(2000px, 0);
	 	a {
	 		display: inline-block;
	 		color: #fff;
	 		font-family: $roboto;
	 		font-size: 20px;
	 		font-weight: 300;
	 		margin: 10px;
	 		margin-bottom: 25px;
	 		text-align: right;
	 		position: relative;
	 		&:after {
	 			content:"";
	 			display: block;
	 			height: 2px;
	 			width: 0;
	 			background: #fff;
	 			position: absolute;
	 			bottom: -8px;
	 			left: 0;
	 			transition: width 0.3s ease-out;
	 		}
	 		&:nth-child(1) {
	 			transform:translate(0, 2000px);
	 			
	 		}
	 		&:nth-child(3) {
	 			transform:translate(0, 2500px);
	 			
	 		}
	 		&:nth-child(4) {
	 			transform:translate(0, 3000px);
	 			
	 		}
	 		&:nth-child(5) {
	 			transform:translate(0, 3500px);
	 			
	 		}
	 		&:nth-child(6) {
	 			transform:translate(0, 4000px);
	 			
	 		}
	 		&:hover {
	 			&:after {
	 				width: 100%;
	 			} 
	 		}
	 	}
	}
	.morph-shape {
		height: 100vh;
		width: 300px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		transform: translate(320px, 0) rotate(180deg);
		transition: transform 0.4s ease;
	}
	.menu_close {
		position: absolute;
		right: 20px;
		top: 30px;
		width: 20px;
		height: 20px;
		cursor: pointer;
		&:before, &:after {
			content:"";
			display: block;
			height: 2px;
			position: absolute;
			background: #b3e5fc;
			width: 100%;
			top: 9px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	&.opened {
		.morph-shape {
			transform: translate(0,0) rotate(180deg);
		}
		nav {
			transform: translate(0, 0);
		}
	}
}
nav.opened {
	transition: transform 0.4s ease;
	a {
		&:nth-child(1) {
 			transform:translate(0, 0);
 			transition: transform 0.7s ease-out;
 		}
 		&:nth-child(3) {
 			transform:translate(0, 0);
 			transition: transform 0.7s ease-out;
 		}
 		&:nth-child(4) {
 			transform:translate(0, 0);
 			transition: transform 0.7s ease-out;
 		}
 		&:nth-child(5) {
 			transform:translate(0, 0);
 			transition: transform 0.7s ease-out;
 		}
 		&:nth-child(6) {
 			transform:translate(0, 0);
 			transition: transform 0.7s ease-out;
 		}
	}
}
.main-menu__contacts {
	position: absolute;
	top: 110px;
	right: -45px;
	max-width: 320px;
	width: 100%;
	text-align: left;
	z-index: 2;
	transform:translate(0, 3000px);
	&.opened {
		transform: translate(0,0);
		transition: transform 0.7s ease-out;
	}
	.contacts__text {
		font-size: 18px;
		line-height: 28px;
		color: #fff;
		font-family: $slab;
		font-weight: 300;
		margin-bottom: 25px;
	}
}
.contacts__container {
	padding-top: 10px;
	.social__item {
		display: inline-block;
	    width: 45px;
	    height: 45px;
	    text-align: center;
	    vertical-align: middle;
	    border-radius: 50%;
	    border: 2px solid #004d85;
	    margin-right: 20px;
	    transition: border-color 0.2s linear;
		svg {
			fill: #004d85;
		    width: 25px;
		    height: 25px;
		    margin-top: 8px;
		    transition: fill 0.2s linear;
		}
		&:hover {
			border-color: #fff;
			svg {
				fill:#fff;

			}
		}
	}
}

@media (max-width: 700px) {
	.header__subtitle {
		font-size: 50px;
	}
	.header__title {
		font-size: 32px;
	}
	.header__description {
		line-height: 44px;
	}
}
@media (max-width: 500px) {
	.header__subtitle {
		margin-bottom: 0;
		white-space: normal;
	}
	.header__title,
	.header__description {
		font-size: 24px;
		line-height: 36px;
	}
	.header__description {
		margin-bottom: 25px;
	}
	.main-menu.opened nav {
		width: 100%;
		max-width: none;
	}
	.main-menu.opened .morph-shape {
		width: 100%;
	}
	.main-menu nav {
		br {
			display: none;
		} 
		a {
			display: block;
			text-align: left;
		}
	}
	.main-menu__contacts {
		right: auto;
		left: 30px;
	}
}

/************************************************************************
// VIDEO POP UP
************************************************************************/
.videopopup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 53, 91, 0.7);
	z-index: 50;
	overflow: hidden;
	transform: scale(0);
	transition: transform 0.4s ease-out;
	.videopopup__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 854px;
		width: 100%;
		max-height: 480px;
		height: 100%;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	&.visible {
		transform: scale(1);
		transition: transform 0.4s ease-out;
	}
}