/************************************************************************
// 2. DO YO TRY section
*************************************************************************/
.doyoutry {
	padding-top: 50px;
	padding-bottom: 79px;
	text-align: center;
	font-family: $slab;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.doyoutry__header {
	color: #0095df;
	font-size: 60px;
	font-weight: 300;
	text-shadow: 0 -1px 0 #006293;
	margin-bottom: 79px;
	transform: scale(1.5);
	opacity: 0;
	transition: transform 0.3s ease-out, opacity 0.8s ease;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.3s ease-out, opacity 0.8s ease;
	}
}
.doyoutry__container {
	.container__item {
		color:#fff;
		display: inline-block;
		text-align: left;
		text-shadow: 0 -1px 0 #000;
		vertical-align: top;
		position: relative;
		z-index: 1;
		.item__wrapper {
			display: table-cell;
			padding: 50px 30px;
			height: 420px;
			vertical-align: bottom;
			position: relative;
			z-index: 3;
		}
		&:nth-child(1) {
			transform: translate(3000px, 0);
			opacity: 0;
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 0.7s ease-in-out, 
				opacity 2s ease-out;
			}
		}
		&:nth-child(2) {
			margin: 0px 30px;
			transform: translate(4000px, 0);
			opacity: 0;
			.item__wrapper {
				vertical-align: top;
			}
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 0.9s ease-in-out, 
				opacity 2s ease-out;
			}
		}
		&:nth-child(3) {
			transform: translate(5000px, 0);
			opacity: 0;
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 1.1s ease-in-out, 
				opacity 2s ease-out;
			}
		}
		.item__header {
			font-weight: 400;
			font-size: 36px;
			margin-bottom: 35px;
			transition: transform 0.3s cubic-bezier(0, 0.47, 0.49, 0.71);
		}
		.item__text {
			font-size: 20px;
			font-weight: 400;
			line-height: 28px;
			transition: transform 0.3s cubic-bezier(0, 0.47, 0.49, 0.71);
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom:1px;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			height: 30px;
			border-radius: 50%;
			z-index: 2;
			box-shadow: 0 1px 15px 5px #5d8ca7;
		}
		&:hover {
			.item__header {
				transform: translate(0, 15px);
				transition: transform 0.3s cubic-bezier(0, 0.47, 0.49, 0.71);
			}
			.item__text {
				transform: translate(0, -15px);
				transition: transform 0.3s cubic-bezier(0, 0.47, 0.49, 0.71);
			}
		}
	}
}
/************************************************************************
// 3. VIDEOSCREEN
*************************************************************************/
.videoscreen {
	min-height: 694px;
	padding-top: 71px;
	background: url('../img/videoscreen.jpg') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-shadow: 0 -1px 0 #fff;
	text-align: center;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}
.videoscreen__question {
	font-size: 48px;
	font-weight: 300;
	font-family: $roboto;
	margin-bottom: 27px;
	transform: scale(2);
	opacity: 0;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.3s ease-in-out, 
					opacity 0.5s ease-out;
	}
}
.videoscreen__text {
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	font-family: $slab;
	margin-bottom: 7px;
	transform: scale(2);
	opacity: 0;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.3s ease-out,
		opacity 0.5s ease-in-out;
	}
}
.videoscreen__title {
	font-family: $slab;
	font-size: 60px;
	font-weight: 300;
	color: #b3daed;
	margin-bottom: 100px;
	transform: scale(3);
	opacity: 0;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.4s ease-in-out,
		opacity 0.6s ease;
	}
}
.videoscreen__button {
	border:none;
	width: 84px;
	height: 84px;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	box-shadow: 0 4px #999999;
	transform: translate(0);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	span {
		content:"";
		display: block;
		position: absolute;
		top: 50%;
		left: 33px;
		transform: translate(0, -50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 16px 0 16px 20px;
		border-color: transparent transparent transparent #ff5722;
		z-index: 1;
		&:before {
			content:"";
			display: block;
			position: absolute;
			top: -8px;
			right: -1px;
			height: 2px;
			z-index: 3;
			width: 23px;
			background: #c2380c;
			transform: rotate(39deg);
		}
	}
	&:hover {
		transform: translate(0, 2px);
		box-shadow: 0 2px  #999999;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	&:active {
		transform: translate(0, 4px);
		box-shadow: 0 0px  #999999;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
}
/************************************************************************
// 4. TEACH section
*************************************************************************/
.teach {
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.teach__col {
	background: url('../img/teach_left.jpg') no-repeat 0 100%;
	-webkit-background-size: cover;
		background-size: cover;
	width: 50%;
	float: left;
	min-height: 527px;
	padding-right: 130px;
	padding-top: 88px;
	&:nth-child(2) {
		background: url('../img/teach_right.jpg') no-repeat 100% 0;
		-webkit-background-size: cover;
		background-size: cover;
		padding-left: 130px;
		.col__wrapper {
			float: none;
		}
	}
	.col__wrapper {
		float: right;
	}
	.col__text {
		color: #1f1f1f;
		font-family: $slab;
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
		margin-bottom: 65px;
		position: relative;
		padding-left: 50px;
		.text__icon {
			display: block;
			position: absolute;
			left: 0;
			top: 2px;
			svg {
				fill: #0089d6;
				width: 35px;
				height: 35px;
			}
		}
	}
}
.teach__col:nth-child(1) .col__wrapper {
	.col__text {
		&:nth-child(1) {
			transform:translate(-2500px, 0);
			opacity: 0;
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 1.1s ease-in-out, 
				opacity 2s ease;
			}
		}
		&:nth-child(2) {
			transform:translate(-3500px, 0);
			opacity: 0;
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 1.3s ease-in-out, 
				opacity 2s ease;
			}
		}
		&:nth-child(3) {
			transform:translate(-4500px, 0);
			opacity: 0;
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 1.5s ease-in-out, 
				opacity 2s ease;
			}
		}
	}
}
.teach__col:nth-child(2) .col__wrapper {
	.col__text {
		&:nth-child(1) {
			transform:translate(2500px, 0);
			opacity: 0;
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 1.1s ease-in-out, 
				opacity 2s ease;
			}
		}
		&:nth-child(2) {
			transform:translate(3500px, 0);
			opacity: 0;
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 1.3s ease-in-out, 
				opacity 2s ease;
			}
		}
		&:nth-child(3) {
			transform:translate(4500px, 0);
			opacity: 0;
			&.visible {
				transform: translate(0);
				opacity: 1;
				transition: transform 1.5s ease-in-out, 
				opacity 2s ease;
			}
		}
	}
}
.teach__button {
	max-width: 336px;
	width: 100%;
	height: 56px;
	background-color: #ff5722;
	border:none;
	color: #fff;
	text-shadow: 0 -1px 0 #a92900;
	border-radius: 28px;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	position: absolute;
	left: 50%;
	bottom: 40px;
	box-shadow: 0 4px #c2380c;
	transform: translate(-50%,0);
	transition: box-shadow 0.3s ease, transform 0.3s ease;			 
	&:hover {
		transform: translate(-50%,2px);
		box-shadow: 0 2px #c2380c;
		transition: box-shadow 0.3s ease, transform 0.3s ease;
	}
	&:active {
		transform: translate(-50%,4px);
		box-shadow: 0 0px #c2380c;
		transition: box-shadow 0.3s ease, transform 0.3s ease;
	}
}
/************************************************************************
// 4. CHOICE section
*************************************************************************/
.choice {
	
}
.choice__col {
	float: left;
	width: 33.3333%;
	position: relative;
	overflow: hidden;
	img {
		position: relative;
		z-index: 1;
		transition: transform 0.8s ease;
	}
	.col__overlay {
		padding: 0px 45px;
		text-shadow: 0 -1px 0 #004568;
		color: white;
		font-family: $slab;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		height: 150px;
		padding-top: 50px;
		background: linear-gradient(to top, #005782, transparent);
		transition: height 0.4s ease;
		.overlay__header {
			font-size: 36px;
			font-weight: 400;
			min-height: 72px;
			margin-bottom: 30px;
		}
		.overlay__text {
			font-size: 18px;
			line-height: 28px;
			font-weight: 300;
		}
	}
	&:hover {
		.col__overlay{
			 height: 286px;
			 transition: height 0.4s ease;
		}
		img {
			transform: scale(1.1) rotate(1deg);
		}
	}
	&:nth-child(2):hover {
		img {
			transform: scale(1.1) rotate(-1deg);
		}
	}
}
/************************************************************************
// 4. DOUBTS section
*************************************************************************/
.doubts {
	padding-top: 87px;
	padding-bottom: 90px;
	background: url('../img/doubts_left.jpg') no-repeat 0 70px;
	font-family: $slab;
	color: #333;
	position: relative;
	z-index: 1;
	text-align: center;
	overflow: hidden;
}
.doubts__overlay {
	display: block;
	position: absolute;
	bottom: 0;
	right: -100px;
}
.doubts__subtitle {
	color: #0089d6;
	font-size: 28px;
	line-height: 42px;
	font-weight: 300;
	font-family: $slab;
	transform: translate(0, -1000px);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.8s cubic-bezier(0.43, 0.15, 0.7, 1.11),
		opacity 1.5s ease-out;
	}
}
.doubts__description {
	font-family: $slab;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #333;
	transform: translate(0, -1000px);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.8s cubic-bezier(0.43, 0.15, 0.7, 1.11),
		opacity 1.5s ease-out;
	}
}
.doubts__title {
	font-size: 48px;
	font-family: $slab;
	font-weight: 300;
	color: #333;
	margin-top: 70px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-bottom: 60px;
	transform: translate(0, 1000px);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.8s cubic-bezier(0.43, 0.15, 0.7, 1.11),
		opacity 1.5s ease-out;
	}
	span {
		position: absolute;
		top: 12px;
		right: -35px;
		width: 30px;
		height: 30px;

		transition: transform 0.8s ease;
		transition:transform .9s;
		animation-name:arrow_down;
		animation-delay: 1s;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction:alternate;
		animation-timing-function:ease;
		&:after, &:before {
			content:"";
			display: block;
			background: #333;
			position: absolute;
			right: 12px;
			top: 13px;
			width: 17px;
			height: 3px;
			transform-origin: 50% 50%;
			transition: transform 0.4s ease;
		} 
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg) translate(8px, 7px);
		}
		&.opened {
			&:after {
				transform: rotate(-45deg);
			}
			&:before {
				transform: rotate(45deg) translate(8px, -7px);
				transition: transform 0.4s ease;
			}
		}
		@keyframes arrow_down {
			100% {
				transform: translate(0, 10px);
			}
		}
		
	}
}

.doubts__container {
	margin: 0px 20px;
	border-left:1px dashed #0089d6;
	text-align: left;
	padding-left: 35px;
	display: none;
	overflow: visible !important;
	position: relative;
	z-index: 1;
	.container__list {
		font-weight: 300;
		font-family: $slab;
		font-size: 18px;
		line-height: 28px;
		color: #333;
		margin-bottom: 40px;
		li {
			position: relative;
			margin-bottom: 10px;
			&:before {
				content:"";
				display: block;
				position: absolute;
				left: -43px;
				top: 0;
				background: #0089d6;
				width: 15px;
				height: 15px;
				border-radius: 50%;
			}
		}
	}
	.container__title {
		font-size: 20px;
		font-weight: 400;
		font-family: $slab;
		color: #333;
		line-height: 30px;
		position: relative;
		margin-bottom: 20px;
		svg {
			fill:#0089d6;
			width: 35px;
			height: 35px;
			position: absolute;
			left: -53px;
			top: -2px;
		}
	}
}
.button__wrapper {
	text-align: center;
	position: relative;
	z-index: 2;
	background: transparent;
	transform: translate(0, 1000px);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.8s cubic-bezier(0.43, 0.15, 0.7, 1.11),
		opacity 1.5s ease-out;
	}
}
.doubts__button  {
	max-width: 336px;
	margin-top: 28px;
	width: 100%;
	height: 56px;
	background-color: #ff5722;
	border:none;
	border-radius: 28px;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	position: relative;
	margin-top: 20px;
	box-shadow: 0 4px #c2380c;	
	text-shadow: 0 -1px #c2380c;
	transition: transform 0.3s ease, box-shadow 0.3s ease;			 
	&:hover {
		transform:translate(0, 2px);
		box-shadow: 0 2px #c2380c;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	&:active {
		transform:translate(0, 4px);
		box-shadow: 0 0px #c2380c;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
}
.doubts.opened {
	.button__wrapper {
		text-align: left;
	}
}
/************************************************************************
// 5. ONCE section
************************************************************************/
.once {
	padding-top: 91px;
	padding-bottom: 80px;
	background: url('../img/once.jpg') no-repeat 50% 50%;
	color: #fff;
	text-shadow: 0 -1px 0 #000226;
	font-family: $slab;
	position: relative;
	z-index: 1;
}
.once__title {
	font-weight: 400;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 23px;
}
.once__text {
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	margin-bottom: 16px;
	h2 {
		display: inherit;
	}
}
/************************************************************************
// 6. ADVENTURE section
************************************************************************/
.adventure {
	text-align: center;
	padding-top: 60px;
	position: relative;
	z-index: 1;
}
.adventure__title{
	font-family: $slab;
	font-size: 56px;
	font-weight: 300;
	color:#333; 
	margin-bottom: 60px;
}
.owl-item {
	min-height: 336px;
	min-width: 326px;
	position: relative;
  	overflow: hidden;
  	margin: 0;
  	padding: 0;
  	font-family: $slab;
	.item__img {
		max-width: 326px;
		min-height: 336px;
		margin-bottom: -3px;
    position: relative;
    z-index: 1;
    transition: transform 1s ease;
	}
  .item__title {
  	position: absolute;
  	bottom: 0;
    width: 100%;
    height:100px;
    background: rgba(42, 59, 69, 0.71);
    color: #fff;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    z-index: 3;
    font-weight: 300;
    padding-top: 15px;
  }
  .item_subtitle {
    font-weight: 300;
    font-size: 18px;
    margin-top: -10px;
  }
  .item__overlay {
    position: absolute;
    background: rgba(42, 59, 69, 0.71);
    top: 0;right: 0;
    left: 0;bottom: 0;
    width: 100%;
    height: 233px;
    z-index: -1;
    opacity: 0;
    text-align: center;
    transition: opacity 0.8s ease;
  }
  .overlay__button {
    background-color: #fff;
    border:none;
    width: 67px;
    height: 67px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 40px;
    position: relative;
    cursor: pointer;
    &.disabled {
    	background: #304d6c;
    	&:before, &:after {
    		background:#cccccc;
    	}
    }
    &:before, &:after {
      content:"";
      display: block;
      position: absolute;
      top: 35px;
      left: 19px;
      background: #ff5722;
      height: 3px;
    }
    &:before {
      width: 15px;
      transform: rotate(45deg) translate(0px, 1.5px);
    }
    &:after {
      width: 26px;
      transform: rotate(-45deg) translate(6.5px, 2px);
    }
  }
  .overlay__text,
  .overlay__like {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
  }
}
.owl-item:hover {
  perspective:1300px;
  .item__img {
    backface-visibility: hidden;
    transform: scale(1.1) rotate(1deg);
    transition: transform 1s ease;
  }
  .item__overlay {
    opacity: 1;
    z-index: 2;
    transition: opacity 0.8s ease;
    width: 105%;
    margin-left: -2px;
  }
}
.owl-dots {
  display: none;
}
.owl-controls {
  height: 0;
}
.owl-prev, .owl-next {
  position: absolute;
  top: 150px;
  width: 54px;
  height: 54px;
  background: transparent;
  border:2px solid #fff;
  border-radius: 50%;
  border-color:#fff;
}
.owl-prev {
  left: 54px;
  overflow: hidden;
  transform: rotate(180deg);
  transition: background 0.4s ease, border-color 0.4s ease;
  .control_left {
		position: absolute;
		top:14px;
		left: 19px;
		width: 13px;
		height: 22px;
		transition: transform 0.4s ease;
		&:after, &:before {
			content:"";
			display: block;
			background: #fff;
			height: 2px;
			width: 16px;
			position: absolute;
			top: 5px;
			left: 0;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg) translate(-7px, 7px);
		}
  }
  .control_right {
	position: absolute;
		top:14px;
		left: 19px;
		width: 13px;
		height: 22px;
		transform: translate(-50px, 0);
		transition: transform 0.4s ease;
		&:after, &:before {
			content:"";
			display: block;
			background: #fff;
			height: 2px;
			width: 16px;
			position: absolute;
			top: 5px;
			left: 0;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg) translate(-7px, 7px);
		}
  }
  &:hover{
  	background: #008fd5;
  	border-color:#008fd5;
  	transition: background 0.4s ease, border-color 0.4s ease;
  	.control_right {
  		transform: translate(0,0);
  		transition: transform 0.4s ease;
  	}
  	.control_left {
  		transform: translate(50px,0);
  		transition: transform 0.4s ease;
  	}
  }
}
.owl-next {
  right: 54px;
  overflow: hidden;
  transition: background 0.4s ease, border-color 0.4s ease;
  .control_left {
		position: absolute;
		top:14px;
		left: 19px;
		width: 13px;
		height: 22px;
		transition: transform 0.4s ease;
		&:after, &:before {
			content:"";
			display: block;
			background: #fff;
			height: 2px;
			width: 16px;
			position: absolute;
			top: 5px;
			left: 0;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg) translate(-7px, 7px);
		}
  }
  .control_right {
	position: absolute;
		top:14px;
		left: 19px;
		width: 13px;
		height: 22px;
		transform: translate(-50px, 0);
		transition: transform 0.4s ease;
		&:after, &:before {
			content:"";
			display: block;
			background: #fff;
			height: 2px;
			width: 16px;
			position: absolute;
			top: 5px;
			left: 0;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg) translate(-7px, 7px);
		}
  }
  &:hover{
  	background: #008fd5;
  	border-color:#008fd5;
  	transition: background 0.4s ease, border-color 0.4s ease;
  	.control_right {
  		transform: translate(0,0);
  		transition: transform 0.4s ease;
  	}
  	.control_left {
  		transform: translate(50px,0);
  		transition: transform 0.4s ease;
  	}
  }
}
/************************************************************************
// 7. WHY MONKEY section
************************************************************************/
.whymonkey {
	position: relative;
	z-index: 1;
	background-color: #edf4f7;
	padding: 81px 15px 113px 15px;
	text-align: center;
	overflow: hidden;
}

.whymonkey__title {
	font-family: $slab;
	color: #333;
	font-size: 56px;
	font-weight: 300;
	margin-bottom: 100px;
}
.whymonkey__container {
	text-align: left;
	.container__item {
		width: 25%;
		float: left;
		padding: 0px 15px;
		.item__wrapper {
			background: #fff;
			box-shadow: 0 3px 4px #668795;
			min-height: 570px;
			overflow: hidden;
			position: relative;
		}
		.item__header {
			font-family: $slab;
			font-size: 24px;
			font-weight: 400;
			padding-top: 30px;
			padding-left: 30px;
			padding-bottom: 30px;
		}
		.item__text {
			font-family: $slab;
			font-size: 18px;
			line-height: 28px;
			font-weight: 300;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;
		}
		.item__picture {
		}
		&:nth-child(1),
		&:nth-child(3) {
			.item__picture {
				position: absolute;
				bottom: 0;
			}
		}
		&:nth-child(1) {
			transform: translate(-2100px, 0);
			opacity: 0;
			transition: transform 0.9s ease, opacity 1.8s ease-out;
			&.visible {
				opacity: 1;
				transform: translate(0,0);
			}
		}
		&:nth-child(2) {
			transform: translate(-2400px, 0);
			opacity: 0;
			transition: transform 1.1s ease, opacity 1.8s ease-out;
			&.visible {
				opacity: 1;
				transform: translate(0,0);
			}

		}
		&:nth-child(3) {
			transform: translate(-2700px, 0);
			opacity: 0;
			transition: transform 1.3s ease, opacity 1.8s ease-out;
			&.visible {
				opacity: 1;
				transform: translate(0,0);
			}
		}
		&:nth-child(4) {
			transform: translate(-3000px, 0);
			opacity: 0;
			transition: transform 1.5s ease, opacity 1.8s ease-out;
			&.visible {
				opacity: 1;
				transform: translate(0,0);
			}
		}	
	}
}
/************************************************************************
// 8. INSTRUKTORS section
************************************************************************/
.insctructors {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.insctructors__title {
	font-family: $slab;
	color:#333;
	font-size: 48px;
	font-weight: 300;
	transform: translate(0, -1000px);
	opacity: 0;
	transition: transform 0.7s ease-out,
	opacity 1.2s ease-out;
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
		transition: transform 0.7s ease-out,
		opacity 1.2s ease-out;
	}
}
.owl-instructors {
	margin-top: 80px;
	transform: scale(0.5);
	opacity: 0;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.8s ease-in-out,
		opacity 1.2s ease-in-out;
	}
	.item {
		.item__body {
			position: relative;
			.body__text {
				max-width: 310px;
				width: 100%;
				min-height: 368px;
				padding: 30px;
				color: #fff;
				font-family: $slab;
				font-size: 18px;
				line-height: 28px;
				font-weight: 300;
				text-align: left;
				position: relative;
				z-index: 2;
			}
			.body__picture {
				width: auto;
				position: absolute;
			}
		}
		.item__foter {
			text-align: left;
			color: #333;
			padding-top: 34px;
			padding-bottom: 5px;
			.footer__title {
				font-family: $roboto;
				font-size: 30px;
				font-weight: 400;
				margin-bottom: 10px;
			}
			.footer__subtitle {
				font-size: 18px;
				font-family: $slab;
				font-weight: 300;
				line-height: 28px;
			}
		}
		&.left_pic{
			.body__picture{
				left: 0;
				bottom: 0;
			}
			.body__text {
				float: right;
				background-color: #0089d6;
				margin-right: 15px;
			}
		}
		&.right_pic{
			.body__picture{
				right: 0;
				top: 0;
			}
			.body__text {
				float: left;
				background-color: #23323a;
				margin-left: 15px;
			}

		}
	}
	.owl-prev{
		left: -100px;
	}
	.owl-next{
		right: -100px;
	}
	.owl-next .control_left:after, .owl-next .control_left:before,
	.owl-next .control_right:after, .owl-next .control_right:before,
	.owl-prev .control_left:after, .owl-prev .control_left:before,
	.owl-prev .control_right:after, .owl-prev .control_right:before  {
		background:#008fd5;
	}
	.owl-prev, .owl-next {
		border-color:#008fd5;
		background-color: #fff;
		&:hover {
			background:#008fd5;
		}
	}
	.owl-next:hover .control_left:after, .owl-next:hover .control_left:before,
	.owl-next:hover .control_right:after, .owl-next:hover .control_right:before,
	.owl-prev:hover .control_left:after, .owl-prev:hover .control_left:before,
	.owl-prev:hover .control_right:after, .owl-prev:hover .control_right:before  {
		background:#fff;
	}
}
/************************************************************************
// 9. NUMBERS section
************************************************************************/
.numbers {
	padding-top: 70px;
	text-align: center;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.numbers__title {
	font-family: $slab;
	color: #333;
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 70px;
	transform: translate(0, -500px);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.6s ease-out, 
				opacity 1s ease-in-out;
	}
}
.numbers__container {
  text-align: center;
  font-family: $slab;
  .container__item {
    perspective:1300px;
    width: 225px;
    height: 308px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    transform: translate(0, 1000px);
    opacity: 0;
    &.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.8s ease-in-out,
		opacity 1s ease;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .item__header {
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      color: #333333;
      min-height: 85px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .item__numer {
      font-size: 60px;
      font-weight: 400;
      color: #008fd5;
      margin-bottom: 20px;
    }
    .item__foter {
      color: #008fd5;
      font-size: 20px;
      font-weight: 400;
    }
    .item__wrapper-first {
      backface-visibility: hidden;
      height: 100%;
      position: relative;
      border:3px solid #d9e4e9;
      background: #fff;
      z-index: 1;
      transition: transform 0.4s ease-out;
    }
    .item__wrapper-second {
      position: absolute;
      backface-visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease-out;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  .container__item:hover {
    .item__wrapper-first {
      transform: rotateY(180deg);
      transition: transform 0.4s ease-out;
    }
    .item__wrapper-second {
      transform: rotateY(360deg);
      transition: transform 0.4s ease-out;
      background: #008fd5 url('../img/svg/numbers_icon1.svg') no-repeat -135px 50%;
      -webkit-background-size: 300px auto;
      	background-size: 300px auto;
      .item__numer, .item__foter, .item__header {
        color: #fff;
      }
    }
  }
  .container__item:hover:nth-child(2) {
  	.item__wrapper-second {
  		background: #008fd5 url('../img/svg/numbers_icon2.svg') no-repeat -100px 50%;
  		-webkit-background-size: 250px auto;
      	background-size: 250px auto;
  	}
  }
  .container__item:hover:nth-child(3) {
  	.item__wrapper-second {
  		background: #008fd5 url('../img/svg/numbers_icon3.svg') no-repeat -160px 50%;
  		-webkit-background-size: 280px auto;
      	background-size: 280px auto;
  	}
  }
  .container__item:hover:nth-child(4) {
  	.item__wrapper-second {
  		background: #008fd5 url('../img/svg/numbers_icon4.svg') no-repeat -120px 50%;
  		-webkit-background-size: 250px auto;
      	background-size: 250px auto;
  	}
  }
}
/************************************************************************
// 9. WHAT YOU GET section
************************************************************************/
.whatyouget {
	position: relative;
	z-index: 1;
	background: url('../img/boat.jpg') no-repeat 50% 68px;
	padding-top: 170px;
	padding-bottom: 60px;
	-webkit-background-size: 360px 540px;
	background-size: 360px 540px;
}
.whatyouget__row {
	font-family: $slab;
	&:nth-child(1) {
		margin-bottom: 128px;
		transform: scale(0.5);
		opacity: 0;
		&.visible {
			transform: scale(1);
			opacity: 1;
			transition: transform 0.6s ease-in-out,
			opacity 1.1s ease-out;
		}
	}
	&:nth-child(2) {
		transform: scale(0.5);
		opacity: 0;
		&.visible {
			transform: scale(1);
			opacity: 1;
			transition: transform 0.6s ease-in-out,
			opacity 1.1s ease-out;
		}
	}
	&:nth-child(3) {
		transform: scale(0.5);
		opacity: 0;
		&.visible {
			transform: scale(1);
			opacity: 1;
			transition: transform 0.6s ease-in-out,
			opacity 1.1s ease-out;
		}
	}
	.whatyouget__col {
		width: 50%;
		float: left;
		.col__wrapper {
			width: 400px;
			position: relative;
		}
		.col__header {
			font-size: 36px;
			line-height: 42px;
			font-weight: 400;
			color: #0089d6;
			margin-bottom: 30px;
		}
		.col__text {
			color: #333;
			font-size: 18px;
			font-weight: 300;
			line-height: 28px;
		}
		.col__icon {
			display: block;
			position: absolute;
			width: 90px;
			height: 90px;
			line-height: 90px;
			background: #0095df;
			border-radius: 50%;
			text-align: center;
			top: 40px;
			svg {
				vertical-align: middle;
				margin-bottom: 8px;
				fill: #fff;
				width:65px;
				height: 65px;
			}
		}
		.wrapper_left {
			padding-right: 135px;
			.col__icon {
				right: 0;
			}
		}
		.wrapper_right {
			padding-left: 135px;
			float: right;
			.col__icon {
				left: 0;
			}
		}
		.wrapper_midle {
			padding-top: 110px;
			margin: 0 auto;
			.col__icon {
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
		}
	}
	&:nth-child(3) {
		.whatyouget__col {
			float: none;
			margin: 0 auto 0;
		}
	}
}
/************************************************************************
// 9. ISSA section
************************************************************************/
.issa {
	padding-top: 100px;
	padding-bottom: 10px;
	text-align: center;
	font-family: $slab;
	font-weight: 300;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.issa__title {
	font-size: 48px;
	color: #333;
	margin-bottom: 80px;
	transform: scale(0.1);
	opacity: 0;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.8s ease-in-out,
		opacity 1s ease-out;
	}
}
.issa__item {
	text-align: left;
	padding-right: 250px;
	position: relative;
	margin-bottom: 60px;
	.item__title {
		font-size: 28px;
		color: #008fd5;
		margin-bottom: 15px;
	}
	.item__text {
		font-size: 18px;
		color: #333;
		line-height: 28px;
	}
	.item__icon {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&:nth-child(3),
	&:nth-child(5) {
		padding-right: 0;
		padding-left: 250px;
		.item__icon{
			left: 0;
		}
	}
	&:nth-child(2),
	&:nth-child(4) {
		transform: translate(-3000px, 0);
		opacity: 0;
		&.visible {
			transform: translate(0, 0);
			opacity: 1;
			transition: transform 0.8s ease-in-out,
			opacity 1.9s ease-in-out;
		}
	}
	&:nth-child(3),
	&:nth-child(5) {
		transform: translate(3000px, 0);
		opacity: 0;
		&.visible {
			transform: translate(0, 0);
			opacity: 1;
			transition: transform 0.8s ease-in-out,
			opacity 1.9s ease-in-out;
		}
	}
}
/************************************************************************
// 9. DREAMS section
************************************************************************/
.dreams {
	padding-top: 60px;
	padding-bottom: 150px;
	text-align: center;
	font-family: $slab;
	color: #333;
	position: relative;
	z-index: 1;
	font-weight: 300;
	overflow: hidden;
}
.dreams__subtitle {
	font-size: 24px;
	margin-bottom: 15px;
	transform: translate(0, 600px);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.6s ease-in-out,
		opacity 1s ease-in-out;
	}
}
.dreams__title {
	font-size: 48px;
	transform: translate(0, 600px);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.6s ease-in-out,
		opacity 1s ease-in-out;
	}
}
/************************************************************************
// 9. FORM section
************************************************************************/
.form-section {
	position: relative;
	z-index: 1;
	padding-top: 60px;
	padding-bottom: 110px;
	font-family: $slab;
	color: #fff;
	background: url('../img/form-section.jpg') no-repeat 0 0 ;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 512px;
}
.form-sectiion__col {
	width: 50%;
	float: left;
}
.timer-col {
	display: none;
	.time-col__subtitle {
		font-size: 18px;
		line-height: 28px;
		font-weight: 300;
	}
	.timer-col__title {
		font-size: 36px;
		line-height: 45px;
		font-weight: 300;
		margin-bottom: 35px;
		position: relative;
		&.strikeout {
			&:after {
				content:"";
				display: block;
				height: 3px;
				width: 110%;
				background: #ff7f58;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
	}
	.timer-col__container {
		div {
			margin: 0 !important;
		}
	}
	.container__header {
		margin-bottom: 20px;
	}
}
.form-col {
	position: relative;
	max-width: 392px;
	width: 100%;
	float: none;
	margin: 0 auto;
}
.form__wrapper {
	max-width: 392px;
	width: 100%;
	position: absolute;
	text-align: center;
	top: -100px;
	right: 0;
	&:after {
		content:"";
		display: block;
		position: absolute;
		z-index: 1;
		bottom: 1px;
		left: 50%;
		transform: translateX(-50%);
		height: 10px;
		width: 90%;
		border-radius: 50%;
		box-shadow: 0 1px 15px 5px #014e74;
	}
}
.form__header {
	font-size: 48px;
	font-weight: 300;
	padding: 20px 0;
	background: #0083be;
	width: 100%;
	position: relative;
	z-index: 3;
}
.main-form {
	position: relative;
	z-index: 4;
	background: #fff;
	padding: 40px 0;
	color: #333;
	padding-bottom: 50px;
	
	.form__container {
		text-align: left;
		position: relative;
		max-width: 278px;
		width: 100%;
		margin: 0 auto;
		height: 42px;
		margin-bottom: 20px;
		transition: height 0.3s ease-out;
		input {
			display: block;
			box-sizing: border-box;
			background-color: transparent;
			border:none;
			width: 100%;
			height: 42px;
			padding-left: 35px;
			z-index: 5;
			position: relative;
			font-size: 16px;
			border-bottom: 2px solid #0083be;
		}
		.container__icon {
			display: block;
			position: absolute;
			left: 8px;
			top: 10px;
			svg {
				width: 20px;
				height: 20px;
				fill:#0083be;
			}
		}
		.container__label {
			position: absolute;
			top: 8px;
			left: 40px;
			background: #fff;
			padding: 3px;
			font-family: $slab;
			color: #333;
			font-size: 18px;
			font-weight: 300;
		}
		input:focus + .container__label {
			top:-10px;
			font-size: 14px;
			transition: top 0.4s ease, font-size 0.4s ease;
			z-index: 6;
		}
		.graphic {
			stroke:#0083be;
			pointer-events: none;
			transition: stroke-dashoffset 0.3s;
			stroke-width: 6px;
			stroke-dasharray: 1562;
   			stroke-dashoffset: 2163;
   			position: absolute;
   			top: 0;
   			left: 0;
   			fill:none;
			transform: scale3d(1, -1, 1);
			transition: stroke-dashoffset 1.5s ease;
		}
		.form-error {
			color: #F15445;
			font-family: $roboto;
			font-size: 15px;
			font-weight: 300;
			margin-top: 5px;
			opacity: 0;
			transition: opacity 1s linear;
		}
		&.has-error {
			height: 80px;
			transition: height 0.3s ease-out;
			.container__icon {
				svg {
					fill:#F15445;
				}
			}
			.graphic {
				stroke:#F15445;
			}
			.form-error {
				opacity: 1;
				transition: opacity 1s linear;
			}
		}
	}
	.focused {
		.graphic {
		    stroke-dashoffset: 0;
		    transition: stroke-dashoffset 1.5s ease;
		}
	}
}
.form__button {
	max-width: 295px;
	width: 100%;
	height: 56px;
	background-color: #fe6d30;
	border:none;
	color: #fff;
	border-radius: 28px;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	margin-top: 20px;	
	box-shadow: 0 4px #c2380c;
	transition: transform 0.3s ease, box-shadow 0.3s ease;		 
	&:hover {
		transform:translate(0, 2px);
		box-shadow: 0 2px #c2380c;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	&:active {
		transform: translate(0, 4px);
		box-shadow: 0 0px #c2380c;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
}
.form_shturval {
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 2;
	width: 170px;
	height: 170px;
	svg {
		fill:#0083be;
	}
	&.focused {
		transform: translate(-50%,0) rotate(180deg);
		transition: transform 0.8s ease;
	}
}
/************************************************************************
//  PRICE section
************************************************************************/
.price {
	position: relative;
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 70px;
	font-family: $slab;
	color: #fff;
	background: url('../img/price_bg.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: left;
	overflow: hidden;
}
.price__description {
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	transform: translate(3000px,0);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.8s ease-in-out, 
					opacity 1.6s ease-out;
	}
}
.price__title {
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	margin-top: 10px;
	margin-bottom: 20px;
	transform: translate(-3000px,0);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.8s ease-in-out, 
					opacity 1.6s ease-out;
	}
}
.price__button {
	max-width: 336px;
	width: 100%;
	height: 56px;
	background-color: #fff;
	border:none;
	border-radius: 28px;
	font-family: $roboto;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	box-shadow: 0 4px 0 #999999;
	color: #ff5722;
	text-shadow: 0px -1px 0 #c02e00;	
	transform: translate(0);
	transition: transform 0.4s ease, box-shadow 0.4s ease; 				 
	&:hover {
		transform: translate(0, 2px);
		box-shadow: 0 2px 0 #999999;
		transition: transform 0.4s ease, box-shadow 0.4s ease;
	}
	&:active {
		transform: translate(0, 4px);
		box-shadow: 0 0px 0 #999999;
		transition: transform 0.4s ease, box-shadow 0.4s ease;
	}
}
/************************************************************************
// 9. ICONS section
************************************************************************/
.icons-sections {
	position: relative;
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	background: url('../img/icons-sections.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	background-attachment: fixed;
}
.icons-sections__title {
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	font-family: $slab;
	color: #fff;
	margin-bottom: 35px;
	transform: translate(0, -1000px);
	opacity: 0;
	&.visible {
		transform: translate(0);
		opacity: 1;
		transition: transform 0.8s ease-out,
		opacity 1.5s ease-in-out;
	}
}
.icons-sections__container {
	.container__item {
	display: inline-block;
	vertical-align: top;
	margin: 0px 24px;
	&:nth-child(1) {
		margin-left: 0;
	}
	&:nth-child(4) {
		margin-right: 0;
	}
		.item__header {
			margin-bottom: 30px;
			position: relative;
			.header__circle {
				border:5px solid #0095df;
				border-radius: 50%;
				width: 148px;
				height: 148px;
				display: inline-block;
				position: relative;
			}
			.header__icon {
				background-image: url('../img/icons-sections_sprt.png');
			    background-repeat: no-repeat;
			    display: block;
			    position: absolute;
			    top: 0;
			    z-index: 2;
			}
		}
		.item__text {
			font-family: $slab;
			font-weight: 300;
			font-size: 18px;
			line-height: 28px;
			color: #fff;
		}
	}
}
.icons-sections__container .container__item:nth-child(1) {
    transform:translate(2000px, 0);
    opacity: 0;
    &.visible {
        transform:  translate(0);
        opacity: 1;
        transition: transform 1s ease-in-out, 
        opacity 2s ease;
    }
}

.icons-sections__container .container__item:nth-child(2)  {
    transform:translate(3000px, 0);
    opacity: 0;
    &.visible {
        transform:  translate(0);
        opacity: 1;
        transition: transform 1s ease-in-out, 
        opacity 2s ease;
    }
}
.icons-sections__container .container__item:nth-child(3) {
    transform:translate(4000px, 0);
    opacity: 0;
    &.visible {
        transform:  translate(0);
        opacity: 1;
        transition: transform 1s ease-in-out, 
        opacity 2s ease;
    }
}
.icons-sections__container .container__item:nth-child(4){
    transform:translate(5000px, 0);
    opacity: 0;
    &.visible {
        transform:  translate(0);
        opacity: 1;
        transition: transform 1s ease-in-out, 
        opacity 2s ease;
    }
}
/************************************************************************
// 9. FOOTER 
************************************************************************/
.main-footer {
	padding-top: 20px;	
	padding-bottom: 20px;	
	position: relative;	
	z-index: 1;	
	background: #00355b;
}
.policy__container {
	display: inline-block;
	vertical-align: middle;
	a {
		display: inline-block;
		vertical-align: middle;
		font-family: $roboto;
		font-size: 16px;
		text-decoration: underline;
		color: #004d85;
		margin-right: 5px;
		svg {
			width: 50px;
			height: 50px;
			fill:#004d85;
			transition: transform 1s ease;
			&:hover {
				transform:rotate(360deg);
				transition: transform 1s ease;
			}
		}
	}
}
.social__container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 270px;
	a {
		display: inline-block;
		width: 45px;
		height: 45px;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
		border:2px solid #004d85;
		margin-left: 5px;
		svg {
			fill:#004d85;
			width: 25px;
			height: 25px;
			margin-top: 8px;
		}
	}
}
.lsg {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: 12px;
	svg {
		vertical-align: middle;
		width: 90px;
		height: 29px;
	}
}
/************************************************************************
// 9. FEEDBACKS 
************************************************************************/
.feedbacks {
	position: relative;
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	overflow: hidden;
}
.feedbacks__title {
	font-size: 48px;
	font-weight: 300;
	font-family: $slab;
	color: #333;
	margin-bottom: 25px;
	transform: scale(2);
	opacity: 0;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.7s ease-in-out,
					opacity 1.2s ease-in-out;
	}
}
.feedbacks__subtitle {
	font-size: 18px;
	font-weight: 300;
	color: #333;
	font-family: $slab;
	line-height: 28px;
	margin-bottom: 40px;
	transform: scale(2);
	opacity: 0;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.7s ease-in-out,
					opacity 1.2s ease-in-out;
	}
}
.feedbacks__container {
	height: 400px;
	width: 100%;
	position: relative;
	transform: scale(0.1);
	opacity: 0;
	&.visible {
		transform: scale(1);
		opacity: 1;
		transition: transform 0.7s ease-in-out,
					opacity 1.2s ease-in-out;
	}
	.container__item {
		position: absolute;
		width: 700px;
		height: 400px;
		iframe {
			width: 100%;
			height: 100%;
		}
		.item__overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 3;
			background: transparent;
			top: 0;
			left: 0;
			&.showed {
				opacity: 0;
				z-index: -1;
			}
			&.hiden {
				opacity: 1;
				z-index: 3;
			}
		}
		&:nth-child(1) {
			height: 330px;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			z-index: 1;
			transition: transform 0.4s ease, left 0.4s ease, height 0.4s ease;
			&.hovered {
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 3;
				height: 400px;
				transition: transform 0.4s ease, left 0.4s ease, height 0.4s ease;
			}
		}
		&:nth-child(2) {
			top: 0;
			left: 50%;
			transform: translate(-50%,0);
			z-index: 3;
			transition: transform 0.4s ease-out, 
							left 0.4s ease-out,
							right 0.4s ease-out,
							top 0.4s ease-out;
			&.smalledR {
				left: auto;
				height: 330px;
				z-index: 2;
				right: 0;
				top: 50%;
				transform: translate(0,-50%);
				transition: transform 0.4s ease-out, 
							left 0.4s ease-out,
							right 0.4s ease-out,
							top 0.4s ease-out;
			}
			&.smalledL {
				left: 0;
				height: 330px;
				z-index: 2;
				right: auto;
				top: 50%;
				transform: translate(0,-50%);
				transition: transform 0.4s ease-out, 
							left 0.4s ease-out,
							right 0.4s ease-out,
							top 0.4s ease-out;
			}
		}
		&:nth-child(3) {
			height: 330px;
			top: 50%;
			right: 0;
			transform: translate(0,-50%);
			z-index: 2;
			transition: transform 0.4s ease, left 0.4s ease;
			&.hovered {
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 3;
				height: 400px;
				transition: transform 0.4s ease, left 0.4s ease, height 0.4s ease;
			}
		}	
	}
}


/* PRICE POPUP */
.price_popup {
	font-family: $slab;
	color: #fff;
	position: fixed;
	opacity: 0;
	z-index: -1;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	min-height: 100vh;
	overflow: overlay;
	background-color: rgba(0, 53, 91, 0.71);
	transition: opacity 0.4s linear;
	&.visible {
		z-index: 999;
		opacity: 1;
	}
	.form__wrapper {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.popup__close {
		z-index: 1000;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 30px;
		background-color: #0083be;
		transform: translate(100%,0);
		cursor: pointer;
		&:after, &:before {
			content:"";
			display: block;
			height: 2px;
			width: 20px;
			background-color: #fff;
			border-radius: 10px;
			position: absolute;
			top: 14px;
			left: 5px;
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
	}
}
.thanks__page {
	min-height: 100vh;
	position: relative;
	.main-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
.thanks_header {
	min-height: 100vh;
	padding-bottom: 92px;
	.header__title {
		color: #0089d6;
		text-shadow: none;
		font-size: 48px;
		line-height: 56px;
		margin-bottom: 30px;
	}
	p {
		color: #333;
		font-family: $slab;
		font-weight: 300;
		text-shadow: none;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 60px;
	}
	.text-wrapper {
		margin-top: 100px;
		position: static;
		transform: translate(0);
	}
	.menu__buton, 
	.callback__button {
		border:2px solid #00355B;
		svg {
			fill:#00355B;
			path {
				stroke: #00355B;
			}
		}
		&.cross {
			border:2px solid #fff;
			svg {
				path {
					stroke: #fff;
				}
			}
		}
	}
	.menu__buton:hover {
		background: none;
	}
}
.main-menu.opened+.buttons__container {
	.callback__button {
		border:2px solid #fff;
			svg {
				fill:#fff;
			}
	}
	.callback__button:hover {
		background-color: transparent;
	}
}
.privacy_page {
	.thanks_header {
		min-height: auto;
		padding-bottom: 50px;
		.site-wrapper {
			position: static;
			transform: translate(0);
		}
		p {
			text-align: left;
			margin-bottom: 20px;
		}
		.subtitle {
			font-weight: 400;
		}
	}
	.main-menu__contacts {
		transform: translate(0, 4000px);
		&.opened {
			transform: translate(0,0);
		}
	}
}