.doyoutry__container .container__item .item__wrapper {
    background-image: url('../img/doyotry_sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.doyoutry__container .container__item:nth-child(1) .item__wrapper {
    width: 307px;
    height: 420px;
    background-position: -5px -5px;
}

.doyoutry__container .container__item:nth-child(2) .item__wrapper {
    width: 307px;
    height: 420px;
    background-position: -322px -5px;
}

.doyoutry__container .container__item:nth-child(3)  .item__wrapper{
    width: 307px;
    height: 420px;
    background-position: -639px -5px;
}



.icons-sections__container .container__item:nth-child(4) .item__header .header__icon {
    width: 233px;
    height: 182px;
    background-position: -5px -5px;
     top: -10px;
    left: -5px;
}

.icons-sections__container .container__item:nth-child(2) .item__header .header__icon {
    width: 233px;
    height: 182px;
    background-position: -5px -197px;
    top: -10px;
    left: -22px;
}

.icons-sections__container .container__item:nth-child(1) .item__header .header__icon {
    width: 233px;
    height: 182px;
    background-position: -5px -389px;
    top: -10px;
    left: -21px;
}

.icons-sections__container .container__item:nth-child(3) .item__header .header__icon {
    width: 282px;
    height: 256px;
    background-position: -5px -581px;
    top: -60px;
    left: -53px;
}
