$slab : 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
body {
	overflow-x: hidden;
	min-width: 320px;
}
.pp {
	width: 100%;
	position: absolute;
	top: -866px;
	opacity: 0.6;
	display: none;
	img {
		display: block;
		position: absolute;
		left: 50%;
		transform:translate(-50%, 0);
		width: 100%;
	}
}
.site-wrapper {
	max-width: 1008px;
	width: 100%;
	margin: 0 auto;
	padding: 0 14px;
}
.clear-fix:after {
  content:"";
  display:table;
  clear:both;
}