/* --------------------------------1300------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 1550px) {
	.header__boat {
		left: 5%;
	}
	.header__rocks {
		right: -3.5%;
	}
}
@media (max-width: 1300px) {
	.header__rocks {
		display: none;
	}
	.header__cloud2 {
		top: 208px;
	}
	.header__cloud4 {
		bottom: 290px;
	}
}

@media (max-width: 1250px) {
	.header__boat {
		left: 1%;
		bottom: 34px;
	}
	.header__wave2 {
		z-index: 0;
	}

}
/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 1000px) {
	
}
/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 992px) {
	.first-screen__container .container__item {
		width: 50%;
		padding-left: 17px;
		padding-right: 17px;
		.item__text {
			
			br {
				display: none;
			}
		}
	}
	.second-screen__container {
		text-align: center;
	}
	.second-screen__container .container__row:nth-child(1) {
		display: inline-block;
		width: 365px;
		padding-left: 40px;
		padding-right: 40px;
		vertical-align: top;
		text-align: left;
	}
	.second-screen__container .container__row:nth-child(2) {
		width: 365px;
		padding-left: 40px;
		padding-right: 40px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		margin-top: 0;
		.row__col:nth-child(1) {
			float: none;
			text-align: left;
			margin-bottom: 30px;
		}
		.row__col:nth-child(2) {
			float: none;
			text-align: left;
			margin-bottom: 30px;
		}
	}
	.second-screen__container .container__row:nth-child(3) {
		margin-top: 35px;
	}
	.second-screen__container .container__figure {
		transform: translate(0);
		left: 15%;
		top: 140px;
	}
	.icon-arrow {
		display: none;
	}
}
@media (max-width: 950px) {
	.social__container {
		margin-left: 20%;
	}
}
/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 910px) {
	.header__cloud2 {
		top: 271px;
	}
	.header__cloud3 {
		top: 27px;
		right: 14%;
	}
	.header__cloud4 {
		bottom: auto;
		top: 465px;
	}
	.main-header__text {
		line-height: 32px;
	}

}
@media (max-width: 900px) {
	.third-section__container .container__item .dashed__lines {
		display: none;
	}
}
/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 850px)  {
	
}
@media (max-width: 815px) {
	.second-screen__container .container__row:nth-child(1) {
		padding-left: 20px;
		padding-right: 20px;
		width: 320px;
	}
	.second-screen__container .container__row:nth-child(2) {
		padding-left: 20px;
		padding-right: 20px;
		width: 320px;
	}
	.second-screen__container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.foote-col {
		width: 100%;
		float: none;
		&:nth-child(1) {
			margin: 0 auto;
			margin-bottom: 30px;
			max-width: 390px;
			width: 100%;
		}
	}
	.footer__form {
		margin: 0 auto;
		float: none;
	}
}
@media (max-width: 800px) {
	.social__container {
		margin-left: 5%;
	}
}
/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 750px) {
	
}
@media (max-width: 700px) {
	.header__cloud2,
	.header__cloud4 {
		display: none;
	}
	.second-screen__container .container__row:nth-child(1) {
		width: 100%;
		max-width: 320px;
		padding: 0;
		text-align: center;
		margin-bottom: 20px;
		.row__col {
			text-align: left;
		}
	}
	.second-screen__container .container__row:nth-child(2) {
		padding: 0;
		max-width: 320px;
		width: 100%;
		.row__col:nth-child(1) {
			margin-bottom: 20px;
		}
	}
	.second-screen__container .container__row:nth-child(3) {
		margin-top: 170px;
	}
	.second-screen__container .container__figure {
		top: auto;
		bottom: 25%;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.third-section__container .container__wrapper .container__item {
		margin-left: 0;
	}
	.third-section__container  .container__item {
		margin-left: 0;
		padding-left: 175px;
	}
}
/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 650px) {
	.first-screen__container .container__item {
		width: 100%;
		max-width: 400px;
		margin-bottom: 55px;
		.item__icon {
			margin-bottom: 20px;
		}
		.item__header {
			margin-bottom: 10px;
		}
	}
	.social__container {
		float: right;
	    margin-left: 0;
	}
	.lsg {
		display: block;
	    width: 100%;
	    text-align: center;
	}
}
@media (max-width: 600px) {
	.third-section__container .container__item {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 175px;
		text-align: center;
	}
	.third-section__container .container__item .item__header {
		margin-bottom: 15px;
	}
	.third-section__container .container__item .item__text {
		text-align: left;
	}
	.third-section__container .container__item .item__icon {
		left: 50%;
		transform: translate(-50%, 0);
	}
	.second-screen {
		padding-top: 20px;
	}
	.third-section {
		padding-top: 60px;
		padding-bottom: 20px;
	}
	.third-section__container {
		margin-top: 60px;
	}
	.main-footer {
		padding-top: 40px;
	}
}
/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 520px) {
	.main-header {
		padding-bottom: 100px;
	}
	.main-header__container .icon-header_text {
		right: 63px;
		bottom: -122px;
		transform: rotate(-8deg);
	}
	.main-header__container .icon-header_arrow {
		right: 20px;
		top: 70px;
		transform: rotateX(180deg) rotate(-125deg);
	}
	.main-header__text {
		margin-top: 43px;
		margin-bottom: 40px;
	}
	.footer__bottom-line {
		height: 196px;
		padding-top: 60px;
	}
	.policy__container {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		bottom: 13px;
		width: 250px;
	}
	.social__container {
		position: absolute;
		top: 13px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
@media (max-width: 500px) {
}
/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 450px) {
	.main-header__title {
		font-size: 38px;
		line-height: 46px;
	}
	.second-screen__container .container__figure {
		bottom: 28%;
	}
}
@media (max-width: 420px) {
	.footer__form .form__container {
		margin-bottom: 45px;
	}
	.footer__form .form__container input {
		width: 100%;
	}
	.footer__form .form__container label {
		top: -25px;
		left: 0;
	}
	.footer__form .form__container .form__icon {
		left: 13px;
	}
}
@media (max-width: 400px) {
	.second-screen__container .container__row:nth-child(2) .row__col:nth-child(1) {
		width: 100%;
	}
	.second-screen__container .container__row:nth-child(2) .row__col:nth-child(2) {
		width: 100%;
	}
	.header__button {
		max-width: 300px;
	}
}