/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
.main-header {
	padding-top: 86px;
	padding-bottom: 79px;
	background: #41a4b3;
	color: #fff;
	text-align: center;
	font-family: $slab;
	text-shadow: 0 -1px 0 #115765;
	font-weight: 400;
	overflow: hidden;
	position: relative;
	z-index: 1;
	.site-wrapper {
		position: relative;
		z-index: 4;
	}
}
.main-header__subtitle {
	font-size: 30px;
	line-height: 42px;
}
.main-header__title {
	font-size: 54px;
	line-height: 64px;	
	margin-bottom: 12px;
}
.main-header__text{
	font-weight: 300;
	font-size: 24px;
	line-height: 42px;
	margin-top: 71px;
	margin-bottom: 70px;
}
.main-header__container {
	position: relative;
	margin-top: 50px;
	display: inline-block;
	max-width: 336px;
	width: 100%;
	.icon-header_arrow {
		position: absolute;
		transform: rotateX(180deg);
		right: -83px;
		top: 5px;
	}
	.icon-header_text {
		position: absolute;
		transform: rotate(-12deg);
		bottom: -100px;
		right: -78px;
	}
}
.btn {
	display: inline-block;
	background: #ff5722;
	border:none;
	border-radius: 28px;
	height: 55px;
	color: #fff;
	font-size: 18px;
	font-family: $roboto;
	text-shadow: 0 -1 0 #a92900;
	text-transform: uppercase;
	padding-bottom: 4px;
	box-shadow: 0 4px 0 #c2380c;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0 2px 0 #c2380c;
		transform: translate(0, 2px);
	}
	&:active {
		box-shadow: 0 0 0 #c2380c;
		transform: translate(0, 4px);
	}
}
.header__button {
	max-width: 336px;
	width: 100%;
}
.icon-header_arrow {
	fill:#59d6e4;
	width: 74px;
	height: 46px;
}
.icon-header_text {
	fill:#59d6e4;
	width: 170px;
}
.header__wave1 {
	position: absolute;
	z-index: 3;
	bottom: -11px;
	left: -12px;
	width: 2000px;
	animation-name: header_wave_anim;
	animation-duration: 3400ms;
	animation-delay: -1200ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.header__wave2 {
	position: absolute;
	z-index: 2;
	bottom: -15px;
	left: -12px;
	width: 2000px;
	animation-name: header_wave2_anim;
	animation-duration: 3400ms;
	animation-delay: -1200ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes header_wave_anim {
	from {
		transform: rotate(0deg) translateY(-6px) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translateY(-6px) rotate(-360deg);
	}
}
@keyframes header_wave2_anim {
	from {
		transform: rotate(0deg) translateY(-3px) rotate(0deg);
	}
	to {
		transform: rotate(-360deg) translateY(-3px) rotate(360deg);
	}
}
.header__boat {
	width: 180px;
	height: 170px;
	position: absolute;
	bottom: 85px;
	left: 13%;
	animation-name: header_boat_anim;
	animation-duration: 2500ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: 50% 100%;
}
@keyframes header_boat_anim {
	0% {
		transform:  translateY(8px) rotate(5deg) ;
	}
	100% {
		transform:translateY(-8px) rotate(-5deg);
	}
}
.header__rocks {
	position: absolute;
	width: 463px;
	height: 335px;
	right: 2.5%;
	bottom: 86px;
}
.header__cloud1 {
	width: 80px;
	height: 42px;
	position: absolute;
	top: 48px;
	left: 17.5%;
	transition:transform 0.4s linear;
}
.header__cloud2 {
	width: 114px;
	height: 60px;
	position: absolute;
	top: 293px;
	left: 7%;
	transition:transform 0.4s linear;
}
.header__cloud3 {
	width: 74px;
	height: 42px;
	position: absolute;
	top: 233px;
	right: 17%;
	transition:transform 0.4s linear;
}
.header__cloud4 {
	width: 68px;
	height: 42px;
	position: absolute;
	bottom: 345px;
	right: 5%;
	transition:transform 0.4s linear;
}
/************************************************************************
// 2. FIRST SEREN
*************************************************************************/
.first-screen {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 10px;
	color: #333;
	font-family: $roboto;
}
.first-screen__title {
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
}
.first-screen__container {
	margin-top: 72px;
	.container__item {
		display: inline-block;
		vertical-align: top;
		width: 33%;
		margin-left: -2px;
		margin-bottom: 48px;
		.item__icon {
			display: block;
			margin: 0 auto;
			width: 114px;
			height: 114px;
			border-radius: 50%;
			background: #63b3c0;
			position: relative;
			margin-bottom: 30px;
			svg {
				position: absolute;
				left: 0;
				top: 5px;
				height: 95px;
				width: 114px;
			}
		}
		.item__header {
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		.item__text {
			font-family: $slab;
			font-weight: 300;
			font-size: 18px;
			line-height: 28px;
		}
	}
}