/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-screen {
	padding-top: 56px;
	padding-bottom: 10px;
}
.second-screen__container {
	border-radius: 5px;
	border:3px dotted #4eb6c2;
	padding: 46px;
	padding-left: 26px;
	padding-right: 18px;
	position: relative;
	.container__row {

		.row__col {
			.row__text {
				font-family: $slab;
				font-size: 18px;
				line-height: 28px;
				font-weight: 300;
				color: #333;
				display: inline;
			}
			.bold__text {
				font-weight: 400;
				display: inline;
			}
			.cyan__text {
				color: #009999;
				display: inline;
				font-weight: 400;
			}
		}
		&:nth-child(1) {
			text-align: center;
		}
		&:nth-child(2) {
			margin-top: 55px;
			.row__col {
				&:nth-child(1) {
					width: 315px;
					text-align: right;
					float: left;
				}
				&:nth-child(2) {
					width: 315px;
					text-align: left;
					float: right;
				}
			}
		}
		&:nth-child(3) {
			text-align: center;
			margin-top: 99px;
		}
	}
	.container__figure {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -39%);
		background: #63b3c0;
		border-radius: 50%;
		width: 140px;
		height: 140px;
		.icon-arrow {
			position: absolute;
			width: 84px;
			height: 19px;
			z-index: 4;
			top: 0;
			left: 0;
			&:nth-child(1) {
				transform:translate(-62px, 32px) rotate(27deg);
			}
			&:nth-child(2) {
				transform:translate(51px, -22px) rotate(109deg);
			}
			&:nth-child(3) {
				transform:translate(122px, 48px) rotate(173deg);
			}
		}
		.icon-mono_icon7 {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 111px;
			height: 93px;
		}
	}
}
/************************************************************************
// 4. THIRD SECTION
*************************************************************************/	
.third-section {
	padding-top: 102px;
	padding-bottom: 45px;
	color: #333;
	font-family: $roboto;
	text-align: center;
}
.third-section__title {
	font-size: 40px;
	line-height: 48px;
	font-weight: 400;
	span {
		white-space: nowrap;
	}
}
.third-section__container {
	text-align: left;
	margin-top: 84px;
	.container__item {
		text-align: left;
		position: relative;
		padding-left: 255px;
		display: inline-block;
		margin-bottom: 58px;
		padding-right: 24px;
		.item__icon {
			display: block;
			position: absolute;

			left: 5px;
			top: 5px;
			svg {
				width: 138px;
				height: 138px;
				position: relative;
				z-index: 2;
			}
			.dashed__lines {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 174px;
				height: 174px;
				z-index: 1;
				transform: translate(95px, 146px) rotate(19deg);
				svg {
					width: 174px;
					height: 174px;

				}
			}
		}
		.item__header {
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 32px;
			text-transform: uppercase;
		}
		.item__text {
			font-family: $slab;
			font-weight: 300;
			font-size: 18px;
			line-height: 28px;
		}
	}
	.container__wrapper {
		.container__item {
			margin-left: 83px;		
			.dashed__lines {
				transform: translate(-28px, 76px) rotate(-53deg);
				svg {
					width: 145px;
					height: 174px;
				}
			}
		}
	}
}
/************************************************************************
// 5. FOOTER
*************************************************************************/
.main-footer {
	padding-top: 58px;
	background: #41a4b3;
	position: relative;
	overflow: hidden;
	padding-bottom: 41px;
	.site-wrapper {
		position: relative;
		z-index: 10;
	}
}
.thankyou-page .main-footer {
	background: #016f80;
	padding-top: 0;
}
.footer__container {
	margin-bottom: 3px;
	position: relative;
	z-index: 2;
}
.foote-col {
	float: left;
	width: 50%;
	.footer__title {
		font-size: 24px;
		font-weight: 300;
		line-height: 34px;
		color: #fff;
		font-family: $slab;
		text-shadow: 0 -1px 0 #0085a3;
		span {
			font-weight: 400;
			display: inline;
		}
	}
	.footer__text {
		font-family: $slab;
		font-size: 36px;
		line-height: 54px;
		font-weight: 400;
		text-shadow: 0 -1px 0 #0085a3;
		color: #fff;
		margin-top: 13px;
		margin-bottom: 45px;
	}
}
.footer__form {
	display: block;
	margin-top: -19px;
	margin-right: 5px;
	float: right;
	max-width: 390px;
	width: 100%;
	background: #dbf1ec;
	box-shadow: 0 0  5px #2e7f9d;
	padding: 40px 25px;
	border-radius: 3px;
	.form__container {
		text-align: right;
		position: relative;
		margin-bottom: 14px;
		height: 44px;
		transition: height 0.2s ease;
		&.has-error {
			height: 84px;
			transition: height 0.2s ease;
			font-family: $roboto;
			.form__icon svg {
				fill:#d67252;
			}
		}
		.help-block {
			width: 252px;
			text-align: left;
			color: red;
			margin-top: 5px;
			font-weight: 300;
			font-size: 15px;
		}
		input {
			display: inline-block;
			background: #eef7f5;
			border: 1px solid #96b9b9;
			height: 44px;
			width: 250px;
			border-radius: 5px;
			box-shadow: inset 0 2px 2px 0px #a1c3bb;
			font-size: 18px;
			font-family: $roboto;
			font-weight: 300;
			padding-left: 45px;
			box-sizing: border-box;
		}
		label {
			font-family: $roboto;
			font-size: 18px;
			font-weight: 300;
			position: absolute;
			left: 0;
			top: 9px;
		}
		.form__icon {
			display: block;
			position: absolute;
			top: 13px;
			left: 102px;
			svg {
				fill:#8daeae;
				width: 20px;
				height: 20px;
			}
		}
	}
	.form__text {
		text-align: left;
		width: 249px;
		font-size: 14px;
		line-height: 18px;
		font-family: $roboto;
		font-weight: 300;
	}
	.form__button {
		margin-top: 25px;
		width: 100%;
		overflow: hidden;
		svg {
			width: 0;
			height: 0;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-400px, -50%);
			transition: transform 0.6s ease, width 0.6s linear;
		}
		p {
			transition: transform 0.5s linear, opacity 0.3s linear;
		}
		&.disabled {
			transform: translate(0, 4px);
			box-shadow: 0 0px #c2380c;
			transition: transform 0.3s ease, box-shadow 0.3s ease;
			svg {
				transform: translate(-50%, -50%);
				width: 42px;
				height: 42px;
			}
			p {
				transform: translate(400px, 0);
				opacity: 0;
			}
		}
	}
}
.footer__bottom-line {
	padding: 15px;
	padding-top: 15px;
	position: relative;
	z-index: 2;
	background: #3492a4;
}
.policy__container {
	display: inline-block;
	vertical-align: middle;
	.policy {
		display: inline-block;
		vertical-align: middle;
		font-family: $roboto;
		font-size: 16px;
		color:#64b3bf;
		text-decoration: underline;
	}
}
.footer__logo {
	display: inline-block;
	vertical-align: middle;
	font-family: $roboto;
	margin-right: 5px;
	svg {
		width: 50px;
		height: 50px;
		fill:#64b3bf;
		transition: transform 1s ease-out;
		&:hover {
			transform:rotate(360deg);
			transition: transform 1s ease-out;
		}
	}
}
.social__container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 270px;
	a {
		display: inline-block;
		width: 45px;
		height: 45px;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
		margin-left: 5px;
		svg {
			fill:#64b3bf;
			width: 25px;
			height: 25px;
			margin-top: 8px;
		}
	}
}
.lsg {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: 10px;
	svg {
		vertical-align: middle;
		width: 90px;
		height: 29px;
	}
}
.footer__parallax {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	.parallax__sun {
		position: relative;
		bottom: -23px;
		z-index: 1;
		width: 485px;
		height: 485px;
		transition: transform 0.3s linear;
		margin: 0 auto;
	}
	.parallax_rock1 {
		position: absolute;
		left: 0;
		bottom:62px;
		z-index: 2;
		min-width: 1920px;
		width: 105%;
		margin-left: -60px;
		transition: transform 0.5s linear;
	}
	.parallax_rock2 {
		position: absolute;
		left: 0;
		bottom:63px;
		z-index: 3;
		min-width: 1920px;
		margin-left: -60px;
		width: 105%;
		transition: transform 0.5s linear;
	}
	.parallax_water_bottom {
		position: absolute;
		bottom: -85px;
		left: 0;
		z-index: 4;
		height: 175px;
		width: 100%;
		animation-name: footer_wave2_anim; 
		animation-duration: 3400ms;
		animation-delay: -1200ms;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	.parallax_water_top {
		position: absolute;
		bottom: -85px;
		left: 0;
		z-index: 5;
		height: 175px;
		width: 100%;
		/* animation-name: footer_wave2_anim; */
		animation-duration: 3400ms;
		animation-delay: -1200ms;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	.parallax_boat {
		position: absolute;
		bottom: 56px;
		left: 42%;
		z-index: 6;
		width: 232px;
		height: 282px;
		animation-name: footer_wave2_anim; 
		animation-duration: 3400ms;
		animation-delay: -1200ms;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		img {
			animation-name: footer_wave1_anim; 
			animation-duration: 2500ms;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			transform-origin: 50% 100%;
		}
	}
	@keyframes footer_wave2_anim{
		from {
			transform: rotate(0deg) translateY(-2px) rotate(0deg);
		}
		to {
			transform: rotate(-360deg) translateY(-2px) rotate(360deg);
		}
	}
	@keyframes footer_wave1_anim{
		0% {
		transform:  rotate(1deg) ;
		}
		100% {
			transform:t rotate(-2deg);
		}
	}
}
/************************************************************************
// 5.  THX - PAGE
*************************************************************************/
.thx-page {
	text-align: center;
	font-family: $slab;
	color: #308798;
	padding-top: 125px;
	position: relative;
	min-height: 100vh;
	padding-bottom: 200px;
	.footer__bottom-line {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
.thx-page__title {
	font-size: 54px;
	font-weight: 400;
	margin-bottom: 35px;
}
.thx-page__subtitle {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 45px;
}
.thx-page__text {
	color: #333;
	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
	margin-bottom: 60px;
}
/************************************************************************
// 6. FIRST SCREEN THX
*************************************************************************/

/************************************************************************
// 7. SECOND SCREEN THX
*************************************************************************/

/************************************************************************
// 8. THIRD SCREEN THX
*************************************************************************/

/************************************************************************
// 9. TP 1-ST SCREEN
*************************************************************************/

/************************************************************************
// 10. TP 2-ND SCREEN
*************************************************************************/

/************************************************************************
// 11. TP 3-RD SCREEN
*************************************************************************/

/************************************************************************
// 12. TP 4-TH SCREEN
*************************************************************************/

/************************************************************************
// 12. TP 5-TH SCREEN
*************************************************************************/

/************************************************************************
// 13. TP 6-TH SCREEN
*************************************************************************/

/************************************************************************
// 14. TP FOOTER SCREEN
*************************************************************************/
