html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  line-height: 1; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
  box-sizing: border-box; }

:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.cf:before, .cf:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.cf:after {
  clear: both; }

span {
  display: inline-block; }

/*@font-face {
	font-family: "bebasneue";
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot");
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.woff") format("woff"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

*/
body {
  overflow-x: hidden;
  min-width: 320px; }

.pp {
  width: 100%;
  position: absolute;
  top: 0px;
  opacity: 0.6;
  display: none;
  z-index: 55; }
  .pp img {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%; }
  .pp.visible {
    display: block; }

.site-wrapper {
  max-width: 1008px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

.container__picture {
  background-image: url("../img/thx_sprite.png");
  background-repeat: no-repeat;
  display: block; }

.sprite-thx_icon_sprt1 {
  width: 176px;
  height: 152px;
  background-position: -5px -5px; }

.sprite-thx_icon_sprt2 {
  width: 176px;
  height: 152px;
  background-position: -191px -5px; }

.sprite-thx_icon_sprt3 {
  width: 176px;
  height: 152px;
  background-position: -377px -5px; }

/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
.main-header {
  padding-top: 67px;
  padding-bottom: 59px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #fff;
  text-shadow: 0 -1px 0 #115765;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, #4eb6c2, #3492a4); }
  .main-header .site-wrapper {
    position: relative;
    z-index: 2; }
  .main-header .header__title {
    font-size: 42px;
    line-height: 56px;
    margin-bottom: 25px; }
  .main-header .header__subtitle {
    font-size: 30px;
    line-height: 42px; }
  .main-header .header__circles {
    position: absolute;
    z-index: 1;
    width: 450px;
    height: 450px;
    top: -240px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
    .main-header .header__circles .header__circle {
      margin: 0 auto;
      border-radius: 50%;
      border: 2px dotted #4db5c1;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: normal;
              animation-direction: normal;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-name: echolocator;
              animation-name: echolocator; }
    .main-header .header__circles .circle__1 {
      width: 450px;
      height: 450px; }
    .main-header .header__circles .circle__2 {
      width: 430px;
      height: 430px;
      -webkit-animation-duration: 4.5s;
              animation-duration: 4.5s; }
    .main-header .header__circles .circle__3 {
      width: 410px;
      height: 410px;
      border: 3px solid  #4db5c1;
      -webkit-animation-duration: 4s;
              animation-duration: 4s; }
    .main-header .header__circles .circle__4 {
      width: 388px;
      height: 388px;
      -webkit-animation-duration: 3.5s;
              animation-duration: 3.5s; }

@-webkit-keyframes echolocator {
  60% {
    opacity: 0; }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0; } }

@keyframes echolocator {
  60% {
    opacity: 0; }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0; } }

/************************************************************************
// 2. FIRST SEREN
*************************************************************************/
.first-section {
  padding-top: 71px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 400; }

.first-section__container {
  border: 3px dotted #4eb6c2;
  border-radius: 5px;
  padding: 35px 30px 50px 30px; }
  .first-section__container .container__title {
    color: #333;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 33px; }
  .first-section__container .container__button {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: #ff5722;
    border-radius: 28px;
    box-shadow: 0 4px 0 #c2380c;
    height: 56px;
    max-width: 336px;
    width: 100%;
    line-height: 56px;
    vertical-align: middle;
    transition: box-shadow 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear; }
    .first-section__container .container__button:hover {
      -webkit-transform: translate(0, 2px);
          -ms-transform: translate(0, 2px);
              transform: translate(0, 2px);
      box-shadow: 0 2px 0 #c2380c; }

/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-section {
  padding-top: 44px;
  padding-bottom: 72px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #333;
  font-weight: 400; }

.second-section__title {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: -2px; }

.second-section__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 21px; }

.second-section__container {
  margin-top: 24px; }
  .second-section__container .container__item {
    display: inline-block;
    margin: 0px 8px; }
    .second-section__container .container__item svg {
      fill: #3492a4;
      width: 65px;
      height: 65px;
      transition: fill 0.2s linear; }
    .second-section__container .container__item:hover svg {
      fill: #64b3bf; }

/************************************************************************
// 4. FOOTER SECTION
*************************************************************************/
.footer__bottom-line {
  padding: 15px;
  position: relative;
  z-index: 2;
  background: #016f80; }

.policy__container {
  display: inline-block;
  vertical-align: middle; }
  .policy__container .footer__logo {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    margin-right: 5px; }
    .policy__container .footer__logo svg {
      width: 50px;
      height: 50px;
      fill: #64b3bf;
      transition: -webkit-transform 1s ease-out;
      transition: transform 1s ease-out;
      transition: transform 1s ease-out, -webkit-transform 1s ease-out; }
      .policy__container .footer__logo svg:hover {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg); }
  .policy__container .policy {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #64b3bf;
    text-decoration: underline;
    line-height: 65px; }

.social__container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 270px; }
  .social__container a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 5px; }
    .social__container a svg {
      fill: #64b3bf;
      width: 25px;
      height: 25px;
      margin-top: 8px; }

.lsg {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 10px; }
  .lsg svg {
    width: 90px;
    height: 29px;
    vertical-align: middle; }
/*FIRE LOGO! */
.sub-footer-fire{
  display: inline-block;
  height: 45px;
  width: 35px;
  overflow: hidden;
  background-image: url("../img/fire.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position: 0 center;
  padding: 0;
  transition: 1s ease;
  background-size: 200px;
  float: left;
  opacity: .7;
  margin-top: 10px; }
.sub-footer-fire:hover {
  animation-name: fire;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  animation-direction: normal;
  opacity: 1;
}

@keyframes fire{
  0%{
    background-position: 0 center;
  }
  25%{
    background-position: -46px center;
  }
  50%{
    background-position: -84px center;
  }
  75%{
    background-position: -128px center;
  }
  100%{
    background-position: -160px center;
  }
}


/* --------------------------------1300------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 950px) {
  .social__container {
    margin-left: 10%; } }

/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 675px) {
  .social__container {
    float: right;
    margin-left: 0; }
  .lsg {
    text-align: center;
    float: none;
    display: block; } }

/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 520px) {
  .footer__bottom-line {
    min-height: 173px;
    position: relative; }
  .policy__container {
    position: absolute;
    bottom: 13px;
    width: 300px;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .social__container {
    display: block;
    text-align: center;
    float: none; }
  .lsg {
    position: absolute;
    bottom: 75px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@media (max-width: 500px) {
  .main-header .header__title {
    font-size: 32px;
    line-height: 38px; }
  .main-header .header__subtitle {
    font-size: 24px;
    line-height: 30px; }
  .main-header .header__circles .circle__1 {
    width: 250px;
    height: 250px; }
  .main-header .header__circles .circle__2 {
    width: 230px;
    height: 230px; }
  .main-header .header__circles .circle__3 {
    width: 210px;
    height: 210px; }
  .main-header .header__circles .circle__4 {
    width: 190px;
    height: 190px; }
  .first-section__container {
    padding-left: 15px;
    padding-right: 15px; } }

/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 400px) {
  .first-section__container .container__title {
    font-size: 26px;
    line-height: 34px; } }
