html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  line-height: 1; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
  box-sizing: border-box; }

:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.cf:before, .cf:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.cf:after {
  clear: both; }

span {
  display: inline-block; }

/*@font-face {
	font-family: "bebasneue";
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot");
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.woff") format("woff"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

*/
body {
  overflow-x: hidden;
  min-width: 320px; }

.fz_title {
  font-size: 42px;
  line-height: 56px;
  font-weight: 400; }

.fz_title_40 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px; }

.fz_mid {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px; }

.fz_mid_reg {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px; }

.fz_sm {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px; }

.fz_sm_reg {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; }

.fz_xs {
  font-size: 18px;
  font-weight: 300; }

.pp {
  width: 100%;
  position: absolute;
  top: 0px;
  opacity: 0.6;
  display: none;
  z-index: 55; }
  .pp img {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%; }

.site-wrapper {
  max-width: 1008px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

.container__picture {
  background-image: url("../img/thx_sprite.png");
  background-repeat: no-repeat;
  display: block; }

.sprite-thx_icon_sprt1 {
  width: 176px;
  height: 152px;
  background-position: -5px -5px; }

.sprite-thx_icon_sprt2 {
  width: 176px;
  height: 152px;
  background-position: -191px -5px; }

.sprite-thx_icon_sprt3 {
  width: 176px;
  height: 152px;
  background-position: -377px -5px; }

/************************************************************************
// 1. HEADER
*************************************************************************/
.main-page {
  background: url("../img/bg.jpg") no-repeat 50% 0;
  background-size: cover;
  position: relative; }

.main-header {
  padding-top: 30px; }

.header__col {
  float: left;
  width: 33.33%;
  position: relative; }

.header__logo {
  width: 75px;
  height: 83px;
  margin-left: 5px; }

.header__phone {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: #fff;
  margin-top: 19px;
  margin-left: 37px;
  text-shadow: 0 -1px 0 #030303; }

.header__icon {
  position: absolute;
  bottom: -94px;
  left: 46px;
  -webkit-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg); }
  .header__icon.icon_arrow {
    fill: #91d6ff;
    width: 73px;
    height: 22px;
    -webkit-transform: rotate(-106deg);
        -ms-transform: rotate(-106deg);
            transform: rotate(-106deg);
    bottom: -32px;
    left: -10px; }

.header__text {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin-top: 19px;
  margin-left: 45px;
  text-shadow: 0 -1px 0 #030303; }

/************************************************************************
// 2. FIRST SCREEN
*************************************************************************/
.first-screen {
  text-align: center; }

.first-screen__title {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 72px;
  text-shadow: 0 -1px 0 #030303;
  margin-top: 98px;
  letter-spacing: 2px; }
  .first-screen__title span {
    color: #ff5858; }

.first-screen__container {
  width: 460px;
  margin: 0 auto;
  margin-top: 46px;
  text-align: center;
  color: #fff; }
  .first-screen__container .container__item {
    width: 50%;
    float: left; }
    .first-screen__container .container__item .item__board {
      width: 61px;
      height: 72px;
      display: inline-block;
      box-shadow: 0 3px 0 #8499a4;
      border-radius: 3px;
      background: -webkit-linear-gradient(bottom, #c8d3d8, #fff 18%, #e1e7ea);
      background: linear-gradient(to top, #c8d3d8, #fff 18%, #e1e7ea);
      position: relative;
      z-index: 1;
      line-height: 72px; }
      .first-screen__container .container__item .item__board:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: -webkit-linear-gradient(bottom, #c8d3d8, #fff 18%, #e1e7ea);
        background: linear-gradient(to top, #c8d3d8, #fff 18%, #e1e7ea);
        z-index: 2; }
      .first-screen__container .container__item .item__board span {
        font-size: 72px;
        color: #002b40;
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        position: relative;
        z-index: 3;
        vertical-align: 40px; }
    .first-screen__container .container__item .item__text {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #fff;
      margin-top: -5px;
      -webkit-transform: translate(0, -8px);
          -ms-transform: translate(0, -8px);
              transform: translate(0, -8px); }

/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-screen {
  padding-top: 60px;
  text-align: center; }

.second-screen__title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  color: #28aeff;
  font-weight: 300;
  text-shadow: 0 -1px 0 #76cbff;
  margin-bottom: 49px; }

.button__container {
  display: inline-block;
  vertical-align: top; }
  .button__container .container__text {
    font-size: 17px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #fff;
    line-height: 24px;
    margin-top: 16px; }
  .button__container button {
    width: 308px;
    height: 56px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    z-index: 2; }
    .button__container button span {
      position: relative;
      z-index: 3; }
  .button__container .container__icon {
    display: block;
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 16px; }
    .button__container .container__icon svg {
      width: 38px;
      height: 38px;
      fill: #337eb6;
      -webkit-filter: drop-shadow(0 -2px 0 #002c4f);
      filter: drop-shadow(0 -2px 0 #002c4f); }
  .button__container .luck__btn,
  .button__container .video__btn {
    text-shadow: 0 -1px 0 #002441;
    background: -webkit-linear-gradient(bottom, #002441, #004275);
    background: linear-gradient(to top, #002441, #004275);
    box-shadow: 0 3px 0 #003a68;
    -webkit-transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease; }
    .button__container .luck__btn:after,
    .button__container .video__btn:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: -webkit-linear-gradient(bottom, #004275, #00598b);
      background: linear-gradient(to top, #004275, #00598b);
      border-radius: 3px;
      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear; }
    .button__container .luck__btn:hover,
    .button__container .video__btn:hover {
      z-index: 1;
      box-shadow: 0 1px 0 #003a68;
      -webkit-transform: translate(0, 2px);
          -ms-transform: translate(0, 2px);
              transform: translate(0, 2px); }
      .button__container .luck__btn:hover:after,
      .button__container .video__btn:hover:after {
        opacity: 2; }
    .button__container .luck__btn:active,
    .button__container .video__btn:active {
      box-shadow: 0 0 0 #003a68;
      -webkit-transform: translate(0, 3px);
          -ms-transform: translate(0, 3px);
              transform: translate(0, 3px); }
  .button__container .luck__btn .container__icon svg {
    width: 34px;
    height: 35px; }
  .button__container .key__btn {
    text-shadow: 0 -1px 0 #b95300;
    background: -webkit-linear-gradient(bottom, #ff7d00, #ff6600);
    background: linear-gradient(to top, #ff7d00, #ff6600);
    box-shadow: 0 5px 0 #c75900;
    margin: 0 23px;
    -webkit-transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease; }
    .button__container .key__btn .container__icon svg {
      fill: #ffa34e;
      -webkit-filter: drop-shadow(0 -2px 0 #c45800);
      filter: drop-shadow(0 -2px 0 #c45800); }
    .button__container .key__btn:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: -webkit-linear-gradient(bottom, #ff6600, #ff7d00);
      background: linear-gradient(to top, #ff6600, #ff7d00);
      border-radius: 3px;
      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear; }
    .button__container .key__btn:hover {
      z-index: 1;
      box-shadow: 0 3px 0 #c75900;
      -webkit-transform: translate(0, 2px);
          -ms-transform: translate(0, 2px);
              transform: translate(0, 2px); }
      .button__container .key__btn:hover:after {
        opacity: 2; }
    .button__container .key__btn:active {
      box-shadow: 0 0 0 #c75900;
      -webkit-transform: translate(0, 5px);
          -ms-transform: translate(0, 5px);
              transform: translate(0, 5px); }

/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.third-section {
  padding-top: 170px;
  padding-bottom: 25px;
  color: #fff;
  text-align: center; }

.third-section__container {
  position: relative;
  display: inline-block;
  text-align: left;
  max-width: 700px;
  width: 100%; }
  .third-section__container img {
    float: left;
    margin-right: 20px;
    margin-top: 15px; }
  .third-section__container .container__subtitle {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px; }
  .third-section__container .container__title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-top: 17px; }
  .third-section__container .bottom_arrow {
    display: inline-block;
    -webkit-transform: translate(0, 5px);
        -ms-transform: translate(0, 5px);
            transform: translate(0, 5px); }
  .third-section__container .bottom__text {
    position: absolute;
    left: 432px;
    bottom: 60px;
    display: block;
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg); }
    .third-section__container .bottom__text svg {
      fill: #91d6ff; }

/************************************************************************
// 4. FOOTER SCREEN
*************************************************************************/
.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  background: #001d2e; }

.policy__container {
  display: inline-block;
  vertical-align: middle; }
  .policy__container a {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #004d85;
    margin-right: 5px; }
    .policy__container a svg {
      width: 50px;
      height: 50px;
      fill: #004d85;
      -webkit-transition: -webkit-transform 1s ease;
      transition: -webkit-transform 1s ease;
      transition: transform 1s ease;
      transition: transform 1s ease, -webkit-transform 1s ease; }
      .policy__container a svg:hover {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
        -webkit-transition: -webkit-transform 1s ease;
        transition: -webkit-transform 1s ease;
        transition: transform 1s ease;
        transition: transform 1s ease, -webkit-transform 1s ease; }

.social__container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 270px; }
  .social__container a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid #004d85;
    margin-left: 5px;
    -webkit-transition: border 0.3s linear;
    transition: border 0.3s linear; }
    .social__container a svg {
      fill: #004d85;
      width: 25px;
      height: 25px;
      margin-top: 8px;
      -webkit-transition: fill 0.3s linear;
      transition: fill 0.3s linear; }
    .social__container a:hover {
      border-color: #fff; }
      .social__container a:hover svg {
        fill: #fff; }

.lsg {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 12px; }
  .lsg svg {
    vertical-align: middle;
    width: 90px;
    height: 29px; }

/************************************************************************
// 5. POPUP SCREEN
*************************************************************************/
.popup_form {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -99;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../img/bg.jpg") no-repeat 50% 0;
  background-size: cover;
  overflow: hidden;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  .popup_form.visible {
    opacity: 1;
    z-index: 99; }

.form__wrapper {
  padding-left: 60px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease; }

.key__form {
  max-width: 390px;
  width: 100%;
  display: block; }

.form__screen {
  position: relative;
  margin-bottom: 120px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  .form__screen .screen__number {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 400;
    position: absolute;
    left: -55px;
    top: 5px; }
  .form__screen .screen__arrow {
    display: inline-block;
    height: 2px;
    width: 18px;
    background: #fff;
    position: relative;
    line-height: 10px;
    vertical-align: 8px; }
    .form__screen .screen__arrow:before, .form__screen .screen__arrow:after {
      content: "";
      display: block;
      background: #fff;
      height: 2px;
      width: 10px;
      position: absolute;
      right: -2px; }
    .form__screen .screen__arrow:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: -3px; }
    .form__screen .screen__arrow:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 3px; }
  .form__screen .screen__title {
    color: #79b0d9;
    font-size: 30px;
    font-weight: 300;
    font-family: "Roboto Slab", serif; }
  .form__screen .input__container {
    position: relative; }
    .form__screen .input__container input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 48px;
      padding-left: 10px;
      padding-right: 0;
      margin-top: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 24px;
      color: #fff;
      border: none;
      background-color: transparent;
      border-bottom: 2px dashed #7290a2; }
  .form__screen .btn_ok,
  .form__screen .btn__form {
    height: 48px;
    width: 104px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    background: -webkit-linear-gradient(bottom, #002441, #004275);
    background: linear-gradient(to top, #002441, #004275);
    box-shadow: 0 3px 0 #003a68;
    margin-top: 30px;
    -webkit-transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease; }
    .form__screen .btn_ok span,
    .form__screen .btn__form span {
      position: relative;
      z-index: 3;
      vertical-align: -15px;
      margin-left: 12px; }
    .form__screen .btn_ok:after,
    .form__screen .btn__form:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 3px;
      opacity: 0;
      background: -webkit-linear-gradient(bottom, #004275, #00598b);
      background: linear-gradient(to top, #004275, #00598b);
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .form__screen .btn_ok:hover,
    .form__screen .btn__form:hover {
      z-index: 1;
      box-shadow: 0 1px 0 #003a68;
      -webkit-transform: translate(0, 2px);
          -ms-transform: translate(0, 2px);
              transform: translate(0, 2px); }
      .form__screen .btn_ok:hover:after,
      .form__screen .btn__form:hover:after {
        opacity: 1; }
    .form__screen .btn_ok:active,
    .form__screen .btn__form:active {
      z-index: 1;
      box-shadow: 0 0px 0 #003a68;
      -webkit-transform: translate(0, 3px);
          -ms-transform: translate(0, 3px);
              transform: translate(0, 3px); }
    .form__screen .btn_ok svg,
    .form__screen .btn__form svg {
      vertical-align: -17px;
      margin-left: 15px;
      fill: #337eb6;
      width: 28px;
      height: 21px;
      -webkit-filter: drop-shadow(0 -2px 0 #002c4f);
      filter: drop-shadow(0 -2px 0 #002c4f);
      position: relative;
      z-index: 3; }
  .form__screen .btn__form {
    width: 230px; }
    .form__screen .btn__form span {
      vertical-align: -2px; }
    .form__screen .btn__form svg {
      vertical-align: -7px;
      margin-left: -2px; }
  .form__screen .screen__enter {
    color: #337eb6;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    vertical-align: -14px;
    margin-left: 15px; }

.form__screen:nth-child(4) .screen__enter {
  vertical-align: 0px; }

.form__screen.not_visible {
  opacity: 0; }

.form__screen.transparent {
  opacity: 0.2; }

/************************************************************************
// 
*************************************************************************/
.ribbon {
  display: block;
  position: absolute;
  background: #af5564;
  width: 210px;
  padding: 15px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  border-radius: 4px;
  right: -250px;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  text-align: left; }
  .ribbon:before {
    content: "";
    display: block;
    position: absolute;
    background: #af5564;
    z-index: -1;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    left: -5px;
    top: 15px; }

.form__screen.error__input input {
  border: 2px dashed #af5564;
  border-radius: 5px; }

.form__screen.error__input .screen__title {
  color: #fff;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease; }

.form__screen.error__input .ribbon {
  opacity: 1; }

.btn__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #79b0d9;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #79b0d9;
  padding: 10px 30px 12px 30px;
  z-index: 99; }
  .btn__close .close__arrow {
    display: inline-block;
    height: 2px;
    width: 18px;
    background: #79b0d9;
    position: relative;
    vertical-align: 4px; }
    .btn__close .close__arrow:after, .btn__close .close__arrow:before {
      content: "";
      display: block;
      background: #79b0d9;
      height: 2px;
      width: 10px;
      position: absolute; }
    .btn__close .close__arrow:after {
      -webkit-transform: rotate(45deg) translate(0.5px, 3.5px);
          -ms-transform: rotate(45deg) translate(0.5px, 3.5px);
              transform: rotate(45deg) translate(0.5px, 3.5px); }
    .btn__close .close__arrow:before {
      -webkit-transform: rotate(-45deg) translate(0.5px, -3.5px);
          -ms-transform: rotate(-45deg) translate(0.5px, -3.5px);
              transform: rotate(-45deg) translate(0.5px, -3.5px); }

.thx__title {
  font-size: 55px;
  text-shadow: 0 -1px 0 #030303;
  margin-top: 200px;
  color: #fff;
  font-family: "Roboto Slab", serif; }
  .thx__title.luck {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300; }

.thx__text {
  color: #fff;
  font-family: "Roboto Slab", serif;
  text-shadow: 0 -1px 0 #030303;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  margin-top: 70px; }

.thx-page {
  position: relative;
  min-height: 100vh;
  padding-bottom: 300px; }
  .thx-page footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 1008px) {
  .header__col {
    width: 40%; }
    .header__col:nth-child(1) {
      width: 85px; }
    .header__col:nth-child(2) {
      margin-left: 8%; }
  .button__container .key__btn {
    margin-left: 26px;
    margin-right: 26px; }
  .button__container {
    width: 100%;
    margin-bottom: 40px; }
  .button__container .key__btn {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0; }
  .button__container .luck__btn {
    margin-top: 0; } }

/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 950px) {
  .social__container {
    margin-left: 20%; } }

/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 900px) {
  .form__wrapper {
    padding-right: 255px;
    max-width: 630px; } }

/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 850px) {
  .header__col:nth-child(2), .header__col:nth-child(3) {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    margin-left: 0;
    width: 330px; }
  .header__col:nth-child(2) {
    top: 100px; }
  .third-section {
    padding-bottom: 80px; }
  .first-screen__title {
    margin-top: 170px; } }

@media (max-width: 800px) {
  .social__container {
    margin-left: 5%; } }

/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 720px) {
  .first-screen__container {
    width: 100%; }
  .first-screen__container .container__item {
    width: 240px;
    float: none;
    display: inline-block; }
  .second-screen {
    padding-top: 60px; } }

/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 675px) {
  .third-section__container .bottom__text {
    left: 220px;
    bottom: 10px;
    -webkit-transform: rotate(-6deg);
        -ms-transform: rotate(-6deg);
            transform: rotate(-6deg); }
  .third-section__container .bottom_arrow {
    -webkit-transform: translate(-9px, 12px) rotate(65deg);
        -ms-transform: translate(-9px, 12px) rotate(65deg);
            transform: translate(-9px, 12px) rotate(65deg); }
  .third-section__container .container__subtitle {
    max-width: 250px; }
  .third-section__container {
    display: inline-block;
    max-width: none;
    width: auto; } }

@media (max-width: 650px) {
  .lsg {
    display: block;
    width: 100%;
    text-align: center; }
  .social__container {
    margin-left: 0;
    float: right; }
  .ribbon {
    top: 78px;
    right: 0px; }
    .ribbon:before {
      left: 98px;
      top: -5px; }
  .form__wrapper {
    padding-right: 60px;
    max-width: 507px; }
  .form__screen:nth-child(4) .btn__form {
    width: 200px; }
  .form__screen:nth-child(4) .ribbon {
    width: 170px; } }

@media (max-width: 600px) {
  .first-screen__title {
    font-size: 60px;
    line-height: 68px; }
  .second-screen__title {
    font-size: 36px;
    line-height: 44px; } }

/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 515px) {
  .first-screen__container .container__item {
    margin-bottom: 50px; }
  .form__wrapper {
    padding-right: 0; } }

@media (max-width: 500px) {
  .header__col:nth-child(1) {
    margin: 0 auto;
    float: none; }
  .header__col:nth-child(3) {
    top: 145px;
    width: 290px; }
  .header__col:nth-child(2) {
    top: 215px;
    padding-bottom: 100px;
    overflow: hidden;
    width: 330px; }
  .header__icon.icon_text {
    bottom: -8px; }
  .header__icon.icon_arrow {
    top: 75px;
    bottom: auto; }
  .header__text {
    margin-left: 0; }
  .main-header {
    padding-bottom: 150px; }
  .third-section__container {
    padding-top: 80px;
    position: relative;
    padding-bottom: 80px; }
  .third-section__container .container__subtitle {
    position: absolute;
    top: 0;
    left: 0; }
  .third-section__container .bottom__text {
    left: 0; }
  .container__subtitle {
    display: initial;
    text-align: right; }
  .main-footer {
    height: 196px;
    padding-top: 60px; }
  .policy__container {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-align: center;
    bottom: 13px;
    width: 250px; }
  .social__container {
    position: absolute;
    top: 13px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .lsg {
    display: block;
    width: 100%;
    text-align: center; } }

/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 450px) {
  .ribbon {
    top: 15px;
    position: relative; }
  .form__screen {
    padding-right: 15px; }
  .form__screen.error__input .ribbon {
    width: 250px; }
  .ribbon:before {
    left: 17px; } }

@media (max-width: 400px) {
  .header__phone {
    font-size: 36px;
    margin-left: 0; }
  .header__icon {
    bottom: -106px;
    left: -13px; }
  .header__icon.icon_arrow {
    width: 42px;
    height: 34px;
    display: block;
    overflow: hidden;
    left: -19px;
    -webkit-transform: rotate(-116deg);
        -ms-transform: rotate(-116deg);
            transform: rotate(-116deg);
    top: 57px; }
    .header__icon.icon_arrow svg {
      width: 74px;
      height: 42px;
      position: absolute;
      top: 0;
      left: -50px; }
  .header__col:nth-child(2) {
    width: 290px; }
  .button__container button {
    width: 300px; }
  .thx-page .thx__title {
    font-size: 48px; } }
