html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box; }

html {
  line-height: 1; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
  box-sizing: border-box; }

:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.cf:before, .cf:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.cf:after {
  clear: both; }

span {
  display: inline-block; }

/*@font-face {
	font-family: "bebasneue";
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot");
	src: url("../fonts/BebasNeue/Bebas_Neue_Cyrillic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.woff") format("woff"),
	url("../fonts/BebasNeue/BebasNeueCyrillic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

*/
body {
  overflow-x: hidden;
  min-width: 320px; }

.fz_title {
  font-size: 42px;
  line-height: 56px;
  font-weight: 400; }

.fz_title_40 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px; }

.fz_mid {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px; }

.fz_mid_reg {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px; }

.fz_sm {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px; }

.fz_sm_reg {
  font-size: 42px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 48px;
  color: #4cb3c0; 
text-align: center;}

.fz_xs {
  font-size: 18px;
  font-weight: 300; }

.pp {
  width: 100%;
  position: absolute;
  top: 0px;
  opacity: 0.6;
  display: none;
  z-index: 55; }
  .pp img {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%; }

.site-wrapper {
  max-width: 1008px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

.container__picture {
  background-image: url("../img/thx_sprite.png");
  background-repeat: no-repeat;
  display: block; }

.sprite-thx_icon_sprt1 {
  width: 176px;
  height: 152px;
  background-position: -5px -5px; }

.sprite-thx_icon_sprt2 {
  width: 176px;
  height: 152px;
  background-position: -191px -5px; }

.sprite-thx_icon_sprt3 {
  width: 176px;
  height: 152px;
  background-position: -377px -5px; }

/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
.main-header {
  padding-top: 52px;
  padding-bottom: 62px;
  color: #fff;
  text-align: center;
  background: -webkit-linear-gradient(bottom, #4eb6c2, #3492a4);
  background: linear-gradient(to top, #4eb6c2, #3492a4);
  position: relative;
  z-index: 1;
  text-shadow: 0 -1px 0 #115765;
  overflow: hidden; }

.header__col {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2; }
  .header__col.book_col {
    margin-left: -145px;
    -webkit-transform: translate(-1000px, 0);
        -ms-transform: translate(-1000px, 0);
            transform: translate(-1000px, 0);
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
    transition: opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
    transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21);
    transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
    .header__col.book_col.visible {
      -webkit-transform: translate(0px);
          -ms-transform: translate(0px);
              transform: translate(0px);
      opacity: 1;
      -webkit-transition: opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .header__col.right__col {
    text-align: left;
    max-width: 560px;
    width: 100%;
    margin-left: 60px;
    padding-top: 15px; }

.header__title {
  font-family: "Roboto Slab", serif;
  margin-bottom: 48px;
  -webkit-transform: translate(1000px, 0);
      -ms-transform: translate(1000px, 0);
          transform: translate(1000px, 0);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .header__title.visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

.header__list {
  font-family: "Roboto", sans-serif;
  margin-bottom: 53px; }
  .header__list li {
    padding-left: 44px;
    position: relative;
    margin-bottom: 28px; }
    .header__list li:nth-child(1) {
      -webkit-transform: translate(1000px, 0);
          -ms-transform: translate(1000px, 0);
              transform: translate(1000px, 0);
      opacity: 0;
      -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
      .header__list li:nth-child(1).visible {
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        opacity: 1; }
    .header__list li:nth-child(2) {
      -webkit-transform: translate(1000px, 0);
          -ms-transform: translate(1000px, 0);
              transform: translate(1000px, 0);
      opacity: 0;
      -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
      .header__list li:nth-child(2).visible {
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        opacity: 1; }
    .header__list li:nth-child(3) {
      -webkit-transform: translate(1000px, 0);
          -ms-transform: translate(1000px, 0);
              transform: translate(1000px, 0);
      opacity: 0;
      -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
      .header__list li:nth-child(3).visible {
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        opacity: 1; }
  .header__list .list__icon {
    display: block;
    position: absolute;
    left: -2px;
    top: -3px; }
    .header__list .list__icon svg {
      width: 33px;
      height: 33px;
      fill: #00657e; }

.header__description {
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  -webkit-transform: translate(1000px, 0);
      -ms-transform: translate(1000px, 0);
          transform: translate(1000px, 0);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .header__description.visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

.button {
  display: inline-block;
  background: #ff5722;
  border: none;
  border-radius: 28px;
  height: 55px;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 -1px 0 #a92900;
  text-transform: uppercase;
  padding-bottom: 4px;
  box-shadow: 0 4px 0 #c2380c;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
  transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, 
 box-shadow 0.3s ease;
  transition: transform 0.3s ease, 
 box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease; }
  .button:hover {
    box-shadow: 0 2px 0 #c2380c;
    -webkit-transform: translate(0, 2px);
        -ms-transform: translate(0, 2px);
            transform: translate(0, 2px);
    -webkit-transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, 
 box-shadow 0.3s ease;
    transition: transform 0.3s ease, 
 box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease; }
  .button:active {
    box-shadow: 0 0 0 #c2380c;
    -webkit-transform: translate(0, 4px);
        -ms-transform: translate(0, 4px);
            transform: translate(0, 4px);
    -webkit-transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, 
 box-shadow 0.3s ease;
    transition: transform 0.3s ease, 
 box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease; }

.header__button {
  max-width: 336px;
  width: 100%; }

.header__overlay {
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1; */ }

.button__container {
  position: relative;
  display: inline-block;
  max-width: 336px;
  width: 100%;
  -webkit-transform: scale(4);
      -ms-transform: scale(4);
          transform: scale(4);
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .button__container.visible {
    opacity: 1;
    -webkit-animation-name: btn_animate;
            animation-name: btn_animate;
    -webkit-transition: opacity 0.4s cubic-bezier(0.42, 0, 0.55, 1.21);
    transition: opacity 0.4s cubic-bezier(0.42, 0, 0.55, 1.21); }

@-webkit-keyframes btn_animate {
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes btn_animate {
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.icon-zmi {
  position: absolute;
  top: -8px;
  right: -160px;
  -webkit-transform: rotate(-11deg);
      -ms-transform: rotate(-11deg);
          transform: rotate(-11deg);
  width: 130px;
  height: 50px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 1s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 1s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 1s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 1s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 1s cubic-bezier(0.42, 0, 0.55, 1.21); }

.icon-header_arrow {
  width: 80px;
  height: 43px;
  position: absolute;
  top: 44px;
  right: -84px;
  -webkit-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
          transform: rotate(1deg);
  -webkit-animation-name: rotate_arrow;
          animation-name: rotate_arrow;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 50% -210%;
      -ms-transform-origin: 50% -210%;
          transform-origin: 50% -210%; }

.button__container .icon {
  opacity: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 0.8s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.6s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 0.8s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.6s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 0.8s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.6s cubic-bezier(0.42, 0, 0.55, 1.21); }

.button__container.visible .icon {
  opacity: 1; }

.button__container.visible .icon-zmi {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

@-webkit-keyframes rotate_arrow {
  100% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg); } }

@keyframes rotate_arrow {
  100% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg); } }

@-webkit-keyframes rotate_arrow_adaptive {
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@keyframes rotate_arrow_adaptive {
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

/************************************************************************
// 2. FIRST SEREN
*************************************************************************/
.first-screen {
  padding-top: 87px;
  padding-bottom: 36px;
  position: relative;
  color: #333;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden; }

.first-screen__text {
  font-family: "Roboto Slab", serif;
  line-height: 28px;
  text-align: center;
  margin-bottom: 15px;
  -webkit-transform: translate(1000px, 0);
      -ms-transform: translate(1000px, 0);
          transform: translate(1000px, 0);
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .first-screen__text.visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  .first-screen__text span {
    font-weight: 400;
    color: #2C95AB; }

.first-screen__container {
  background: url("../img/first-screen_icons.png") no-repeat 50% 50%;
  background-size: 920px 450px;
  padding-top: 167px;
  position: relative; }
  .first-screen__container .container__figure {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 161px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
    .first-screen__container .container__figure .figure__arrows {
      display: inline-block;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0; }
      .first-screen__container .container__figure .figure__arrows svg:nth-child(1) {
        position: absolute;
        top: 26px;
        left: -30px; }
      .first-screen__container .container__figure .figure__arrows svg:nth-child(2) {
        position: absolute;
        top: 36px;
        right: -289px;
        -webkit-transform: rotate(134deg);
            -ms-transform: rotate(134deg);
                transform: rotate(134deg); }
      .first-screen__container .container__figure .figure__arrows svg:nth-child(3) {
        position: absolute;
        top: 156px;
        left: 85px;
        -webkit-transform: rotate(-89deg);
            -ms-transform: rotate(-89deg);
                transform: rotate(-89deg); }
  .first-screen__container .figure__circle {
    position: absolute;
    display: block;
    top: -153px;
    left: -84px;
    z-index: 1; }
    .first-screen__container .figure__circle svg {
      width: 412px;
      height: 500px; }
  .first-screen__container .figure__book {
    display: block;
    position: relative;
    z-index: 2; }

.container__row .row__col {
  max-width: 320px;
  width: 100%;
  display: inline-block; }
  .container__row .row__col .col__header {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding-bottom: 29px; }
  .container__row .row__col .col__text {
    font-family: "Roboto Slab", serif;
    line-height: 28px; }

.container__row:nth-child(1) .row__col:nth-child(1) {
  text-align: right; }

.container__row:nth-child(1) .row__col:nth-child(2) {
  float: right; }

.container__row:nth-child(2) {
  text-align: center;
  padding-top: 80px; }
  .container__row:nth-child(2) .row__col {
    text-align: left; }

.container__row:nth-child(1) .row__col:nth-child(1) {
  -webkit-transform: translate(-1000px, 0);
      -ms-transform: translate(-1000px, 0);
          transform: translate(-1000px, 0);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .container__row:nth-child(1) .row__col:nth-child(1).visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

.container__row:nth-child(1) .row__col:nth-child(2) {
  -webkit-transform: translate(1000px, 0);
      -ms-transform: translate(1000px, 0);
          transform: translate(1000px, 0);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .container__row:nth-child(1) .row__col:nth-child(2).visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

.container__row:nth-child(2) .row__col {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .container__row:nth-child(2) .row__col.visible {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1; }

/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-screen {
  padding-bottom: 48px;
  text-align: center;
  color: #333333;
  overflow: hidden; }

.second-screen__title {
  font-family: "Roboto", sans-serif;
  -webkit-transform: translate(0, -1000px);
      -ms-transform: translate(0, -1000px);
          transform: translate(0, -1000px);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 1s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 1s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 1s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 1s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 1s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .second-screen__title.visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

.second-screen__container {
  margin-top: 31px; }
  .second-screen__container .container__item {
    float: left;
    width: 33.3333%; }
    .second-screen__container .container__item .item__icon {
      display: inline-block;
      width: 185px;
      height: 200px;
      text-align: center;
      margin-bottom: 10px; }
    .second-screen__container .container__item .icon_boat svg {
      width: 175px;
      height: 190px; }
    .second-screen__container .container__item .icon_wood {
      padding-top: 22px; }
    .second-screen__container .container__item .icon_bigben svg {
      width: 160px;
      margin-top: -5px; }
    .second-screen__container .container__item .item__header {
      font-family: "Roboto", sans-serif; }
    .second-screen__container .container__item .item__text {
      font-family: "Roboto Slab", serif;
      margin-top: 29px;
      line-height: 28px; }

.second-screen__container .container__item:nth-child(1) {
  -webkit-transform: translate(1000px, 0);
      -ms-transform: translate(1000px, 0);
          transform: translate(1000px, 0);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .second-screen__container .container__item:nth-child(1).visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

.second-screen__container .container__item:nth-child(2) {
  -webkit-transform: translate(1000px, 0);
      -ms-transform: translate(1000px, 0);
          transform: translate(1000px, 0);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .second-screen__container .container__item:nth-child(2).visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

.second-screen__container .container__item:nth-child(3) {
  -webkit-transform: translate(1000px, 0);
      -ms-transform: translate(1000px, 0);
          transform: translate(1000px, 0);
  opacity: 0;
  -webkit-transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
  transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21), -webkit-transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21); }
  .second-screen__container .container__item:nth-child(3).visible {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
/************************************************************************
// 4. FOOTER
*************************************************************************/
.main-footer {
  padding-top: 77px;
  background: url("../img/svg/footer_bg.svg") no-repeat 50% 100%;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.thankyou-page .main-footer {
  background: #016f80;
  padding-top: 0; }

.footer__container {
  margin-bottom: 93px;
  position: relative;
  min-height: 355px;
  z-index: 2; }

.foote-col {
  float: left;
  width: 50%; }
  .foote-col .footer__title {
    font-size: 38px;
    font-weight: 400;
    color: #fff;
    font-family: "Roboto Slab", serif;
    text-shadow: 0 -1px 0 #0085a3; }
  .foote-col .footer__text {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    text-shadow: 0 -1px 0 #0085a3;
    color: #fff;
    max-width: 389px;
    width: 100%;
    margin-top: 56px;
    margin-bottom: 16px; }

.footer__form {
  display: block;
  margin-top: -38px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  float: right;
  max-width: 390px;
  width: 100%;
  background: #dbf1ec;
  box-shadow: 0 0  5px #2e7f9d;
  padding: 40px 25px; }
  .footer__form .form__container {
    text-align: right;
    position: relative;
    margin-bottom: 14px;
    height: 44px;
    -webkit-transition: height 0.2s ease;
    transition: height 0.2s ease; }
    .footer__form .form__container.has-error {
      height: 84px;
      -webkit-transition: height 0.2s ease;
      transition: height 0.2s ease;
      font-family: "Roboto", sans-serif; }
      .footer__form .form__container.has-error .form__icon svg {
        fill: #d67252; }
    .footer__form .form__container .help-block {
      width: 252px;
      text-align: left;
      color: red;
      margin-top: 5px;
      font-weight: 300;
      font-size: 15px; }
    .footer__form .form__container input {
      display: inline-block;
      background: #eef7f5;
      border: 1px solid #96b9b9;
      height: 44px;
      width: 250px;
      border-radius: 5px;
      box-shadow: inset 0 2px 2px 0px #a1c3bb;
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      padding-left: 45px;
      box-sizing: border-box; }
    .footer__form .form__container label {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 300;
      position: absolute;
      left: 0;
      top: 9px; }
    .footer__form .form__container .form__icon {
      display: block;
      position: absolute;
      top: 13px;
      left: 102px; }
      .footer__form .form__container .form__icon svg {
        fill: #8daeae;
        width: 20px;
        height: 20px; }
  .footer__form .form__text {
    text-align: left;
    width: 249px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300; }
  .footer__form .form__button {
    margin-top: 5px;
    width: 100%;
    overflow: hidden; }
.form__button svg {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-400px, -50%);
  transition: transform 0.6s ease, width 0.6s linear;
}
.form__button.disabled svg {
  width: 42px;
  height: 42px;
  transform: translate(-50%, -50%);
}
.form__button p {
  transition: transform 0.5s linear, opacity 0.3s linear;
}
.form__button.disabled p {
  opacity: 0;
  transform: translate(400px, 0);
}
.footer__bottom-line {
  padding: 10px;
  padding-top: 10px;
  position: relative;
  z-index: 2; }

.policy__container {
  display: inline-block;
  vertical-align: middle; }
  .policy__container .policy {
    display: inline-block;
    vertical-align: middle;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #64b3bf;
    text-decoration: underline;
    line-height: 65px; }

.footer__logo {
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  margin-right: 5px; }
  .footer__logo svg {
    width: 50px;
    height: 50px;
    fill: #64b3bf;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out; }
    .footer__logo svg:hover {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transition: -webkit-transform 1s ease-out;
      transition: -webkit-transform 1s ease-out;
      transition: transform 1s ease-out;
      transition: transform 1s ease-out, -webkit-transform 1s ease-out; }

.social__container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 270px; }
  .social__container a {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 5px; }
    .social__container a svg {
      fill: #64b3bf;
      width: 25px;
      height: 25px;
      margin-top: 8px; }

.lsg {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 10px; }
  .lsg svg {
    vertical-align: middle;
    width: 90px;
    height: 29px; }

#boat_animatiton {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 200px;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes boat_to_right_xl {
  100% {
    -webkit-transform: translate(850px, 0);
            transform: translate(850px, 0); } }

@keyframes boat_to_right_xl {
  100% {
    -webkit-transform: translate(850px, 0);
            transform: translate(850px, 0); } }

@-webkit-keyframes boat_to_right_lg {
  100% {
    -webkit-transform: translate(680px, 0);
            transform: translate(680px, 0); } }

@keyframes boat_to_right_lg {
  100% {
    -webkit-transform: translate(680px, 0);
            transform: translate(680px, 0); } }

@-webkit-keyframes boat_to_right_md {
  100% {
    -webkit-transform: translate(540px, 0);
            transform: translate(540px, 0); } }

@keyframes boat_to_right_md {
  100% {
    -webkit-transform: translate(540px, 0);
            transform: translate(540px, 0); } }

@-webkit-keyframes boat_to_right_sm {
  100% {
    -webkit-transform: translate(410px, 0);
            transform: translate(410px, 0); } }

@keyframes boat_to_right_sm {
  100% {
    -webkit-transform: translate(410px, 0);
            transform: translate(410px, 0); } }

@-webkit-keyframes boat_to_right_xs {
  100% {
    -webkit-transform: translate(210px, 0);
            transform: translate(210px, 0); } }

@keyframes boat_to_right_xs {
  100% {
    -webkit-transform: translate(210px, 0);
            transform: translate(210px, 0); } }

.boat {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes down_top {
  20% {
    -webkit-transform: translateY(-10px) rotate(-2deg);
            transform: translateY(-10px) rotate(-2deg); }
  40% {
    -webkit-transform: translateY(10px) rotate(2deg);
            transform: translateY(10px) rotate(2deg); }
  60% {
    -webkit-transform: translateY(-10px) rotate(-2deg);
            transform: translateY(-10px) rotate(-2deg); }
  80% {
    -webkit-transform: translateY(10px) rotate(2deg);
            transform: translateY(10px) rotate(2deg); }
  100% {
    -webkit-transform: translateY(-10px) rotate(-2deg);
            transform: translateY(-10px) rotate(-2deg); } }

@keyframes down_top {
  20% {
    -webkit-transform: translateY(-10px) rotate(-2deg);
            transform: translateY(-10px) rotate(-2deg); }
  40% {
    -webkit-transform: translateY(10px) rotate(2deg);
            transform: translateY(10px) rotate(2deg); }
  60% {
    -webkit-transform: translateY(-10px) rotate(-2deg);
            transform: translateY(-10px) rotate(-2deg); }
  80% {
    -webkit-transform: translateY(10px) rotate(2deg);
            transform: translateY(10px) rotate(2deg); }
  100% {
    -webkit-transform: translateY(-10px) rotate(-2deg);
            transform: translateY(-10px) rotate(-2deg); } }

.main-footer.visible .boat {
  -webkit-animation-name: down_top;
          animation-name: down_top; }

.main-footer.visible #boat_animatiton {
  -webkit-animation-name: boat_to_right_xl;
          animation-name: boat_to_right_xl; }

/************************************************************************
// 5. HEADER THX
*************************************************************************/
.header_thx {
  color: #fff;
  text-shadow: 0 -1px 0 #115765;
  background: -webkit-linear-gradient(bottom, #4eb6c2, #3492a4);
  background: linear-gradient(to top, #4eb6c2, #3492a4);
  text-align: center;
  overflow: hidden;
  padding-top: 135px;
  padding-bottom: 60px;
  font-family: "Roboto Slab", serif;
  position: relative; }

.header_thx__title {
  margin-bottom: 30px;
  position: relative;
  z-index: 2; }

.header_thx__description {
  margin-bottom: 15px;
  position: relative;
  z-index: 2; }

.thx_book {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -48%);
      -ms-transform: translate(-50%, -48%);
          transform: translate(-50%, -48%);
  width: 257px;
  z-index: 1; }
  .thx_book:after {
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px dashed #4db5c1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: echolocator;
            animation-name: echolocator; }
  .thx_book:before {
    content: "";
    display: block;
    width: 215px;
    height: 215px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid #4db5c1;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: echolocator;
            animation-name: echolocator; }
  .thx_book span {
    display: block;
    width: 190px;
    height: 190px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px dashed #4db5c1;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: echolocator;
            animation-name: echolocator; }

@-webkit-keyframes echolocator {
  60% {
    opacity: 0; }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0; } }

@keyframes echolocator {
  60% {
    opacity: 0; }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0; } }

/************************************************************************
// 6. FIRST SCREEN THX
*************************************************************************/
.first-screen_thx {
  padding-top: 70px;
  padding-bottom: 50px; }

.first-screen_thx__item {
  position: relative;
  padding-left: 85px;
  margin-bottom: 35px;
  max-width: 870px;
  margin: 0 auto 35px;
  width: 100%; }
  .first-screen_thx__item .item__text {
    color: #333;
    font-family: "Roboto Slab", serif;
    line-height: 26px; }
    .first-screen_thx__item .item__text span {
      font-weight: 400;
      color: #009999; }
  .first-screen_thx__item .item__icon {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid #4cb3c0;
    border-radius: 50%;
    top: 5px;
    left: 0; }
    .first-screen_thx__item .item__icon:after {
      content: "";
      display: block;
      width: 11px;
      height: 9px;
      background: #fff;
      position: absolute;
      right: -2px;
      top: 2px;
      -webkit-transform: rotate(40deg);
          -ms-transform: rotate(40deg);
              transform: rotate(40deg); }
    .first-screen_thx__item .item__icon span {
      position: absolute;
      top: 18px;
      left: 6px;
      z-index: 2; }
      .first-screen_thx__item .item__icon span:before, .first-screen_thx__item .item__icon span:after {
        content: "";
        display: block;
        background: #4cb3c0;
        height: 3px; }
      .first-screen_thx__item .item__icon span:before {
        width: 35px;
        -webkit-transform: rotate(-50deg) translate(8.5px, 4px);
            -ms-transform: rotate(-50deg) translate(8.5px, 4px);
                transform: rotate(-50deg) translate(8.5px, 4px); }
      .first-screen_thx__item .item__icon span:after {
        width: 19px;
        -webkit-transform: rotate(42deg);
            -ms-transform: rotate(42deg);
                transform: rotate(42deg); }

.first-screen_thx__banner {
  max-width: 980px;
  width: 100%;
  box-shadow: 0 4px #c2380c;
  border-radius: 3px;
  background: url("../img/banner_bg.png") no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 30px 20px;
  margin: 80px auto 0;
  border: none;
  cursor: pointer;
  -webkit-transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
  transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, 
 box-shadow 0.3s ease;
  transition: transform 0.3s ease, 
 box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease; }
  .first-screen_thx__banner:hover {
    box-shadow: 0 2px 0 #c2380c;
    -webkit-transform: translate(0, 2px);
        -ms-transform: translate(0, 2px);
            transform: translate(0, 2px);
    -webkit-transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, 
 box-shadow 0.3s ease;
    transition: transform 0.3s ease, 
 box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease; }
  .first-screen_thx__banner:active {
    box-shadow: 0 0 0 #c2380c;
    -webkit-transform: translate(0, 4px);
        -ms-transform: translate(0, 4px);
            transform: translate(0, 4px);
    -webkit-transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
    transition: box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, 
 box-shadow 0.3s ease;
    transition: transform 0.3s ease, 
 box-shadow 0.3s ease, 
 -webkit-transform 0.3s ease; }
  .first-screen_thx__banner .banner__text {
    font-family: "Roboto Slab", serif;
    color: #fff;
    text-shadow: 0 -1px 0 #b03c17;
    font-size: 26px;
    line-height: 32px;
     }
     .first-screen_thx__banner .banner__text br {
      display: none;
     }

/************************************************************************
// 7. SECOND SCREEN THX
*************************************************************************/
.second-screen_thx {
  padding-top: 30px;
  overflow: hidden; }

.second-screen_thx__item {
  position: relative;
  border-bottom: 1px dashed #4cb3c0;
  padding-bottom: 30px;
  padding-top: 30px; }
.second-screen_thx__item:first-child {
  display: none;
  }
  .second-screen_thx__item:last-child {
     }
  .second-screen_thx__item .item__left-col {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .second-screen_thx__item .item__left-col .left-col__icon {
      display: block;
      width: 60px;
      height: 60px;
      background: #4cb3c0;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      margin-bottom: 7px; }
      .second-screen_thx__item .item__left-col .left-col__icon svg {
        fill: #276e7b;
        width: 60px;
        height: 65px;
        -webkit-transform: translate(0, 8px);
            -ms-transform: translate(0, 8px);
                transform: translate(0, 8px);
        vertical-align: middle; }
    .second-screen_thx__item .item__left-col .left-col__text {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #333; }
    .second-screen_thx__item .item__left-col .left-col__arrow {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      display: inline-block; }
  .second-screen_thx__item .item__right-col {
    float: right;
    max-width: 672px;
    width: 100%; }
    .second-screen_thx__item .item__right-col .right-col_-wrapper {
      padding-left: 250px;
      position: relative;
      min-height: 152px; }
    .second-screen_thx__item .item__right-col .right-col__container {
      position: absolute;
      top: 0;
      left: 0; }
    .second-screen_thx__item .item__right-col .container__x2 {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 3px solid #3cb3c0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: -30px;
      text-align: right;
      line-height: 40px;
      padding-right: 5px;
      vertical-align: middle; }
      .second-screen_thx__item .item__right-col .container__x2 span {
        font-size: 34px;
        color: #4cb3c0;
        font-family: "Roboto", sans-serif;
        text-align: right;
        position: relative; }
        .second-screen_thx__item .item__right-col .container__x2 span:after, .second-screen_thx__item .item__right-col .container__x2 span:before {
          content: "";
          display: block;
          background: #4cb3c0;
          height: 3px;
          width: 16px;
          position: absolute;
          top: 22px;
          right: 19px; }
        .second-screen_thx__item .item__right-col .container__x2 span:after {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
        .second-screen_thx__item .item__right-col .container__x2 span:before {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
    .second-screen_thx__item .item__right-col .right-col__text {
      color: #333333;
      line-height: 26px;
      font-family: "Roboto Slab", serif;
      display: table-cell;
      height: 152px;
      vertical-align: middle;
      box-sizing: border-box; }

/************************************************************************
// 8. THIRD SCREEN THX
*************************************************************************/
.share-section {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.share__container {
  max-width: 980px;
  width: 100%;
  padding: 40px 30px;
  /* border: 3px solid #4cb3c0; */
  margin: 0 auto;
  border-radius: 3px; }

.share__social {
  vertical-align: top;
  text-align: center;
  width: 100%;
  margin-top: 30px; }
  .share__social ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    position: relative; }
    .share__social ul li a {
      position: absolute;
      top: 4px;
      left: 5px;
      opacity: 0;
      width: 42px;
      height: 42px; }
    .share__social ul li svg {
      fill: #4cb3c0;
      width: 48px;
      height: 48px; }
    .share__social ul li #fb_btn {
      top: 0;
      left: 0; }

.social__title,
.link__title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 30px;
  text-align: center; }

.share__link {
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }
  .share__link .link__body {
    width: 100%;
    height: 42px;
    background: #efefef;
    box-shadow: inset 1px 1px 2px #999999;
    border-radius: 3px;
    line-height: 42px;
    padding-left: 11px;
    position: relative;
    overflow: hidden;
    text-align: left; }
    .share__link .link__body .body__icon {
      display: inline-block;
      margin-right: 6px;
      display: none; }
      .share__link .link__body .body__icon svg {
        vertical-align: middle;
        fill: #666666;
        width: 20px;
        height: 20px; }
    .share__link .link__body .body__text {
      vertical-align: middle;
      font-weight: 400;
      font-size: 25px;
      font-family: "Roboto Slab", serif;
      color: #ff4623;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 15px; }

#twitter-widget-0 {
  width: 42px !important;
  height: 42px !important;
  position: absolute !important;
  top: 6px !important;
  left: 0 !important;
  opacity: 0 !important; }

/*FIRE LOGO! */
.sub-footer-fire{
  display: inline-block;
  height: 45px;
  width: 35px;
  overflow: hidden;
  background-image: url("../img/fire.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position: 0 center;
  padding: 0;
  transition: 1s ease;
  background-size: 200px;
  float: left;
  opacity: .7;
  margin-top: 10px; }
.sub-footer-fire:hover{
  animation-name: fire;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  animation-direction: normal;
  opacity: 1;}

@keyframes fire{
  0%{
    background-position: 0 center;
  }
  25%{
    background-position: -46px center;
  }
  50%{
    background-position: -84px center;
  }
  75%{
    background-position: -128px center;
  }
  100%{
    background-position: -160px center;
  }
}



/* --------------------------------1300------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 1700px) {
  .main-footer.visible #boat_animatiton {
    -webkit-animation-name: boat_to_right_lg;
            animation-name: boat_to_right_lg; } }

@media (max-width: 1400px) {
  .main-footer.visible #boat_animatiton {
    -webkit-animation-name: boat_to_right_md;
            animation-name: boat_to_right_md; } }

@media (max-width: 1300px) {
  .book_col img {
    width: 350px; }
  .header__col.book_col {
    margin-left: 0; } }

@media (max-width: 1100px) {
  .main-footer.visible #boat_animatiton {
    -webkit-animation-name: boat_to_right_sm;
            animation-name: boat_to_right_sm; } }

@media (max-width: 1050px) {
  .first-screen__container {
    background: none;
    padding-top: 90px;
    max-width: 720px;
    width: 100%;
    margin: 0px auto 120px; }
  .container__row:nth-child(1) .row__col:nth-child(1) {
    text-align: left;
    margin-bottom: 40px; }
  .container__row:nth-child(2) {
    padding-top: 40px;
    text-align: left; }
  .first-screen__container .container__figure {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    left: auto;
    right: 40px;
    top: auto;
    bottom: -60px; }
  .first-screen__container .container__figure .figure__arrows svg:nth-child(2) {
    right: -243px;
    top: -20px;
    -webkit-transform: rotate(52deg);
        -ms-transform: rotate(52deg);
            transform: rotate(52deg); }
  .first-screen__container .container__figure .figure__arrows svg:nth-child(1) {
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
    top: -17px;
    left: -73px; }
  .first-screen__container .container__figure .figure__arrows svg:nth-child(3) {
    -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
            transform: rotate(-8deg);
    left: -41px;
    top: 111px; }
  .container__row .row__col .col__header {
    padding-bottom: 15px; } }

/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 1000px) {
  .header__title {
    font-size: 36px;
    line-height: 42px; }
  .header__col.right__col {
    max-width: 455px;
    margin-left: 30px; } }

/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 992px) {
  .second-screen__container {
    margin-top: 90px; }
  .second-screen__container .container__item {
    float: none;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 60px;
    position: relative;
    padding-left: 200px;
    text-align: left; }
    .second-screen__container .container__item br {
      display: none; }
  .second-screen__container .container__item .item__icon {
    position: absolute;
    left: 0;
    top: -50px; }
  .second-screen__container .container__item .icon_boat {
    top: -60px; }
  .second-screen__container .container__item .item__text {
    margin-top: 10px; }
  .second-screen__container .container__item:nth-child(2),
  .second-screen__container .container__item:nth-child(3) {
    margin-bottom: 35px; }
  .second-screen {
    padding-bottom: 0; }
  .second-screen_thx__item .item__right-col {
    max-width: 520px; } }

/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 950px) {
  .main-header {
    padding-bottom: 120px; }
  .icon-zmi {
    top: 70px;
    right: 0; }
  .icon-header_arrow {
    top: 111px;
    right: 65px;
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg);
    -webkit-animation-name: rotate_arrow_adaptive;
            animation-name: rotate_arrow_adaptive; }
  .first-screen {
    padding-top: 50px; }
  .social__container {
    margin-left: 10%; }
  .share__link {
    /* max-width: 58%; */ }
    .share__link .link__body {
      overflow: hidden;
      position: relative; }
  .share__link .link__body .body__text {
    position: absolute;
    top: 0;
    left: 40px;
    white-space: nowrap; } }

/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 850px) {
  .book_col img {
    width: 300px; }
  .header__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px; }
  .header__list {
    font-size: 20px;
    margin-bottom: 35px; }
    .header__list li {
      margin-bottom: 20px; }
  .header__description {
    font-size: 20px; }
  .header__col.right__col {
    max-width: 375px; } }

@media (max-width: 800px) {
  .foote-col {
    max-width: 300px;
    width: 100%; }
  .foote-col .footer__text {
    margin-top: 15px;
    font-size: 20px;
    line-height: 26px; }
  .main-footer.visible #boat_animatiton {
    -webkit-animation-name: boat_to_right_xs;
            animation-name: boat_to_right_xs;
    -webkit-animation-duration: 10s;
            animation-duration: 10s; }
  .foote-col .footer__title {
    font-size: 36px; }
  .second-screen_thx__item .item__right-col {
    max-width: none; }
  .second-screen_thx__item {
    padding-top: 120px; }
  .second-screen_thx__item .item__left-col {
    top: 20px;
    left: 40px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
    .second-screen_thx__item .item__left-col br {
      display: none; }
  .second-screen_thx__item .item__left-col .left-col__arrow {
    display: none; }
  .second-screen_thx {
    padding-top: 50px; }
  .share__link {
    float: none;
    max-width: 100%;
    margin-top: 20px; }
  .first-screen_thx__banner br {
    display: none; } }

/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 720px) {
  .book_col img {
    width: 250px; }
  .header__col.book_col {
    width: 100%; }
  .header__col.right__col {
    margin-left: 0; }
  .button__container {
    display: block;
    margin: 0 auto; }
  .first-screen__container .container__figure .figure__arrows {
    display: none; }
  .container__row .row__col {
    display: block;
    max-width: 435px; }
  .container__row:nth-child(1) .row__col:nth-child(2) {
    float: none; }
  .first-screen__container {
    padding-top: 360px;
    max-width: 435px;
    margin-bottom: 75px; }
  .first-screen__container .container__figure {
    bottom: auto;
    top: 70px;
    right: auto;
    left: 10px; } }

/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 675px) {
  .foote-col {
    max-width: none;
    width: 100%; }
    .foote-col:nth-child(1) {
      max-width: 390px;
      margin: 0 auto;
      float: none; }
    .foote-col:nth-child(2) {
      min-height: 425px;
      position: relative; }
    .foote-col .footer__form {
      margin-top: 0;
      top: 30px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
  .main-footer {
    background: #64ACCF url("../img/svg/footer_bg.svg") no-repeat 50% 100%;
    background-size: auto 550px; }
  .main-footer.visible #boat_animatiton {
    -webkit-animation-name: none;
            animation-name: none;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    bottom: 40px; }
  .lsg {
    float: none;
    display: block;
    text-align: center; }
  .social__container {
    float: right;
    margin-left: 0; } }

@media (max-width: 600px) {
  .first-screen__text {
    text-align: left; }
  .header_thx__title {
    font-size: 36px; }
  .header_thx {
    text-align: left; }
  .first-screen_thx__item .item__text br {
    display: none; }
  .first-screen_thx__item .item__icon {
    display: none; }
  .first-screen_thx__item {
    padding-left: 0; }
  .second-screen_thx__item .item__left-col br {
    display: block; }
  .second-screen_thx__item {
    padding-top: 180px; }
    .second-screen_thx__item:nth-child(2), .second-screen_thx__item:nth-child(1) {
      padding-top: 120px; }
  .second-screen_thx .site-wrapper {
    padding-left: 0; }
  .second-screen_thx__item .item__right-col .right-col_-wrapper {
    padding-left: 227px; } }

/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 500px) {

  .main-header {
    padding-left: 15px;
    padding-right: 15px; }
  .first-screen {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px; }
  .first-screen__container .container__figure {
    left: 10%; }
  .second-screen__title {
    font-size: 34px;
    line-height: 42px; }
  .second-screen__container .container__item {
    max-width: 300px;
    padding-left: 0;
    padding-bottom: 0;
    text-align: center; }
  .second-screen__container .container__item .item__icon {
    position: static; }
  .second-screen {
    padding-bottom: 60px; }
  .second-screen__container {
    margin-top: 55px; }
  .footer__bottom-line {
    min-height: 173px;
    position: relative; }
  .policy__container {
    position: absolute;
    bottom: 13px;
    width: 300px;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .lsg {
    position: absolute;
    bottom: 75px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .social__container {
    display: block;
    text-align: center;
    float: none; }
  .main-footer {
    background-size: auto 700px; }
  .main-footer.visible #boat_animatiton {
    bottom: 110px; }
  .share__container {
    padding: 30px 15px; }
  .share__link .link__body .body__icon {
    display: none; }
  .share__link .link__body .body__text {
    left: 10px; }
  .social__title, .link__title {
    line-height: 26px;
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400; 
  }
  .second-screen_thx__item .item__right-col .right-col_-wrapper {
    padding-left: 5px;
    padding-top: 145px;
    margin-bottom: 35px; }
  .second-screen_thx .site-wrapper {
    padding-left: 15px; }
  .second-screen_thx__item .item__right-col .right-col__text {
    display: block;
    height: auto; }
  .second-screen_thx__item .item__right-col .right-col__container {
    left: -25px; }
  .second-screen_thx__item .item__left-col {
    left: 15px; }
  .first-screen_thx__banner {
    padding: 20px 15px;
    background-position: 93% 50%; }
  .first-screen_thx__banner .banner__text {
    font-size: 18px;
    line-height: 26px; } }

/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 420px) {
  .foote-col .footer__form {
    padding-top: 60px; }
  .footer__form .form__container {
    margin-bottom: 45px; }
  .footer__form .form__container label {
    top: -25px;
    left: 0; }
  .footer__form .form__container input {
    width: 100%; }
  .footer__form .form__container .form__icon {
    left: 13px; }
  .footer__form .form__container .help-block {
    width: 100%; }
  .foote-col:nth-child(2) {
    min-height: 615px; }
  .footer__form .form__container:nth-child(3),
  .footer__form .form__container:nth-child(4) {
    margin-bottom: 10px; }
  .footer__form .form__text {
    width: 100%; } }

@media (max-width: 400px) {
  .header__col img {
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px); }
  .first-screen__container .container__figure {
    margin-left: 0; }
  .first-screen__container {
    overflow: hidden; } }
