/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 1008px) {
	.header__col {
		width: 40%;
		&:nth-child(1) {
			width: 85px;
		}
		&:nth-child(2) {
			margin-left: 8%;
		}
	}
	.button__container .key__btn {
		margin-left: 26px;
		margin-right: 26px;
	}
	.button__container {
		width: 100%;
		margin-bottom: 40px;
	}
	.button__container .key__btn  {
		margin-top: 15px;
		margin-left: 0;
		margin-right: 0;
	}
	.button__container .luck__btn {
		margin-top: 0;
	}
}
/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 950px) {
	.social__container {
		margin-left: 20%;
	}
}
/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 900px) {
	.form__wrapper {
		padding-right: 255px;
		max-width: 630px;
	}
}
/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 850px)  {
	.header__col {
		&:nth-child(2),
		&:nth-child(3) {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			margin-left: 0;
			width: 330px;
		}
		&:nth-child(2) {
			top: 100px;
		}
	}
	.third-section {
		padding-bottom: 80px;
	}
	.first-screen__title {
		margin-top: 170px;
	}
}
@media (max-width: 800px) {
	.social__container {
		margin-left: 5%;
	}
}
/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 720px) {
	.first-screen__container {
		width: 100%;
	}
	.first-screen__container .container__item {
		width: 240px;
		float: none;
		display: inline-block;
	}
	.second-screen {
		padding-top: 60px;
	}
}
/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 675px) {
	.third-section__container .bottom__text {
		left: 220px;
		bottom: 10px;
		transform: rotate(-6deg);
	}
	.third-section__container .bottom_arrow {
		transform: translate(-9px, 12px) rotate(65deg);
	}
	.third-section__container .container__subtitle {
		max-width: 250px;
	}
	.third-section__container {
		display: inline-block;
		max-width: none;
		width: auto;
	}
}
@media (max-width: 650px) {
	.lsg {
		display: block;
		width: 100%;
		text-align: center;
	}
	.social__container {
		margin-left: 0;
		float: right;
	}
	.ribbon {
		top: 78px;
		right: 0px;
		&:before {
			left: 98px;
			top: -5px;
		}
	}
	.form__wrapper {
		padding-right: 60px;
		max-width: 507px;
	}
	.form__screen {
		&:nth-child(4) {
			.btn__form {
				width: 200px;
			}
			.ribbon {
				width: 170px;
			}
		}
	}
}
@media (max-width: 600px) {
	.first-screen__title {
		font-size: 60px;
		line-height: 68px;
	}
	.second-screen__title {
		font-size: 36px;
		line-height: 44px;
	}
}
/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 515px) {
	.first-screen__container .container__item {
		margin-bottom: 50px;
	}
	.form__wrapper {
		padding-right: 0;
	}
}
@media (max-width: 500px) {
	.header__col:nth-child(1) {
		margin: 0 auto;
		float: none;
	}
	.header__col:nth-child(3) {
		top: 145px;
		width: 290px;
	}
	.header__col:nth-child(2) {
		top: 215px;
		padding-bottom: 100px;
		overflow: hidden;
		width: 330px;
	}
	.header__icon.icon_text {
		bottom: -8px;
	}
	.header__icon.icon_arrow {
		top: 75px;
		bottom: auto;
	}
	.header__text {
		margin-left: 0;
	}
	.main-header {
		padding-bottom: 150px;
	}
	.third-section__container {
		padding-top: 80px;
		position: relative;
		padding-bottom: 80px;
	}
	.third-section__container .container__subtitle {
		position: absolute;
		top: 0;
		left: 0;
	}
	.third-section__container .bottom__text {
		left: 0;
	}
	.container__subtitle {
		display: initial;
		text-align: right;
	}
	.main-footer {
		height: 196px;
		padding-top: 60px;
	}
	.policy__container {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
		bottom: 13px;
		width: 250px;
	}
	.social__container {
		position: absolute;
		top: 13px;
		left: 50%;
		transform: translate(-50%, 0 );
	}
	.lsg {
		display: block;
		width: 100%;
		text-align: center;
	}
}
/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 450px) {
	.ribbon {
		top:15px;
		position: relative;
	}
	.form__screen {
		padding-right: 15px;
	}
	.form__screen.error__input .ribbon {
		width: 250px;
	}
	.ribbon:before {
		left: 17px;
	}
}
@media (max-width: 400px) {
	.header__phone {
		font-size: 36px;
		margin-left: 0;
	}
	.header__icon {
		bottom: -106px;
		left: -13px;
	}
	.header__icon.icon_arrow {
		width: 42px;
		height: 34px;
		display: block;
		overflow: hidden;
		left: -19px;
		transform: rotate(-116deg);
		top: 57px;
		svg {
			width: 74px;
			height: 42px;
			position: absolute;
			top: 0;
			left: -50px;
		}
	}
	.header__col:nth-child(2) {
		width: 290px;
	}
	.button__container button {
		width: 300px;
	}
	.thx-page {
		.thx__title {
			font-size: 48px;
		}
	}
}