/************************************************************************
// 1. HEADER
*************************************************************************/
.main-page {
	background: url('../img/bg.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
.main-header {
	padding-top: 30px;
}
.header__col {
	float: left;
	width: 33.33%;
	position: relative;
}
.header__logo {
	width: 75px;
	height: 83px;
	margin-left: 5px;
}
.header__phone {
	font-family: $roboto;
	font-size: 40px;
	color: #fff;
	margin-top: 19px;
	margin-left: 37px;
	text-shadow: 0 -1px 0 #030303;
}
.header__icon {
	position: absolute;
	bottom: -94px;
	left: 46px;
	transform: rotate(-6deg);
	&.icon_arrow {
		fill:#91d6ff;
		width: 73px;
		height: 22px;
		transform: rotate(-106deg);
		bottom: -32px;
		left: -10px;
	}
}
.header__text {
	font-size: 18px;
	line-height: 23px;
	color: #fff;
	font-weight: 300;
	font-family: $roboto;
	margin-top: 19px;
	margin-left: 45px;
	text-shadow: 0 -1px 0 #030303;
}
/************************************************************************
// 2. FIRST SCREEN
*************************************************************************/
.first-screen {
	text-align: center;
}
.first-screen__title {
	color: #fff;
	font-family: $slab;
	font-size: 72px;
	text-shadow: 0 -1px 0 #030303;
	margin-top: 98px;
	letter-spacing: 2px;
	span {
		color: #ff5858;
	}
}
.first-screen__container {
	width: 460px;
	margin: 0 auto;	
	margin-top: 46px;
	text-align: center;
	color: #fff;
	.container__item {
		width: 50%;
		float: left;
		.item__board {
			width: 61px;
			height: 72px;
			display: inline-block;
			box-shadow: 0 3px 0 #8499a4;
			border-radius: 3px;
			background: linear-gradient( to top, #c8d3d8, #fff 18%, #e1e7ea);
			position: relative;
			z-index: 1;
			line-height: 72px;
			&:after {
				content:"";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 50%;
				width: 100%;
				background: linear-gradient( to top, #c8d3d8, #fff 18%, #e1e7ea);
				z-index: 2;
			}
			span {
				font-size: 72px;
				color: #002b40;
				font-family: $slab;
				font-weight: 700;
				position: relative;
				z-index: 3;
				vertical-align: 40px;
			}
		}
		.item__text {
			font-family: $roboto;
			font-size: 20px;
			font-weight: 300;
			color: #fff;
			margin-top: -5px;
			transform: translate(0, -8px);
		}
	}
}
/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-screen {
	padding-top: 60px;
	text-align: center;
}
.second-screen__title {
	font-family: $roboto;
	font-size: 48px;
	color: #28aeff;
	font-weight: 300;
	text-shadow: 0 -1px 0 #76cbff;
	margin-bottom: 49px;
}
.button__container {
	display: inline-block;
	vertical-align: top;
	.container__text {
		font-size: 17px;
		font-weight: 300;
		font-family: $roboto;
		color: #fff;
		line-height: 24px;
		margin-top: 16px;
	}
	button {
		width: 308px;
		height: 56px;
		border:none;
		text-transform: uppercase;
		font-size: 20px;
		font-family: $roboto;
		font-weight: 500;
		color: #fff;
		border-radius: 3px;
		cursor: pointer;
		position: relative;
		z-index: 2;
		span {
			position: relative;
			z-index: 3;
		}
	}
	.container__icon {
		display: block;
		position: absolute;
		z-index: 3;
		top: 10px;
		left: 16px;
		svg {
			width: 38px;
			height: 38px;
			fill:#337eb6;
			-webkit-filter: drop-shadow(0 -2px 0 #002c4f); 
			filter: drop-shadow(0 -2px 0 #002c4f);
		}
	}
	.luck__btn,
	.video__btn {
		text-shadow: 0 -1px 0 #002441;
		background: linear-gradient(to top, #002441, #004275);
		box-shadow: 0 3px 0 #003a68;
		transition: transform 0.3s ease,
		box-shadow 0.3s ease;
		&:after {
			content:"";
			display: block;
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;top: 0;
			left: 0;
			background: linear-gradient(to top, #004275 , #00598b);
			border-radius: 3px;
			opacity: 0;
			transition: opacity 0.3s linear;
		}
		&:hover {
			z-index: 1;
			box-shadow: 0 1px 0 #003a68;
			transform: translate(0, 2px);
			&:after {
				opacity:2;
			}
		}
		&:active {
			box-shadow: 0 0 0 #003a68;
			transform: translate(0, 3px);
		}
	}
	.luck__btn {
		.container__icon svg{
			width: 34px;
			height:35px;
		}
	}
	.key__btn {
		text-shadow: 0 -1px 0 #b95300;
		background: linear-gradient(to top, #ff7d00, #ff6600);
		box-shadow: 0 5px 0 #c75900;
		margin: 0 23px;
		transition: transform 0.3s ease,
		box-shadow 0.3s ease;
		.container__icon {
			svg {
				fill: #ffa34e;
				-webkit-filter: drop-shadow(0 -2px 0 #c45800); 
				filter: drop-shadow(0 -2px 0 #c45800);
			}
		}
		&:after {
			content:"";
			display: block;
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;top: 0;
			left: 0;
			background: linear-gradient(to top, #ff6600 , #ff7d00);
			border-radius: 3px;
			opacity: 0;
			transition: opacity 0.3s linear;
		}
		&:hover {
			z-index: 1;
			box-shadow: 0 3px 0 #c75900;
			transform: translate(0, 2px);
			&:after {
				opacity:2;
			}
		}
		&:active {
			box-shadow: 0 0 0 #c75900;
			transform: translate(0, 5px);
		}
	}
}
/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.third-section {
	padding-top: 170px;
	padding-bottom:25px;
	color: #fff;
	text-align: center;
}
.third-section__container {
	position: relative;
	display: inline-block;
	text-align: left;
	max-width: 700px;
	width: 100%;
	img {
		float: left;
		margin-right: 20px;
		margin-top: 15px;
	}
	.container__subtitle {
		font-family: $roboto;
		font-style: italic;
		font-weight: 300;
		font-size: 20px;
		line-height: 28px;
	}
	.container__title {
		font-family: $roboto;
		font-weight: 300;
		font-size: 40px;
		margin-top: 17px;
	}
	.container__icon {

	}
	.bottom_arrow {
		display: inline-block;
		transform: translate(0, 5px);
	}
	.bottom__text {
		position: absolute;
		left: 432px;
		bottom: 60px;
		display: block;
		transform: rotate(5deg);
		svg {
			fill:#91d6ff;
		}
	}
}
/************************************************************************
// 4. FOOTER SCREEN
*************************************************************************/
.main-footer {
	padding-top: 20px;	
	padding-bottom: 20px;	
	position: relative;	
	z-index: 1;	
	background: #001d2e;
}
.policy__container {
	display: inline-block;
	vertical-align: middle;
	a {
		display: inline-block;
		vertical-align: middle;
		font-family: $roboto;
		font-size: 16px;
		text-decoration: underline;
		color: #004d85;
		margin-right: 5px;
		svg {
			width: 50px;
			height: 50px;
			fill:#004d85;
			transition: transform 1s ease;
			&:hover {
				transform:rotate(360deg);
				transition: transform 1s ease;
			}
		}
	}
}
.social__container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 270px;
	a {
		display: inline-block;
		width: 45px;
		height: 45px;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
		border:2px solid #004d85;
		margin-left: 5px;
		transition: border 0.3s linear;
		svg {
			fill:#004d85;
			width: 25px;
			height: 25px;
			margin-top: 8px;
			transition: fill 0.3s linear;
		}
		&:hover {
			border-color: #fff;
			svg {
				fill:#fff;
			}
		}
	}
}
.lsg {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: 12px;
	svg {
		vertical-align: middle;
		width: 90px;
		height: 29px;
	}
}
/************************************************************************
// 5. POPUP SCREEN
*************************************************************************/
.popup_form	 {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -99;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url('../img/bg.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	transition: opacity 0.2s linear;
	&.visible {
		opacity: 1;
		z-index: 99;
	}
}
.form__wrapper {
	padding-left: 60px;
	max-width: 375px;
	width: 100%;
	margin: 0 auto;
	transition: transform 0.4s ease;
}
.key__form {
	max-width: 390px;
	width: 100%;
	display: block;
}
.form__screen {
	position: relative;
	margin-bottom: 120px;
	transition: opacity 0.5s ease;
	.screen__number {
		font-size: 24px;
		font-family: $roboto;
		color: #fff;
		font-weight: 400;
		position: absolute;
		left: -55px;
		top: 5px;
	}
	.screen__arrow {
		display: inline-block;
		height: 2px;
		width: 18px;
		background: #fff;
		position: relative;
		line-height: 10px;
		vertical-align: 8px;
		&:before, &:after {
			content:"";
			display: block;
			background: #fff;
			height: 2px;
			width: 10px;
			position: absolute;
			right: -2px;
		}
		&:before {
			transform: rotate(45deg);
			top: -3px;
		}
		&:after {
			transform: rotate(-45deg);
			top: 3px;
		}
	}
	.screen__title {
		color: #79b0d9;
		font-size: 30px;
		font-weight: 300;
		font-family: $slab;
	}
	.input__container {
		position: relative;
		input {
			display: block;
			box-sizing: border-box;
			width: 100%;
			height: 48px;
			padding-left: 10px;
			padding-right: 0;
			margin-top: 30px;
			font-family: $roboto;
			font-weight: 300;
			font-size: 24px;
			color: #fff;
			border:none;
			background-color: transparent;
			border-bottom: 2px dashed #7290a2;
		}
	}
	.screen__btn {
		
	}
	.btn_ok, 
	.btn__form {
		height: 48px;
		width: 104px;
		border:none;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 20px;
		font-family: $roboto;
		font-weight: 400;
		color: #fff;
		border-radius: 3px;
		position: relative;
		z-index: 2;
		background: linear-gradient(to top, #002441, #004275);
		box-shadow: 0 3px 0 #003a68;
		margin-top: 30px;
		transition: transform 0.3s ease, box-shadow 0.3s ease; 
		span {
			position: relative;
			z-index: 3;
			vertical-align: -15px;
			margin-left: 12px;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 3px;
			opacity: 0;
			background: linear-gradient( to top,  #004275, #00598b);
			transition: opacity 0.3s ease;
		}
		&:hover {
			z-index: 1;
			box-shadow: 0 1px 0 #003a68;
			transform: translate(0, 2px);
			&:after {
				opacity: 1;
			}
		}
		&:active {
			z-index: 1;
			box-shadow: 0 0px 0 #003a68;
			transform: translate(0, 3px);
		}
		svg {
			vertical-align: -17px;
			margin-left: 15px;
			fill:#337eb6;
			width: 28px;
			height: 21px;
			-webkit-filter: drop-shadow(0 -2px 0 #002c4f);
    		filter: drop-shadow(0 -2px 0 #002c4f);
    		position: relative;
    		z-index: 3;
		}
	}
	.btn__form {
		width: 230px;
		span {
			vertical-align: -2px;
		}
		svg {
			vertical-align: -7px;
			margin-left: -2px;
		}
	}
	.screen__enter {
		color: #337eb6;
		font-size: 16px;
		font-family: $roboto;
		font-weight: 300;
		vertical-align: -14px;
		margin-left: 15px;
	}
}
.form__screen {
	&:nth-child(4) {
		.screen__enter {
			vertical-align:0px;
		}
	}
}
.form__screen.not_visible {
	opacity: 0;
}
.form__screen.transparent {
	opacity: 0.2;
}
