/************************************************************************
// 
*************************************************************************/
.ribbon {
	display: block;
	position: absolute;
	background: #af5564;
	width: 210px;
	padding: 15px 15px;
	font-family: $roboto;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	font-weight: 300;
	border-radius: 4px;
	right: -250px;
	top: 0;
	opacity: 0;
	transition: opacity 0.4s linear;
	text-align: left;
	&:before {
		content:"";
		display: block;
		position: absolute;
		background: #af5564;
		z-index: -1;
		width: 15px;
		height: 15px;
		transform: rotate(45deg);
		left: -5px;
		top: 15px;
	}
}
.form__screen.error__input {
	input {
		border: 2px dashed #af5564;
		border-radius: 5px;
	}
	.screen__title {
		color: #fff;
		transition: color 0.2s ease;
	}
	.ribbon {
		opacity: 1;
	}
}
.btn__close {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 18px;
	font-family: $roboto;
	font-weight: 400;
	color: #79b0d9;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid #79b0d9; 
	padding: 10px 30px 12px 30px;
	z-index: 99;
	span {
		
	}
	.close__arrow {
		display: inline-block;
		height: 2px;
		width: 18px;
		background: #79b0d9;
		position: relative;
		vertical-align: 4px;
		&:after, &:before {
			content:"";
			display: block;
			background: #79b0d9;
			height: 2px;
			width: 10px;
			position: absolute;
		}
		&:after {
			transform: rotate(45deg) translate(0.5px, 3.5px);
		}
		&:before {
			transform: rotate(-45deg) translate(0.5px, -3.5px);
		}
	}
}



.thx__title {
	font-size: 55px;
	text-shadow: 0 -1px 0 #030303;
	margin-top: 200px;
	color: #fff;
	font-family: $slab;
	&.luck {
		font-size: 36px;
		line-height: 42px;
		font-weight: 300;
	}
}
.thx__text {
	color: #fff;
	font-family: $slab;
	text-shadow: 0 -1px 0 #030303;
	font-size: 20px;
	line-height: 26px;
	font-weight: 300;
	margin-top:70px;
}
.thx-page {
	position: relative;
	min-height: 100vh;
	padding-bottom: 300px;
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}