$slab : 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
body {
	overflow-x: hidden;
	min-width: 320px;
}
.fz_title {
	font-size: 42px;
	line-height: 56px;
	font-weight: 400;
}
.fz_title_40 {
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
}
.fz_mid {
	font-size: 24px;
	font-weight: 300;
	line-height: 28px;
}
.fz_mid_reg {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}
.fz_sm {
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
}
.fz_sm_reg {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}
.fz_xs {
	font-size: 18px;
	font-weight: 300;
}
.pp {
	width: 100%;
	position: absolute;
	top: 0px;
	opacity: 0.6;
	display: none;
	z-index: 55;
	img {
		display: block;
		position: absolute;
		left: 50%;
		transform:translate(-50%, 0);
		width: 100%;
	}
}
.site-wrapper {
	max-width: 1008px;
	width: 100%;
	margin: 0 auto;
	padding: 0 14px;
}
.clear-fix:after {
  content:"";
  display:table;
  clear:both;
}