/* --------------------------------1300------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 1300px) {
	.book_col {
		img {
			width: 350px;
		}
	}
	.header__col.book_col {
		margin-left: 0;
	}
	.main-header {
		padding-bottom: 65px;
	}
}

@media (max-width: 1050px) {
	.first-screen__container {
		background: none;
		padding-top: 50px;
		max-width: 720px;
		width: 100%;
		margin: 0px auto 40px;
	}
	.container__row:nth-child(1) .row__col:nth-child(1) {
		text-align: left;
		margin-bottom: 40px;
	}
	.container__row:nth-child(2) {
		padding-top: 40px;
		text-align: left;
	}
	.first-screen__container .container__figure {
		transform: translate(0);
		left: auto;
		right: 40px;
		top: auto;
		bottom: -60px;
	}
	.first-screen__container .container__figure .figure__arrows svg:nth-child(2) {
		right: -243px;
		top: -20px;
		transform: rotate(52deg);
	}
	.first-screen__container .container__figure .figure__arrows svg:nth-child(1) {
		transform: rotate(15deg);
		top: -17px;
		left: -73px;
	}
	.first-screen__container .container__figure .figure__arrows svg:nth-child(3) {
		transform: rotate(-8deg);
		left: -41px;
		top: 111px;
	}
	.container__row .row__col .col__header {
		padding-bottom: 15px;
	}
}
/* --------------------------------1010------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 1000px) {
	.header__col.right__col {
		max-width: 411px;
	}
	.header__title_big {
		font-size: 38px;
		line-height: 42px;
	}
	.second-screen__container {
		max-width: 720px;
		width: 100%;
		margin: 0 auto;
		padding-top: 60px;
	}
	.second-screen__container .container__dashed {
		display: none;
	}
	.second-screen__container .container__row:nth-child(1) .row__item:nth-child(1) {
		text-align: left;
	}
	.second-screen__container .container__row .row__item {
		max-width: 340px;	
	}
	.second-screen__container .container__figure {
		bottom: 30px;
		right: 0;
		left: auto;
		top: auto;
		transform: none;
		width: 320px;
		height: 320px;
	}
	.second-screen__container .container__row .row__item .item__icon {
		right: 130px;
		top: 10px;
	}
	.second-screen__container .container__row:nth-child(1) .row__item:nth-child(2) .item__icon {
		left: 70px;
	}
	.second-screen__container .container__row:nth-child(2) .row__item {
		max-width: 320px;
		margin-left: 0;
		.item__icon {
			left: 14px;
			top: -40px;
		}
	}
	.second-screen__container .figure__boat {
		width: 120px;
		bottom: 9px;
		left: 103px;
	}
	.container__row:nth-child(2) {
		padding-top: 85px;
	}
	.second-screen {
		padding-bottom: 60px;
	}
	.thx-page .top-banner {
		padding: 45px 30px;
	}
	.thx-page .top-banner__col:nth-child(1) {
		float: none;
		margin-right: 0;
		text-align: center;
	}
	.thx-page .top-banner__col .col__title {
		margin-bottom: 15px;
	}
	.thx-page .thx-header__text {
		width: 60%;
		float: left;
	}
	.thx-page .book {
		width: 40%;
		margin-left: 0;
	}
	.second-screen_thx__container .container__col:nth-child(2) {
		width:55%;
	}
	.sixth-screen_thx__item {
		max-width: 48%;
	}
}
/* --------------------------------992------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */	
@media (max-width: 992px) {
	.second-screen__container .container__item {
		float: none;
		margin: 0 auto;
		max-width: 600px;
		width: 100%;
		margin-bottom: 50px;
		padding-bottom: 60px;
		position: relative;
		padding-left: 200px;
		text-align: left;
		br {
			display: none;
		}
	}
	.second-screen__container .container__item .item__icon {
		position: absolute;
		left: 0;
		top: -50px;
	}
	.second-screen__container .container__item .icon_boat {
		top: -60px;
	}
	.second-screen__container .container__item .item__text {
		margin-top: 10px;
	}
	.second-screen__container .container__item:nth-child(2),
	.second-screen__container .container__item:nth-child(3) {
		margin-bottom: 35px;
	}
	.second-screen_thx__item .item__right-col {
		max-width: 520px;
	}
}
/* --------------------------------900------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 950px) {
	.icon-zmi {
		top: 70px;
		right: 0;
	}
	.icon-header_arrow {
		top: 111px;
		right: 65px;
		transform: rotate(40deg);
		animation-name: rotate_arrow_adaptive;
	}
	.first-screen {
		padding-top: 50px;
	}
	.social__container {
		margin-left: 10%;
	}
	.share__link {
		max-width:58%; 
		.link__body {
			overflow: hidden;
			position: relative;
		}
	}
	.share__link .link__body .body__text {
		position: absolute;
		top: 0;
		left: 40px;
		white-space: nowrap;
	}
}
@media (max-width: 900px) {
	.fifth-screen_thx__item {
		max-width: 500px;
		width: 100%;
		margin-bottom: 60px;
	}
	.fifth-screen_thx__item .item__title {
		margin-bottom: 20px;
	}
}
/* --------------------------------800------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 850px)  {
	.book_col img {
		width: 300px;
	}
	.header__col.right__col {
		max-width: 375px;
	}
	.third-screen_thx__container .container__item {
		width: 50%;
		margin-bottom: 50px;
	}
	.third-screen_thx {
		padding-bottom: 50px;
	}
}
@media (max-width: 800px) {
	.foote-col .footer__text {
		margin-top: 15px;
		font-size: 20px;
		line-height: 26px;
	}
	.main-footer.visible {
		#boat_animatiton {
			animation-name: boat_to_right_xs;
			animation-duration: 10s;
		}
	}
	.second-screen_thx__item .item__right-col {
		max-width: none;
	}
	.second-screen_thx__item {
		padding-top:120px;
		&:nth-child(2),
		&:nth-child(1) {
		
		}
	}
	.second-screen_thx__item .item__left-col {
		top: 20px;
		left: 40px;
		transform: translateY(0);
		br {
			display: none;
		}
	}
	.second-screen_thx__item .item__left-col .left-col__arrow {
		display: none;
	}
	.second-screen_thx {
		padding-top: 80px;
	}
	.share__link {
		float: none;
		max-width: 100%;
		margin-top: 20px;
	}
	.first-screen_thx__banner {
		br {
			display: none;
		}
	}
	.first-screen__container .container__list {
		max-width: 440px;
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.first-screen__container .container__list li {
		margin-bottom: 20px;
		min-height: auto;
	}
	.foote-col .footer__title,
	.foote-col .footer__text {
		font-size: 20px;
		font-weight: 300;
	}
	.foote-col:nth-child(1) {
		max-width: 280px;
		margin-right: 10px;
	}
	.foote-col:nth-child(2)  {
		max-width: none;
		min-width: 390px;	
	}
	.second-screen_thx__container .container__col {
		width: 35%;
	}
	.second-screen_thx__container .container__col:nth-child(2) {
		
	}
	.sixth-screen_thx__item {
		max-width:480px ;
		margin-bottom: 70px;
	}
	.sixth-screen_thx__item .item__title {
		margin-bottom: 15px;
	}
}
/* --------------------------------700------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 750px) {
	.thx-page .thx-header__text p:nth-child(2) span {
		white-space: normal;
		br {
			display: block;
		}
	}
	.thx-page .thx-header__text p:nth-child(2) span .svg__container {
		svg {
			width: 380px;
		}
	}
}
@media (max-width: 720px) {
	.book_col img {
		width: 250px;
	}
	.header__col.book_col {
		width: 100%;
	}
	.header__col.right__col {
		margin-left: 0;
	}
	.button__container {
		display: block;
		margin: 0 auto;
	}

	.first-screen__container .container__figure .figure__arrows {
		display: none;
	}
	.container__row .row__col {
		display: block;
		max-width: 435px;
	}
	.container__row:nth-child(1) .row__col:nth-child(2) {
		float: none;
	}
	.first-screen__container .container__figure {
		bottom: auto;
		top: 70px;
		right: auto;
		left: 10px;
	}
	.header__title {
		margin-bottom: 20px;
	}
	.button__container {
		margin-left: 0;
	}
	.second-screen__container .container__row:nth-child(1) .row__item:nth-child(1) {
		max-width: 500px;
		float: none;
		margin: 0 auto;
		margin-bottom: 30px;
		.item__icon {
			right: 50%;
			transform: translate(50%);
		}
	}
	.second-screen__container .container__row:nth-child(1) .row__item:nth-child(2) {
		max-width: 500px;
		float: none;
		margin: 0 auto;
		margin-bottom: 30px;
		.item__icon {
			right: 50%;
			transform: translate(50%);
		}
		br {
			display: none;
		}
	}
	.second-screen__container .container__row .row__item .item__title {
		margin-bottom: 10px;
	}
	.second-screen__container .container__figure {
		display: none;
	}
	.second-screen__container .container__row:nth-child(2) .row__item {
		max-width: 500px;
		float: none;
		margin: 0 auto;
		margin-bottom: 30px;
		.item__icon {
			right: 54%;
			left: auto;
			transform: translate(50%);
		}
	}
	.foote-col:nth-child(1), 
	.foote-col:nth-child(2)  {
		max-width: 390px;
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	.footer__form {
		margin-top: 25px;
	}
	.second-screen_thx__container .container__col {
		float: none;
		margin: 0 auto;
		width: 200px;
	}
	.second-screen_thx__container .container__col:nth-child(2) {
		width: 100%;
		margin-left: 0;
		padding: 0px 20px;
		margin-top: 30px;
	}
	.second-screen_thx {
		padding-bottom: 20px;
	}
}
/* ----------------------------650 - 600----------------------------------- */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------ */
@media (max-width: 675px) {
	.foote-col {
		max-width: none;
		width: 100%;
		&:nth-child(1) {
			max-width:390px;
			margin: 0 auto;
			float: none;
		}
		&:nth-child(2) {
			min-height:425px;
			position: relative;
		}

	}
	.main-footer {
		background: #64ACCF  url("../img/svg/footer_bg.svg") no-repeat 50% 100%;
		-webkit-background-size: auto 550px;
		background-size: auto 550px;
	}
	.main-footer.visible {
		#boat_animatiton {
			animation-name: none;
			animation-duration: 10s;
			bottom: 40px;
		}
	}
	.lsg {
		float: none;
		display: block;
		text-align: center;
	}
	.social__container {
		float: right;
		margin-left: 0;
	} 
	.first-screen__container {
		padding-top: 30px;
	}

}
@media (max-width: 640px) {
	.thx-page .thx-header__text p:nth-child(2) span .svg__container svg {
		width: 265px;
	}
}
@media (max-width: 600px) {
	.first-screen__text {
		text-align: left;
	}
	.header_thx__title {
		font-size: 36px;
	}
	.header_thx {
		text-align: left;
	}
	.first-screen_thx__item .item__text {
		br {
			display: none;
		}
	}
	.first-screen_thx__item .item__icon {
		display: none;
	}
	.first-screen_thx__item {
		padding-left: 0;
	}
	.second-screen_thx__item .item__left-col {
		br {
			display: block;
		}
	}
	.second-screen_thx__item {
		padding-top:180px;
		&:nth-child(2),
		&:nth-child(1) {
			padding-top: 120px;
		}
	}
	.second-screen_thx {
		.site-wrapper {
			padding-left: 0;
		}
	}
	.second-screen_thx__item .item__right-col .right-col_-wrapper {
		padding-left: 227px;
	}
	.thx-header__container {
		position: relative;
		padding-bottom: 10px;	
	}
	.thx-page .thx-header__text {
		width: 100%;
		float: none;
	}
	.thx-page .book {
		float: none;
		width: 260px;
		margin-bottom: -85px;
		margin-left: auto;
		margin-right: auto;
	}
	.thx-page .thx-header__text p:nth-child(2) span .svg__container svg {
		width: 265px;
	}
	.thx-page .header__text_svg {
		display: block;
		width: 100%;
		img {
			display: block;
			margin: 0 auto;
		}
	}
}
/* --------------------------------500------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 500px) {
	.main-header {
		padding-left: 15px;
		padding-right: 15px;
	}
	.first-screen {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.first-screen__container .container__figure {
		left: 10%;
	}
	.second-screen__title {
		font-size: 34px;
		line-height: 42px;
	}
	.second-screen__container .container__item {
		max-width: 300px;
		padding-left: 0;
		padding-bottom: 0;
		text-align: center;
	}
	.second-screen__container .container__item .item__icon {
		position: static;
	}
	.second-screen {
		padding-bottom: 60px;
	}
	.footer__bottom-line {
		min-height: 173px;
		position: relative;
	}
	.policy__container {
		position: absolute;
		bottom: 13px;
		width:250px;
		text-align: center;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.lsg {
		position: absolute;
		bottom: 88px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.social__container {
		display: block;
		text-align: center;
		float: none;
	}
	.main-footer {
		-webkit-background-size: auto 700px;
		background-size: auto 700px;
	}
	.main-footer.visible #boat_animatiton {
		bottom: 110px;
	}
	.share__container {
		padding: 30px 15px;
	}
	.share__link .link__body .body__icon {
		display: none;
	}
	.share__link .link__body .body__text {
		left: 10px;
	}
	.social__title, .link__title {
		line-height: 26px;
	}
	.second-screen_thx__item .item__right-col .right-col_-wrapper {
		padding-left: 5px;
		padding-top: 145px;
		margin-bottom: 35px;
	}
	.second-screen_thx {
		.site-wrapper {
			padding-left: 15px;
		}
	}
	.second-screen_thx__item .item__right-col .right-col__text {
		display: block;
		height: auto;
	}
	.second-screen_thx__item .item__right-col .right-col__container {
		left: -25px;
	}
	.second-screen_thx__item .item__left-col {
		left: 15px;
	}
	.first-screen_thx__banner {
		padding: 20px 15px;
		background-position: 93% 50%;
	}
	.first-screen_thx__banner .banner__text {
		font-size: 18px;
		line-height: 26px;
	}
	.first-screen__title {
		font-size: 34px;
		line-height: 40px;
	}
	.foote-col:nth-child(2) {
		min-width: auto;
	}
	.footer__form {
		margin-right: 0;
	}
	.third-screen_thx__container .container__item {
		width: 100%;
	}
	.fifth-screen_thx__item {
		padding-left: 0;
		padding-top: 128px;
		text-align: center;
	}
	.fifth-screen_thx__item .item__icon {
		left: 50%;
		transform: translate(-50%);
	}
	.fifth-screen_thx__item .item__text {
		text-align: left;
	}
	.thx-page .foote-col:nth-child(2) {
		width: 100%;
	}
}
/* --------------------------------400------------------------------------ */
/* -------------------------------\  /------------------------------------ */
/* --------------------------------\/------------------------------------- */
@media (max-width: 420px) {
	.foote-col .footer__form {
		padding-top: 60px;
	}
	.footer__form .form__container {
		margin-bottom: 45px;
	}
	.footer__form .form__container label {
		top: -25px;
		left: 0;
	}
	.footer__form .form__container input {
		width: 100%;
	}
	.footer__form .form__container .form__icon {
		left: 13px;
	}
	.footer__form .form__container .help-block {
		width: 100%;
	}
	.foote-col:nth-child(2) {
		min-height: 615px;
	}
	.footer__form .form__container:nth-child(3),
	.footer__form .form__container:nth-child(4) {
		margin-bottom: 10px;
	}
	.footer__form .form__text {
		width: 100%;
	}
	.thx-page .header__text_svg {
		display: none;
	}
	.thx-page .thx-header__text p:nth-child(2) {
		margin-bottom: 30px;
	}
}
@media (max-width: 400px) {
	.header__col {
		img {
			transform: translateX(-10px);
		}
	}
	.first-screen__container .container__figure {
		margin-left: 0;
	}
	.first-screen__container {
		overflow: hidden;
	}
	.header__title_big {
		font-size: 30px;
		line-height: 30px;
	}
}