/************************************************************************
// 1. HERO-HEADER
*************************************************************************/
.main-header {
	padding-top: 73px;
	padding-bottom: 0px;
	color: #fff;
	text-align: center;
	background:linear-gradient(to top, #4eb6c2, #3492a4) ;
	position: relative;
	z-index: 1;
	text-shadow: 0 -1px 0 #115765;
	overflow: hidden;
}
.header__col {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 2;
	&.book_col {
		transform: translate(-1000px, 0);
		opacity: 0;
		transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), 
		opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21);
		&.visible {
			transform: translate(0px);
			opacity: 1;
			transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21), 
			opacity 1s cubic-bezier(0.42, 0, 0.55, 1.21);
		}
	}
	&.right__col {
		text-align: left;
		max-width: 506px;
		width: 100%;
		margin-left: 18px;
		padding-top: 15px;
	}
}
.header__title  {
	font-family: $slab;
	margin-bottom: 67px;
	transform: translate(1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.header__list {
	font-family: $slab;
	margin-bottom: 11px;
	transform: translate(1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.header__description {
	font-family: $slab;
	margin-bottom: 35px;
	font-size: 30px;
	span {
		white-space: nowrap;
	}
	transform: translate(1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.header__title_big {
	font-size: 48px;
	font-family: $slab;
	line-height: 56px;
	margin-bottom: 60px;
	transform: translate(1000px, 0);
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.42, 0, 0.55, 1.21),
	opacity 1.2s cubic-bezier(0.42, 0, 0.55, 1.21);
	&.visible {
		transform: translate(0, 0);
		opacity: 1;
	}
}
.button {
	display: inline-block;
	background: #ff5722;
	border: none;
	border-radius: 28px;
	height: 55px;
	color: #fff;
	font-size: 18px;
	font-family: $roboto;
	text-shadow: 0 -1px 0 #a92900;
	text-transform: uppercase;
	padding-bottom: 4px;
	box-shadow: 0 4px 0 #c2380c;
	cursor: pointer;
	transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0 2px 0 #c2380c;
		transform: translate(0, 2px);
		transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	}
	&:active {
		box-shadow: 0 0 0 #c2380c;
		transform: translate(0, 4px);
		transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	}
}
.header__button {
	max-width: 336px;
	width: 100%;
	
}
.button__container {
	position: relative;
	display: inline-block;
	max-width: 336px;
	width: 100%;
	transform: scale(4);
	opacity: 0;
	animation-duration: 0.3s;
	animation-iteration-count: initial;
	animation-direction: normal;
	animation-timing-function: ease-out;
	animation-fill-mode:forwards;
	&.visible {
		opacity: 1;
		animation-name: btn_animate;
		transition: opacity 0.4s cubic-bezier(0.42, 0, 0.55, 1.21);
	}
}
@keyframes btn_animate {
	70% {
		transform: scale(0.9);	
	}
	90% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
} 
.button__container {
	 .icon {
		opacity: 0;
		transition: transform 0.6s cubic-bezier(0.42, 0, 0.55, 1.21),
		opacity 0.8s cubic-bezier(0.42, 0, 0.55, 1.21);
	}
	&.visible {
		.icon {
			opacity: 1;
		}
		.icon-zmi {
			transform: scale(1);
		}
	} 
}

/************************************************************************
// 2. FIRST SEREN
*************************************************************************/
.first-screen {
	padding-top: 57px;
	padding-bottom: 10px;
	color: #333333;
	text-align: center;
	overflow: hidden;
}
.first-screen__title {
	font-family: $roboto;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.8s linear, transform 0.6s ease-out;
	&.visible {
		opacity: 1;
		transform: scale(1);
	}
}
.first-screen__container {
	text-align: left;
	font-family: $slab;
	margin-top: 50px;
	.container__list {
		float: left;
		width: 50%;
		li {
			position: relative;
			padding-left: 60px;
			min-height: 56px;
			line-height: 28px;
			.list__icon {
				display: block;
				position: absolute;
				top: -5px;
				left: 7px;
				width: 33px;
				height: 33px;
				svg {
					width: 33px;
					height: 33px;
					fill:#008aa4;
				}
			}
		}
	}
}
.container__list {
	&:nth-child(1) {
		li {
			&:nth-child(1) {
				opacity: 0;
				transform:translate(-1000px);
				transition: transform 1s ease-out, 
				opacity 1.4s ease-out;
			}
			&:nth-child(2) {
				opacity: 0;
				transform:translate(-2000px);
				transition: transform 1s ease-out, 
				opacity 1.4s ease-out;
			}
			&:nth-child(3) {
				opacity: 0;
				transform:translate(-3000px);
				transition: transform 1s ease-out, 
				opacity 1.4s ease-out;
			}
			&:nth-child(4) {
				opacity: 0;
				transform:translate(-4000px);
				transition: transform 1s ease-out, 
				opacity 1.4s ease-out;
			}
		}
		&.visible {
			li {
				&:nth-child(1) {
					opacity: 1;
					transform:translate(0px);
					transition: transform 0.6s ease-out, 
					opacity 1.4s ease-out;
				}
				&:nth-child(2) {
					opacity: 1;
					transform:translate(0px);
					transition: transform .8s ease-out, 
					opacity 1.4s ease-out;
				}
				&:nth-child(3) {
					opacity: 1;
					transform:translate(0px);
					transition: transform 1s ease-out, 
					opacity 1.4s ease-out;
				}
				&:nth-child(4) {
					opacity: 1;
					transform:translate(0px);
					transition: transform 1.2s ease-out, 
					opacity 1.4s ease-out;
				}
			}
		}
	}
}
.container__list {
	&:nth-child(2) {
		li {
			&:nth-child(1) {
				opacity: 0;
				transform:translate(1000px);
				transition: transform 1s ease-out, 
				opacity 1.4s ease-out;
			}
			&:nth-child(2) {
				opacity: 0;
				transform:translate(2000px);
				transition: transform 1s ease-out, 
				opacity 1.4s ease-out;
			}
			&:nth-child(3) {
				opacity: 0;
				transform:translate(3000px);
				transition: transform 1s ease-out, 
				opacity 1.4s ease-out;
			}
			&:nth-child(4) {
				opacity: 0;
				transform:translate(4000px);
				transition: transform 1s ease-out, 
				opacity 1.4s ease-out;
			}
		}
		&.visible {
			li {
				&:nth-child(1) {
					opacity: 1;
					transform:translate(0px);
					transition: transform 0.6s ease-out, 
					opacity 1.4s ease-out;
				}
				&:nth-child(2) {
					opacity: 1;
					transform:translate(0px);
					transition: transform .8s ease-out, 
					opacity 1.4s ease-out;
				}
				&:nth-child(3) {
					opacity: 1;
					transform:translate(0px);
					transition: transform 1s ease-out, 
					opacity 1.4s ease-out;
				}
				&:nth-child(4) {
					opacity: 1;
					transform:translate(0px);
					transition: transform 1.2s ease-out, 
					opacity 1.4s ease-out;
				}
			}
		}
	}
}
.first-screen__banner {
	max-width: 980px;
	width: 100%;
	padding: 23px 20px;
	border: 1px dashed #008aa4;
	border-radius: 5px;
	margin-top: 49px;
	transform: scale(4);
	opacity: 0;
	transition: transform 0.4s ease-out, 
	opacity 0.6s linear;
	&.visible {
		transform: scale(1);
		opacity: 1;
	}
}
.banner__text {
	font-size: 30px;
	font-family: $slab;
	font-weight: 300;
	line-height: 42px;
	span {
		font-weight: 400;
		color: #008aa4;
	}
}