/************************************************************************
// 3. SECOND SCREEN
*************************************************************************/
.second-screen {
	padding-top: 39px;
	padding-bottom: 105px;
	text-align: center;
	color: #333333;
	opacity: 0;
	transition: opacity 0.8s ease-out;
	&.visible {
		opacity: 1;
	}
}
.second-screen__title {
	font-family: $roboto;
}
.second-screen__container {
	margin-top: 30px;
	position: relative;
	.container__row {
		.row__item {
			max-width: 252px;
			width: 100%;
			text-align: left;
			position: relative;
			padding-top: 160px;
			.item__title {
				font-family: $roboto;
				text-transform: uppercase;
				margin-bottom: 31px;
			}
			.item__text {
				font-family: $slab;
				line-height: 28px;
			}
			.item__icon {
				position: absolute;
				top: 16px;
				right: -32px;
				svg {
					width: 140px;
					height: 140px;
				}
			}
		}
		&:nth-child(1) {
			.row__item {
				&:nth-child(1) {
					text-align: right;
					float: left;
				}
				&:nth-child(2) {
					float: right;
					.item__icon {
						right: auto;
						left: -36px;
					}
				}
			}
		}
		&:nth-child(2) {
			.row__item {
				max-width: 504px;
				padding-top: 104px;
				margin-left: 32%;
				.item__icon {
						right: auto;
						left: -164px;
						top: 32px;
						svg{
							width: 130px;
						}
					}
			}
		}
	}
	.container__figure {
		width: 391px;
		height: 391px;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		top: 73px;
		left: 50%;
		transform: translate(-50%, 0);
		background: url('../img/svg/boat_bg.svg') no-repeat 50% 50%;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.container__dashed {
		width: 391px;
		height: 391px;
		position: absolute;
		top: 73px;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: -1;
		.figure_dashed {
			&:nth-child(1) {
				width: 187px;
				height: 200px;
				position: absolute;
				top: 14px;
				left: -46px;
			}
			&:nth-child(2) {
				width: 76px;
				height: 175px;
				position: absolute;
				top: 24px;
				left: auto;
				right: -38px;
				transform: rotate(11deg);
			}
			&:nth-child(3) {
				width: 147px;
				height: 171px;
				position: absolute;
				top: auto;
				bottom: -114px;
				left: -33px;
				right: auto;
			}
			&:nth-child(4) {
				width: 142px;
				height: 171px;
				position: absolute;
				top: auto;
				bottom: -9px;
				left: auto;
				right: 66px;
				transform: rotate(-73deg); 
			}
		}
	}
	.figure__boat {
		width: 155px;
		position: absolute;
		bottom: 0px;
		left: 135px;
		animation-name: boat_animation;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
		z-index: 2;
	}
}
.figure_dashed {

}
@keyframes boat_animation {
	20% {
		transform: translateY(-5px) rotate(-2deg);
	}
	40% {
		transform: translateY(5px);
	}
	60% {
		transform: translateY(-5px) rotate(2deg);
	}
	80% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(-5px) rotate(-2deg);
	}
}

/************************************************************************
// 4. FOOTER
*************************************************************************/
.main-footer {
	padding-top: 58px;
	background: #41a4b3;
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
}
.thankyou-page .main-footer {
	background: #016f80;
	padding-top: 0;
}
.footer__container {
	margin-bottom: 3px;
	position: relative;
	z-index: 2;
}
.foote-col {
	float: left;
	width: 50%;
	.footer__title {
		font-size: 24px;
		font-weight: 400;
		line-height: 28px;
		color: #fff;
		font-family: $roboto;
		text-shadow: 0 -1px 0 #0085a3;
	}
	.footer__text {
		font-family: $slab;
		font-size: 30px;
		line-height: 42px;
		font-weight: 400;
		text-shadow: 0 -1px 0 #0085a3;
		color: #fff;
		margin-top: 74px;
		margin-bottom: 22px;
	}
}
.footer__form {
	display: block;
	margin-top: -19px;
	margin-right: 5px;
	float: right;
	max-width: 390px;
	width: 100%;
	background: #dbf1ec;
	box-shadow: 0 0  5px #2e7f9d;
	padding: 40px 25px;
	border-radius: 3px;
	.form__container {
		text-align: right;
		position: relative;
		margin-bottom: 14px;
		height: 44px;
		transition: height 0.2s ease;
		&.has-error {
			height: 84px;
			transition: height 0.2s ease;
			font-family: $roboto;
			.form__icon svg {
				fill:#d67252;
			}
		}
		.help-block {
			width: 252px;
			text-align: left;
			color: red;
			margin-top: 5px;
			font-weight: 300;
			font-size: 15px;
		}
		input {
			display: inline-block;
			background: #eef7f5;
			border: 1px solid #96b9b9;
			height: 44px;
			width: 250px;
			border-radius: 5px;
			box-shadow: inset 0 2px 2px 0px #a1c3bb;
			font-size: 18px;
			font-family: $roboto;
			font-weight: 300;
			padding-left: 45px;
			box-sizing: border-box;
		}
		label {
			font-family: $roboto;
			font-size: 18px;
			font-weight: 300;
			position: absolute;
			left: 0;
			top: 9px;
		}
		.form__icon {
			display: block;
			position: absolute;
			top: 13px;
			left: 102px;
			svg {
				fill:#8daeae;
				width: 20px;
				height: 20px;
			}
		}
	}
	.form__text {
		text-align: left;
		width: 249px;
		font-size: 14px;
		line-height: 18px;
		font-family: $roboto;
		font-weight: 300;
	}
	.form__button {
		margin-top: 25px;
		width: 100%;
		overflow: hidden;
		svg {
			width: 0;
			height: 0;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-400px, -50%);
			transition: transform 0.6s ease, width 0.6s linear;
		}
		p {
			transition: transform 0.5s linear, opacity 0.3s linear;
		}
		&.disabled {
			transform: translate(0, 4px);
			box-shadow: 0 0px #c2380c;
			transition: transform 0.3s ease, box-shadow 0.3s ease;
			svg {
				transform: translate(-50%, -50%);
				width: 42px;
				height: 42px;
			}
			p {
				transform: translate(400px, 0);
				opacity: 0;
			}
		}
	}
}
.footer__bottom-line {
	padding: 15px;
	padding-top: 15px;
	position: relative;
	z-index: 2;
	background: #3492a4;
}
.policy__container {
	display: inline-block;
	vertical-align: middle;
	.policy {
		display: inline-block;
		vertical-align: middle;
		font-family: $roboto;
		font-size: 16px;
		color:#64b3bf;
		text-decoration: underline;
	}
}
.footer__logo {
	display: inline-block;
	vertical-align: middle;
	font-family: $roboto;
	margin-right: 5px;
	svg {
		width: 50px;
		height: 50px;
		fill:#64b3bf;
		transition: transform 1s ease-out;
		&:hover {
			transform:rotate(360deg);
			transition: transform 1s ease-out;
		}
	}
}
.social__container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 270px;
	a {
		display: inline-block;
		width: 45px;
		height: 45px;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%;
		margin-left: 5px;
		svg {
			fill:#64b3bf;
			width: 25px;
			height: 25px;
			margin-top: 8px;
		}
	}
}
.lsg {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: 10px;
	svg {
		vertical-align: middle;
		width: 90px;
		height: 29px;
	}
}
.waves
{
	width:100%;
	height:300px;
  	min-height:10em;
	position:absolute;
	overflow:hidden;
	z-index: 1;
	bottom: 0;
	transform: rotate(180deg);
}
.wave
{
	width:calc( 100% + 4em );
	height:100%;
	position:absolute;
	left:-2em;
	background:bottom center repeat-x;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.wave_1
{
  animation-name:wave_1;
  animation-duration:3400ms;
  animation-delay:-1200ms;
  top:-1.0em;
  z-index:1;
  opacity:0.10;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="246" height="2000" viewBox="0 0 246 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#153C65" d="M0 2000c50.43 0 72.57-20.522 123-20.522 50.43 0 71.34 20.522 123 20.522V0H0v2000z"/></svg>'); 
  background-position:bottom left;
}

.wave_2
{
  animation-name:wave_2;
  animation-duration:3200ms;
  animation-delay:-600ms;
  top:-2.0em;
  z-index:2;
  opacity:0.25;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="307" height="2000" viewBox="0 0 307 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#056272" d="M0 0h307v2000c-64.47 0-90.563-25.623-153.5-25.623C90.565 1974.377 62.935 2000 0 2000V0z"/></svg>');
  background-position:bottom right;
}

.wave_3
{
  animation-name:wave_3;
  animation-duration:2800ms;
  animation-delay:-2400ms;
  top:-3.0em;
  z-index:3;
  opacity:0.50;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="384" height="2000" viewBox="0 0 384 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#07798d" d="M0 0h384v2000c-80.64 0-113.28-32.047-192-32.047S78.72 2000 0 2000V0z"/></svg>');
  background-position:bottom center;
}


/* Wave animations */

@keyframes wave_1
{
	from { transform: rotate(0deg)   translatey(-0.61em) rotate(0deg)    ; }
	to   { transform: rotate(360deg) translatey(-0.61em) rotate(-360deg) ; }
}

@keyframes wave_2
{
	from { transform: rotate(0deg)   translatey(-0.77em) rotate(0deg)    ; }
	to   { transform: rotate(360deg) translatey(-0.77em) rotate(-360deg) ; }
}

@keyframes wave_3
{
	from { transform: rotate(0deg)   translatey(-0.96em) rotate(0deg)    ; }
	to   { transform: rotate(360deg) translatey(-0.96em) rotate(-360deg) ; }
}
.ankor {
	width: 142px;
	height: 174px;
	position: absolute;
	bottom: -14px;
	left: 50%;
	transform-origin: 50% 100%;
	animation-name: ankor_animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes ankor_animation {
	100% {
		transform: rotate(10deg);
	}
}
/************************************************************************
// 5. HEADER THX
*************************************************************************/
.header_thx {
	color: #fff;
	text-shadow: 0 -1px 0 #115765;
	background: linear-gradient(to top, #4eb6c2, #3492a4);
	text-align: center;
	overflow: hidden;
	padding-top: 135px;
	padding-bottom: 60px;
	font-family: $slab;
	position: relative;

}
.header_thx__title {
	margin-bottom: 30px;
	position: relative;
	z-index: 2;
}
.header_thx__description {
	margin-bottom: 15px;
	position: relative;
	z-index: 2;
}
.thx_book {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -48%);
	width: 257px;
	z-index: 1;
	&:after {
		content:"";
		display: block;
		width: 250px;
		height: 250px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border:1px dashed #4db5c1;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-timing-function: linear;
		animation-fill-mode:forwards;
		animation-name: echolocator;
		}
	&:before {
		content:"";
		display: block;
		width: 215px;
		height: 215px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border:3px solid #4db5c1;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-timing-function: linear;
		animation-fill-mode:forwards;
		animation-name: echolocator;
	}
	span {
		display: block;
		width: 190px;
		height: 190px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border:1px dashed #4db5c1;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-timing-function: linear;
		animation-fill-mode:forwards;
		animation-name: echolocator;
	}
}

@keyframes echolocator {
	60% {
		opacity: 0;
	}
	100% {
		width: 1000px;
		height: 1000px;
		opacity: 0;
	}
}
/************************************************************************
// 6. FIRST SCREEN THX
*************************************************************************/
.first-screen_thx {
	padding-top: 70px;
}
.first-screen_thx__item {
	position: relative;
	padding-left: 85px;
	margin-bottom: 35px;
	max-width: 870px;
	margin: 0 auto 35px;
	width: 100%;
	.item__text {
		color: #333;
		font-family: $slab;
		line-height: 26px;
		span {
			font-weight: 400;
			color: #009999;
		}
	}
	.item__icon {
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		border: 3px solid #4cb3c0;
		border-radius: 50%;
		top: 5px;
		left: 0;
		&:after {
			content:"";
			display: block;
			width: 11px;
			height: 9px;
			background: #fff;
			position: absolute;
			right:-2px;
			top: 2px;
			transform: rotate(40deg);
		}
		span {
			position: absolute;
			top: 18px;
			left:6px;
			z-index: 2;
			&:before, &:after {
				content:"";
				display: block;
				background: #4cb3c0;
				height: 3px;
			}
			&:before {
				width: 35px;
				transform: rotate(-50deg) translate(8.5px, 4px);
			}
			&:after {
				width: 19px;
				transform: rotate(42deg);
			}
		}
	}
}
.first-screen_thx__banner {
	max-width: 980px;
	width: 100%;
	box-shadow: 0 4px #c2380c;
	border-radius: 3px;
	background: url('../img/banner_bg.png') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	padding: 30px 20px;
	margin: 80px auto 0;
	border:none;
	cursor: pointer;
	transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0 2px 0 #c2380c;
		transform: translate(0, 2px);
		transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	}
	&:active {
		box-shadow: 0 0 0 #c2380c;
		transform: translate(0, 4px);
		transition: transform 0.3s ease, 
					box-shadow 0.3s ease;
	}
	.banner__text {
		font-family: $slab;
		color: #fff;
		text-shadow: 0 -1px 0 #b03c17;
	}	
}
/************************************************************************
// 7. SECOND SCREEN THX
*************************************************************************/
.second-screen_thx {
	padding-top: 100px;
	overflow: hidden;
}
.second-screen_thx__item {
	position: relative;
	border-bottom: 1px dashed #4cb3c0;
	padding-bottom: 30px;
	padding-top: 30px;
	&:last-child {
		border-bottom:none;
	}
	.item__left-col {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		.left-col__icon {
			display: block;
			width: 60px;
			height: 60px;
			background: #4cb3c0;
			overflow: hidden;
			position: relative;
			border-radius:50%; 
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			margin-bottom: 7px;
			svg {
				fill:#276e7b;
				width: 60px;
				height: 65px;
				transform: translate(0, 8px);
				vertical-align: middle;
			}
		}
		.left-col__text {
			font-family: $roboto;
			font-size: 20px;	
			font-weight: 400;
			color: #333;
		}
		.left-col__arrow {
			transform: rotate(180deg) ;
			display: inline-block;
		}
	}
	.item__right-col {
		float: right;
		max-width: 672px;
		width: 100%;
		.right-col_-wrapper {
			padding-left: 250px;
			position: relative;
			min-height: 152px;
		}
		.right-col__container {
			position: absolute;
			top: 0;
			left: 0;
		}
		.container__picture {

		}
		.container__x2 {
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 3px solid #3cb3c0; 
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -30px;
			text-align: right;
			line-height: 40px;
			padding-right: 5px;
			vertical-align: middle;
			span {
				font-size: 34px;
				color: #4cb3c0;
				font-family: $roboto;
				text-align: right;
				position: relative;
				&:after, &:before {
					content:"";
					display: block;
					background: #4cb3c0;
					height: 3px;
					width: 16px;
					position: absolute;
					top: 22px;
					right: 19px;
				}
				&:after{
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}

		}
		.right-col__text {
			color: #333333;
			line-height: 26px;
			font-family: $slab;
			display: table-cell;
			height: 152px;
			vertical-align: middle;
			box-sizing: border-box;
			p {
				
			}
		}
	}	
}
/************************************************************************
// 8. THIRD SCREEN THX
*************************************************************************/
.share-section {
	padding-top: 20px;
	padding-bottom: 70px;
	padding-left: 20px;
	padding-right: 20px;
}
.share__container {
	max-width: 980px;
	width: 100%;
	padding: 40px 30px;
	border:3px solid #4cb3c0;
	margin: 0 auto;
	border-radius: 3px;
}	
.share__social {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	ul {
		li {
			display: inline-block;
			margin-right: 15px;
			cursor: pointer;
			position: relative;
			a {
				position: absolute;
				top: 4px;
				left: 5px;
				opacity: 0;
				width: 42px;
				height: 42px;	
			}
			svg {
				fill:#4cb3c0;
				width: 42px;
				height: 42px;
			}
			#fb_btn {
				top: 0;
				left: 0;
			}
		}
	}
}
.social__title,
.link__title {
	font-family: $slab;
	font-size: 20px;
	font-weight: 300;
	color: #333333;
	margin-bottom: 10px;

}
.share__link {
	float: right;
	max-width: 68%;
	width: 100%;
	.link__body{
		width: 100%;
		height: 42px;
		background: #efefef;
		box-shadow: inset 1px 1px 2px #999999;
		border-radius: 3px;
		line-height: 42px;
		padding-left: 11px;
		position: relative;
		overflow: hidden;
		.body__icon {
			display: inline-block;
			margin-right: 6px;
			svg {
				vertical-align: middle;
				fill:#666666;
				width: 20px;
				height: 20px;
			}
		}
		.body__text {
			vertical-align: middle;
			font-weight: 300;
			font-size: 16px;
			font-family: $slab;
			color: #333333;
			white-space: nowrap;
			position: absolute;
			top: 0;
			left: 40px;
		}
	}
}

#twitter-widget-0 {
	width: 42px !important;
	height: 42px !important;
	position: absolute !important;
	top: 6px !important;
	left: 0 !important;
	opacity: 0 !important;
}

/************************************************************************
// 9. TP 1-ST SCREEN
*************************************************************************/
.thx-page {
	.main-header {
		padding-top: 45px;
		overflow: visible;
		color: #fff;
		text-shadow: 0 -1px 0 #115765;
		font-family: $slab;
		font-weight: 300;
		font-size: 20px;
		background: linear-gradient(to bottom, #4eb6c2, #3492a4);
		padding-bottom: 0;
		.additional__wrapper {
			overflow: hidden;
		}
	}
	.top-banner {
		background: #318899;
		box-shadow: 0 0 5px rgba(102, 239, 255, 0.25);
		padding: 46px 0 46px 59px;
		border-radius: 3px;
		transform: translate(0, -500px);
		opacity: 0;
		transition: transform 0.4s ease, opacity 0.7s ease;
		&.visible {
			transform: translate(0);
			opacity: 1;
		}
	}
	.top-banner__col {
		text-align: left;
		&:nth-child(1) {
			float:left;
			margin-right: 60px;
		}
		.col__title {
			font-weight: 400;
			font-size: 48px;
		}
		.col__text {
			line-height: 28px;
		}
	}
	.book {
		margin-top: 48px;
		margin-left: 7px;
		width: 326px;
		float: left;
		margin-bottom: -153px;
		transform: translate(-1000px, 0);
		opacity: 0;
		transition: transform 0.5s ease, opacity 0.7s ease;
		&.visible {
			transform: translate(0);
			opacity: 1;
		}
	}	
	.thx-header__text {
		float: left;
		width: 600px;
		text-align: left;
		line-height: 28px;
		padding-top: 60px;
		p {
			margin-top: 30px;
			&:nth-child(1) {
				transform: translate(1000px, 0);
				opacity: 0;
				transition: transform 0.5s ease, opacity 0.6s ease;
				&.visible {
					transform: translate(0);
					opacity: 1;
				}
			}
			&:nth-child(2) {
				span {
					font-weight: 400;
					fill:#59d6e4;
					display: inline;
					position: relative;
					white-space: nowrap;
					br {
						display: none;
					}
					.svg__container	{
						position: absolute;
						right: -8px;
						bottom: -25px;
						overflow: hidden;
						&:after {
							content:"";
							display: block;
							background-color: #3898A9;
							overflow: hidden;
							width: 100%;
							height: 100%;
							position: absolute;
							top: 5px;
							left: 0;
							transition: transform 1s linear;
						}
						&.visible:after  {
							transform: translate(100%, 0);
						}
					}
				}
				position: relative;
				transform: translate(2000px, 0);
				opacity: 0;
				transition: transform 0.6s ease, opacity 0.8s ease;
				&.visible {
					transform: translate(0);
					opacity: 1;
				}
			}
		}
	}
	.header__text_svg {
		margin-top: 60px;
		transform: translate(0, 300px);
		opacity: 0;
		transition: transform 0.6s ease,
					opacity 0.8s ease;
		&.visible {
			transform: translate(0);
			opacity: 1;
		}					
	}
	.header__elipse {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 100%);
		.rounded_figure {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
		}
		.carrot {
			position: relative;
			z-index: 3;
			animation-name: jumping;
			animation-delay: 1s;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-timing-function: ease;
		}
		@-webkit-keyframes jumping {
	  100% {
	    -webkit-transform: translate(0, 5px);
	            transform: translate(0, 5px); } }
	}
}
/************************************************************************
// 10. TP 2-ND SCREEN
*************************************************************************/
.second-screen_thx {
	padding-top: 110px;
	padding-bottom: 50px;
}
.second-screen_thx__container {
	.container__col {
		font-size: 18px;
		font-weight: 300;
		font-family: $roboto;
		color: #333;
		line-height: 28px;
		padding-left: 25px;
		&:nth-child(1) {
			transform: translate(-2000px, 0);
			opacity: 0;
			transition: transform 0.6s ease, opacity 0.8s ease;
			&.visible {
				transform: translate(0);
				opacity: 1;
			}
		}
		&:nth-child(2) {
			width: 65%;
			margin-left: 45px;
			padding-top: 7px;
			transform: translate(2000px, 0);
			opacity: 0;
			transition: transform 0.6s ease, opacity 0.8s ease;
			&.visible {
				transform: translate(0);
				opacity: 1;
			}
		}
		float: left;
		.col__rect {
			background: #4db4c1;
			transform: rotate(10deg);
			img {
				transform: rotate(-10deg);
			}
		}
		.col__text_it {
			font-style: italic;
			position: relative;
			&:after {
				content:"";
				display: block;
				width: 42px;
				height: 4px;
				background: #3492a4;
				position: absolute;
				bottom: -32px;
				left: 0;
			}
		}
		.col__text {
			margin-top: 54px;
		}
	}
}
/************************************************************************
// 11. TP 3-RD SCREEN
*************************************************************************/
.third-screen_thx {
	padding-top: 56px;
	padding-bottom: 105px;
	color: #333;
	text-align: center;
	overflow: hidden;
}
.third-screen_thx__title {
	font-family: $roboto;
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
}
.third-screen_thx__container {
	margin-top: 46px;
	.container__item {
		text-align: center;
		width: 25%;
		float: left;
		vertical-align: top;
		.item__icon {
			padding-top: 10px;
			display: block;
			background: url('../img/svg/thx_icon_bg1.svg') no-repeat 50% 50%;
			-webkit-background-size: 126px 104px;
			background-size: 126px 104px;
			min-height: 115px;
			position: relative;
			overflow: hidden;
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: rgba(255, 255, 255, 0.71);
				left: 0;top: 0;
				transform: translate(-100%, 0);
				transition: transform 0.7s ease;
				z-index: 2;
			}
			&:hover {
				&:before {
					transform:translate(0);
				}
			}
			svg {
				position: relative;
				z-index: 3;
			}
		}
		.item__text {
			font-size: 18px;
			font-weight: 300;
			font-family: $slab;
			line-height: 28px;
			margin-top: 31px;
		}
		&:nth-child(1){
			transform: translate(-5000px, 0);
			opacity: 0;
			transition: transform 1.2s ease, 
			opacity 0.8s ease;
			&.visible {
				transform: translate(0);
				opacity: 1;
			}
			.item__icon{
				svg {
					width:79px;
					height: 102px;
				}
			}
		}
		&:nth-child(2){
			transform: translate(-4000px, 0);
			opacity: 0;
			transition: transform 1s ease, 
			opacity 0.8s ease;
			&.visible {
				transform: translate(0);
				opacity: 1;
			}
			.item__icon{
				background: url('../img/svg/thx_icon_bg2.svg') no-repeat 50% 50%;
				-webkit-background-size: 126px 104px;
				background-size: 126px 104px;
				svg {
					width:90px;
					height: 100px;
				}
			}
		}
		&:nth-child(3){
			transform: translate(-3000px, 0);
			opacity: 0;
			transition: transform 0.8s ease, 
			opacity 0.8s ease;
			&.visible {
				transform: translate(0);
				opacity: 1;
			}
			.item__icon{
				svg {
					width:108px;
					height: 95px;
				}
			}
		}
		&:nth-child(4){
			transform: translate(-2000px, 0);
			opacity: 0;
			transition: transform 0.6s ease, 
			opacity 0.8s ease;
			&.visible {
				transform: translate(0);
				opacity: 1;
			}
			.item__icon{
				background: url('../img/svg/thx_icon_bg2.svg') no-repeat 50% 50%;
				-webkit-background-size: 126px 104px;
				background-size: 126px 104px;
				svg {
					width:94px;
					height: 102px;
				}
			}
		}
	}
}
/************************************************************************
// 12. TP 4-TH SCREEN
*************************************************************************/
.fourth-screen_thx {
	background: #3696a8;
	padding-top: 60px;
	padding-bottom: 62px;
	color: #fff;
	text-shadow: 0 -1px 0 #115765;
	font-size:24px ;
	text-align: center;
}
.fourth-screen_thx__title {
	font-family: $slab;
	font-weight: 300;
	margin-bottom: 8px;
	line-height: 32px;
	opacity: 0;
	transition: opacity 1.5s linear;
	&.visible {
		opacity: 1;
	}
}
.fourth-screen_thx__subtitle {
	margin-top: 28px;
	line-height: 32px;
	font-family: $roboto;
	font-weight: 400;
	opacity: 0;
	transition: opacity 1.5s linear;
	&.visible {
		opacity: 1;
	}
	&:nth-child(4) {
		margin-top: 8px;
	}
}
.fourth-screen_thx__button {
	max-width: 336px;
	width: 100%;
	margin-top: 58px;
	opacity: 0;
	transition: opacity 1.5s linear;
	&.visible {
		opacity: 1;
	}
}
/************************************************************************
// 12. TP 5-TH SCREEN
*************************************************************************/
.fifth-screen_thx {
	padding-top: 73px;
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	overflow: hidden;
}
.fifth-screen_thx__title {
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	font-family: $roboto;
	margin-bottom: 80px;
}
.fifth-screen_thx__item {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-left: -2px;
	position: relative;
	padding-left: 175px;
	text-align: left;
	margin-bottom: 54px;
	.item__icon {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background: url('../img/svg/thx_icon_bg1.svg') no-repeat 50% 50%;
		-webkit-background-size: 126px 104px;
		background-size: 126px 104px;
		width: 126px;
		height: 104px;
		text-align: center;
	}
	.item__title {
		font-family: $roboto;
		font-weight: 400;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 32px;
	}
	.item__text {
		font-family: $slab;
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
	}
	&:nth-child(2) {
		transform: scale(0);
		opacity: 0;
		transition: transform 0.6s, opacity 1s linear;
		&.visible {
			transform: scale(1);
			opacity: 1;
		}
		svg {
			width: 138px;
			height: 103px;
			margin-left: -7px;
		}
	}
	&:nth-child(3) {
		transform: scale(0);
		opacity: 0;
		transition: transform 0.6s, opacity 1s linear;
		&.visible {
			transform: scale(1);
			opacity: 1;
		}
		svg {
			width: 86px;
			height: 109px;
		}
	}
	&:nth-child(4) {
		transform: scale(0);
		opacity: 0;
		transition: transform 0.6s, opacity 1s linear;
		&.visible {
			transform: scale(1);
			opacity: 1;
		}
		svg {
			width: 84px;
			height: 103px;
		}
	}
	&:nth-child(5) {
		transform: scale(0);
		opacity: 0;
		transition: transform 0.6s, opacity 1s linear;
		&.visible {
			transform: scale(1);
			opacity: 1;
		}
		svg {
			width: 120px;
			height: 60px;
			margin-top: 23px;
		}
	}
}
/************************************************************************
// 13. TP 6-TH SCREEN
*************************************************************************/
.sixth-screen_thx {
	color: #333;
	text-align: center;
	overflow: hidden;
}
.sixth-screen_thx__title {
	font-family: $roboto;
	font-size: 40px;
	line-height: 48px;
	font-weight: 400; 
	margin-bottom:73px;
}
.sixth-screen_thx__item {
	position: relative;
	text-align: left;
	max-width: 472px;
	width: 100%;
	display: inline-block;
	padding-left: 40px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 103px;
	vertical-align: top;
	.item__icon {
		position: absolute;
		top: 0;
		left: 0;
		svg {
			fill:#008aa4;
			width: 33px;
			height: 33px;
		}
	}
	.item__title {
		font-family: $roboto;
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 27px;
	}
	.item__text {
		font-size: 18px;
		font-family: $slab;
		font-weight: 300;
		line-height: 28px;
	}
	&:nth-child(2) {
		transform: translate(-2000px, 0);
		opacity: 0;
		transition: transform 0.7s linear, opacity 0.9s ease;
		&.visible {
			transform: translate(0);
			opacity: 1;
		}
	}
	&:nth-child(3) {
		transform: translate(2000px, 0);
		opacity: 0;
		transition: transform 0.7s linear, opacity 0.9s ease;
		&.visible {
			transform: translate(0);
			opacity: 1;
		}
	}
	&:nth-child(4) {
		transform: translate(-2000px, 0);
		opacity: 0;
		transition: transform 0.7s linear, opacity 0.9s ease;
		&.visible {
			transform: translate(0);
			opacity: 1;
		}
	}
	&:nth-child(5) {
		transform: translate(2000px, 0);
		opacity: 0;
		transition: transform 0.7s linear, opacity 0.9s ease;
		&.visible {
			transform: translate(0);
			opacity: 1;
		}
	}
}
/************************************************************************
// 14. TP FOOTER SCREEN
*************************************************************************/
.thx-page {
	.main-footer {
		background: url('../img/svg/footer_thx.svg') no-repeat 50% 0;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.foote-col {
		width: 54%;
		&:nth-child(2) {
			width: 46%;
		}
	}
	.footer__subtitle {
		font-family: $slab;
		font-weight: 400;
		font-size: 28px;
		line-height: 36px;
		text-shadow: 0 -1px 0 #0085a3;
		color: #fff;
		margin-bottom: 11px;
		margin-top: 50px;
	}
	.waves {
		.wave_1 {
			background: url('../img/svg/thx_wave.svg') no-repeat 50% -150px;
			opacity: 1;
			-webkit-background-size:cover;
			background-size: cover;
			height: 280px;
		}
	}
	.ankor {
		z-index: 0;
		width: 113px;
		height: 243px;
		bottom: 15px;
	}
}

.final-thx-page {
	min-height: 100vh;
	position: relative;
	padding-bottom: 100px;
	.footer__bottom-line {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.final_tp {
		text-align: center;
		padding-top: 100px;
		h1 {
			color:#3492A4;
			font-family: $slab;
			font-size: 48px;
			line-height: 56px;
			font-weight: 400;
			margin-bottom: 30px;
		}
		p {
			font-weight: 300;
			font-family: $slab;
			line-height: 28px;
			font-size: 18px;
			margin-bottom: 60px;
		}
		img {

		}
	}
}
